{
  "kind": "ConfigMapList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/namespaces/kube-public/configmaps",
  },
  "items": [
    {
      "metadata": {
        "name": "cluster-info",
        "namespace": "kube-public",
        "selfLink": "/api/v1/namespaces/kube-public/configmaps/cluster-info"
      }
    }
    {%- if macvlan %}
    ,
    {
      "metadata": {
        "name": "cni-monkey",
        "namespace": "kube-public",
        "selfLink": "/api/v1/namespaces/kube-public/configmaps/cni-monkey",
      }
    }
    {%- endif %}
  ]
}