{
  "apiVersion": "kubeovn.io/v1",
  "kind": "Subnet",
  "metadata": {
    "annotations": {
    },
    "name": "{{ subnet_name }}",
    "selfLink": "/apis/kubeovn.io/v1/subnets/{{ subnet_name }}",
  },
  "spec": {
    "cidrBlock": "{{ cidr }}",
    "default": false,
    {% if exclude_ips %}
    "excludeIps": {{ exclude_ips | default([])}},
    {% endif %}
    {% if namespaces %}
    "namespaces": {{ namespaces | default([])}},
    {% endif %}
    {% if allow_subnets %}
    "allowSubnets": {{ allow_subnets }},
    {% endif %}
{#    "gateway": "{{ cidr|replace('0/16','1')|replace('0/24','1')  }}",#}
    "gatewayNode": "{{ gateway_node|default() }}",
    "gatewayType": "{{ gateway_type|default('distributed') }}",
    "gateway": "{{ gateway }}",
    "natOutgoing": {{ nat|default(true) }},
    "private": {{ private|default(false) }},
    "protocol": "Ipv4"
  },
  "status": {
    "usingIPs": {{ used|default(0) }},
  }
}