{
  "apiVersion": "kubeovn.io/v1",
  "kind": "IP",
  "metadata": {
    "labels": {
      "ovn.kubernetes.io/subnet": "{{ subnet_name }}"
    },
    "name": "{{ pod_name }}.{{ namespace }}",
    "selfLink": "/apis/kubeovn.io/v1/ips/{{ pod_name }}.{{ namespace }}",
  },
  "spec": {
    "ipAddress": "{{ pod_ip }}",
    "namespace": "{{ namespace }}",
    "podName": "{{ pod_name }}",
    "subnet": "{{ subnet_name }}"
  }
}