{
    "apiVersion": "monitoring.coreos.com/v1",
    "items": [],
    "kind": "PrometheusRuleList",
    "metadata": {
        "continue": "",
        "selfLink": "/apis/monitoring.coreos.com/v1/namespaces/{{ namespace }}/prometheusrules"
    }
}