{
    "apiVersion": "apps/v1",
    "items": [
        {
            "apiVersion": "apps/v1",
            "kind": "DaemonSet",
            "metadata": {
                "name": "{{ daemonset_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/daemonsets/{{ daemonset_name }}"
            },
            "spec": {
                "selector": {
                    "matchLabels": {
                        "app": "{{ daemonset_name }}"
                    }
                },
                "template": {
                    "metadata": {
                        "creationTimestamp": null,
                        "labels": {
                            "app": "{{ daemonset_name }}"
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "name": "{{ daemonset_name }}",
                                "image": "{{ image }}",
                                "resources": {
                                    "limits": {
							        "cpu": "{{ cpu | default("50m") }}",
							        "memory": "{{ memory | default("50Mi") }}"
                                    }
                                },
                                "terminationMessagePath": "/dev/termination-log",
                                "terminationMessagePolicy": "File",
                                "imagePullPolicy": "IfNotPresent"
                            }
                        ],
                        "restartPolicy": "Always",
                        "terminationGracePeriodSeconds": 30,
                        "dnsPolicy": "ClusterFirst",
                        "securityContext": {},
                        "schedulerName": "default-scheduler"
                    }
                },
                "updateStrategy": {
                    "type": "RollingUpdate",
                    "rollingUpdate": {
				        "maxUnavailable": {{ maxunavailable | default(10)}}
                    }
                }
            },
            "status": {

            }
        }
    ]
}