{
 "workloads": {
  "Deployment-{{ deployment_name }}": {
   "{{ service_name }}": [
    {
     "protocol": "{{ protocol }}",
     "host": "{{ host }}",
     "url": "{{ url }}",
     "port": {{ port }},
     "ingress_controller_name": "{{ alb_name }}-{{ alb_namespace }}",
     "ingress_controller_type": "alb2"
    }
   ]
  }
 }
}