{
  "apiVersion": "crd.alauda.io/v1",
  "kind": "ALB2",
  "metadata": {
    "labels": {
      "project.{{ default_label }}/name": "{{ project_name }}"
    },
    "name": "{{ alb_name }}",
    "namespace": "{{ namespace }}",
  },
  "spec": {
    "address": "{{ address }}",
    "bind_address": "",
    "domains": null,
    "iaas_id": "",
    "type": "nginx"
  }
}