{
  "apiVersion": "app.alauda.io/v1alpha1",
  "kind": "HelmRequest",
  "metadata": {
    "finalizers": [
      "captain.cpaas.io"
    ],
    "name": "{{ cluster_name }}-{{ alb_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/app.alauda.io/v1alpha1/namespaces/{{ namespace }}/helmrequests/{{ cluster_name }}-{{ alb_name }}",
  },
  "spec": {
    "chart": "stable/alauda-alb2",
    "clusterName": "{{ cluster_name }}",
    "namespace": "{{ namespace }}",
    "values": {
      "address": "{{ address }}",
      "loadbalancerName": "{{ alb_name }}",
      "global":{
        "namespace": "{{ namespace }}"
      },
      "nodeSelector": {{ nodeSelector }},
      "project": "{{ project_name }}",
      "replicas": {{ replicas }}
    }
  }
}