{
  "apiVersion": "crd.alauda.io/v1",
  "kind": "Frontend",
  "metadata": {
    "name": "{{ frontend_name }}",
    "namespace": "{{ alb_namespace }}",
    "labels": {
      "alb2.{{ default_label }}/name": "{{ alb_name }}"
    },
    "selfLink": "/apis/crd.alauda.io/v1/namespaces/{{ alb_namespace }}/frontends/{{ frontend_name }}",
  },
  "spec": {
    {% if secret_name %}
    "certificate_name": "{{ namespace }}_{{ secret_name }}",
    {% endif %}
    "port": {{ port }},
    "protocol": "{{ protocol }}",
    "serviceGroup": {
      "session_affinity_policy": "{{ policy|default() }}",
      "session_affinity_attribute": "{{ attribute|default() }}",
      "services":
      [
        {% if service_name %}
        {
          "name": "{{ service_name }}",
          "namespace": "{{ namespace }}",
          "port": 80,
          "weight": 100
        },
        {% endif %}
        {% if service_name2 %}
        {
          "name": "{{ service_name2 }}",
          "namespace": "{{ namespace }}",
          "port": 80,
          "weight": 100
        },
        {% endif %}
        {% if service_name3 %}
        {
          "name": "{{ service_name3 }}",
          "namespace": "{{ namespace }}",
          "port": 80,
          "weight": 100
        },
        {% endif %}
      ]
    }
  }
}