{
  "apiVersion": "crd.alauda.io/v1",
  "kind": "ALB2",
  "metadata": {
    "name": "{{ alb_name }}",
    "namespace": "{{ alb_namespace }}",
    "selfLink": "/apis/crd.alauda.io/v1/namespaces/{{ alb_namespace }}/alaudaloadbalancer2/{{ alb_name }}",
    "labels": {
      "cluster.{{ default_label }}/name": "{{ region_name }}",
      "project.{{ default_label }}/name": "{{ project_name }}"
    },
  },
  "spec": {
    "type": "nginx"
  }
}