{
  "apiVersion": "alauda.io/v1",
  "kind": "Subnet",
  "metadata": {
    "name": "{{ subnet_name }}",
    "selfLink": "/apis/alauda.io/v1/subnets/{{ subnet_name }}",
  },
  {% if calico_cidr %}
  "spec": {
    "cidr_block": "{{ calico_cidr }}",
      {% if ipip_mode %}
    "ipip_mode": "{{ ipip_mode }}",
      {% endif %}
      {% if nat_outgoing %}
    "nat_outgoing": "{{ nat_outgoing }}",
      {% endif %}
    "subnet_name": "{{ subnet_name }}"
  }
  {% endif %}
}