{
	"apiVersion": "auth.alauda.io/v1",
	"kind": "UserBinding",
	"metadata": {
		"name": "{{ name }}",
		"annotations": {
			"auth.{{ default_label }}/role.display-name": "{{ _role_displayname }}",
			"auth.{{ default_label }}/user.email": "{{ user_email }}"
		},
		"labels": {
            "auth.{{ default_label }}/user.connector_id": "",
            "auth.{{ default_label }}/user.connector_type": "",
			"{{ default_label }}/cluster": "{{ REGION_NAME }}",
			"{{ default_label }}/namespace": "{{ K8S_NAMESPACE }}",
			"{{ default_label }}/project": "{{ PROJECT_NAME }}",
			"auth.{{ default_label }}/user.email": "{{ base_email }}",
			"auth.{{ default_label }}/role.level": "{{ role_level }}",
			"auth.{{ default_label }}/role.name": "{{ role_name }}",
			"auth.{{ default_label }}/role.display-name": "{{ role_displayname }}"
		}
	}
}