apiVersion: infrastructure.alauda.io/v1alpha1
kind: Feature
metadata:
  name: {{ feature_name }}
  {% if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {% endif %}
  selfLink: /apis/infrastructure.alauda.io/v1alpha1/features/{{ feature_name }}
spec:
  type: {{ feature_name }}
  version: '{{ version }}'