apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ namespace }}
  {% if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {% endif %}
spec:
  progressDeadlineSeconds: 600
  selector:
    matchLabels:
      app: {{ deployment_name }}
  replicas: {{ replicas | default(1) }}
  revisionHistoryLimit: 10
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ deployment_name }}
    spec:
      containers:
        - image: '{{ image| default("index.alauda.cn/alaudaorg/qaimages:helloworld") }}'
          imagePullPolicy: Always
          name: {{ deployment_name }}
          resources:
            limits:
              cpu: 30m
              memory: 30Mi
