[{
  "apiVersion": "app.k8s.io/v1beta1",
  "kind": "Application",
  "metadata": {
    "name": "{{ app_name }}",
    "namespace": "{{ ns_name }}",
    "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ ns_name }}/applications/{{ app_name }}",
    "annotations": {
    {% if display_name %}
    "{{ default_label }}/display-name": "{{ display_name }}",
    {% endif %}
    }
  }
}]