{
  "kind": "FederatedApplicationComponents",
  "apiVersion": "types.kubefed.io/v1beta1",
  "metadata": {
    "name": "{{ app_name }}",
    "namespace": "{{ ns_name }}",
  },
  "spec": {
    "components": [
      {
        "apiVersion": "types.kubefed.io/v1beta1",
        "kind": "FederatedApplication",
        "metadata": {
          {% if display_name %}
          "annotations": {
            "{{ default_label }}/display-name": "{{ display_name }}"
          },
          {% endif %}
          "finalizers": [
            "kubefed.io/sync-controller"
          ],
          "labels": {
            "app.{{ default_label }}/name": "{{ app_name }}.{{ ns_name }}"
          },
          "name": "{{ app_name }}",
          "namespace": "{{ ns_name }}",
          "selfLink": "/apis/types.kubefed.io/v1beta1/namespaces/{{ ns_name }}/federatedapplications/{{ app_name }}",
        },
        "spec": {
          "overrides": [

          ],
          "placement": {
            "clusterSelector": {

            }
          },
          "template": {
            "apiVersion": "app.k8s.io/v1beta1",
            "kind": "Application",
            "metadata": {
              "labels": {
                "{{ default_label }}/federated": "true",
              },
              "name": "{{ app_name }}",
              "namespace": "{{ ns_name }}"
            },
            "spec": {
              "descriptor": {

              },
              "selector": {
                "matchLabels": {
                  "app.{{ default_label }}/name": "{{ app_name }}.{{ ns_name }}"
                }
              }
            }
          }
        }
      }
    ]
  }
}