{
  "apiVersion": "kubeovn.io/v1",
  "kind": "Subnet",
  "metadata": {
    "name": "{{ subnet_name }}"
  },
  "spec": {
    "default": false,
    "protocol": "Ipv4",
    "namespaces": {{ namespaces|default([]) }},
    "cidrBlock": "{{ cidr }}",
    "excludeIps": {{ exclude_ips | default([]) }},
    "natOutgoing": {{ nat|default(true) }},
    "gateway": {{ gateway }},
    "gatewayType": "{{ gateway_type|default('distributed') }}",
    "gatewayNode": "{{ gateway_node|default() }}",
    "private": {{ private|default(false) }},
    "allowSubnets": {{ allow_subnets|default([]) }}
  }
}