apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
  namespace: {{ namespace }}
  {%- if metadata_labels %}
  labels:
  {%- for key in metadata_labels.keys() %}
    {{ key }}: {{ metadata_labels[key] }}
  {%- endfor %}
  {%- endif %}
  {%- if metadata_annotations %}
  annotations:
  {%- for key in metadata_annotations.keys() %}
    {{ key }}: {{ metadata_annotations[key] }}
  {%- endfor %}
  {%- endif %}
spec:
  {% if storageclassname == '' %}
  storageClassName: ''
  {% else %}
  storageClassName: {{ storageclassname }}
  {% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage | default("1Gi") }}
  {%- if spec_volumeName %}
  volumeName: {{ volumename }}
  {%- endif %}
  {%- if selector_matchLabels %}
  selector:
     matchLabels:
     {%- for key in selector_matchLabels.keys() %}
       {{ key }}: {{ selector_matchLabels[key] }}
     {%- endfor %}
  {%- endif %}
