typeMeta:
  kind: application
objectMeta:
  name: {{ app_name }}
  {%- if resourceVersion %}
  resourceVersion: {{ resourceVersion }}
  {%- endif %}
description: {{ app_name }}
deployments:
  - containers:
      - image: '{{image | default("index.alauda.cn/alaudaorg/qaimages:helloworld") }}'
        name: {{ app_name }}
        resources:
          limits:
            cpu: 50m
            memory: 50Mi
          requests:
            cpu: 50m
            memory: 50Mi
    volumeInfos: [[]]
    injectSidecar: 'false'
    replicas: {{ replicas | default(1) }}
    typeMeta:
      kind: application
    objectMeta:
      name: {{ app_name }}