{
	"objectMeta": {
		"name": "{{ app_name }}"{%- if resourceVersion %},{%- endif %}
        {%- if resourceVersion %}
        "resourceVersion": "{{ resourceVersion }}"
        {%- endif %}
	},
	"typeMeta": {
		"kind": "application"
	},
	"deployments": [
        {%- for deployment in deployments %}
        {
		"injectSidecar": "false",
		"objectMeta": {
			"name": "{{ deployment["deploy_name"] }}",
			"labels": {
                {%- for key, value in deployment["labels"].items()  %}
				"{{ key }}": "{{ value }}"
                {%- endfor  %}
			}
		},
		"typeMeta": {
			"kind": "application"
		},
		"replicas": 1,
		"containers": [
            {%- for container in deployment["containers"]  %}
            {
			"name": "{{ container["container_name"] }}",
			"image": "{{ container["image_name"] }}",
			"command": ["{{ container["cmd"]|default("/run.sh") }}"],
			"args": ["{{ container["args"]|default("sh") }}"],
			"env": [
                {%- for key, value in container["envs"].items()  %}
                {
				"name": "{{ key }}",
				"value": "{{ value }}"
			    }{%- if not loop.last %},{%- endif %}
                {%- endfor  %}
            ],
			"envFrom": [
             {%- if container["secret_name"]  %}
             {
				"secretRef": {
					"name": "{{ container["secret_name"] }}"
				}

			},
            {%- endif %}
            {%- if container["configmap_name"]  %}
            {
				"configMapRef": {
					"name": "{{ container["configmap_name"] }}"
				}
			}
            {%- endif %}
            ],
			"resources": {
				"limits": {
					"cpu": "{{ limit_cpu|default("50m") }}",
					"memory": "{{ limit_mem|default("50Mi") }}"
				},
				"requests": {
					"cpu": "{{ request_cpu|default("50m") }}",
					"memory": "{{ request_mem|default("50Mi") }}"
				}
			}
		}{%- if not loop.last %},{%- endif %}
        {%- endfor  %}
        ],
		"volumeInfos": [
            {%- for container in deployment["containers"]  %}
			[
            {%- if container["volume_name"] %}
            {
				"type": "{{ container["volume_type"] }}",
				"resourceName": "{{ container["volume_name"] }}",
				"volumeMountInfos": [{
					"mountPath": "/tmp"
				}]
			}
            {%- endif %}
            ]{%- if not loop.last %},{%- endif %}
            {%- endfor %}
		],
		"networkInfo": {
            {%- if networkInfo %}
			"externalNetworkInfos": [{
				"domainPrefix": "aaaa",
				"domainName": "alauda.cn",
				"host": "aaaaalauda.cn",
				"path": "/app",
				"targetPort": 80
			}],
			"internalNetworkInfos": [{
				"serviceName": "test",
				"protocol": "TCP",
				"sourcePort": 80,
				"targetPort": 80
			}],
			"externalNodePortInfos": [{
				"protocol": "TCP",
				"sourcePort": 80,
				"targetPort": 80,
				"nodePort": {{ range(30000, 32767) | random }}
			}]
            {%- endif %}
		},
		"imagePullSecrets": [{
			"name": "{{ deployment["devops_secret_name"] }}"
		}]
	}{%- if not loop.last %},{%- endif %}
    {%- endfor  %}
    ],
	"description": "{{ app_name }}"
}