appName: {{ appname|default('""') }}
data:
  {{ data }}
typeMeta:
  kind: ConfigMap
objectMeta:
  name: {{ cm_name }}
  namespace: {{ namespace }}
  annotations:
    {{ default_label }}/displayName: {{ cm_name }}