accessModes:
  - {{ type|default("ReadWriteOnce") }}
capacity:
  storage:
    1Gi
objectMeta:
  namespace: {{ namespace }}
  name: {{ pvc_name }}
  annotations:
    {{ default_label }}/displayName: {{ pvc_name }}
storageClass: {{ scs_name }}
typeMeta:
  apiVersion: v1
  kind: PersistentVolumeClaim