apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  annotations:
     {{ default_label }}/displayName: {{ description }}
  namespace: {{ K8S_NAMESPACE }}
type: {{ secret_type }}
data:
{%- if secret_type == "kubernetes.io/tls" %}
    tls.crt: {{ tls_crt }}
    tls.key: {{ tls_key }}
{% elif secret_type == "Opaque" %}
    {{ opaque_data }}
{% elif secret_type == "kubernetes.io/ssh-auth" %}
    ssh-privatekey: {{ ssh_privatevalue }}
{% elif secret_type == "kubernetes.io/basic-auth" %}
    password: {{ password }}
    username: {{ username }}
{% elif secret_type == "kubernetes.io/dockerconfigjson" %}
    .dockerconfigjson: {{ dockerconfigjson }}
{%- endif %}