{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ pod_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/api/v1/namespaces/{{ namespace }}/pods/{{ pod_name }}",
  },
  "spec": {
    "containers": [
      {
        "name": "{{ pod_name }}",
        "image": "{{ image }}",
        "resources": {
          "limits": {
            "cpu": "30m",
            "memory": "30Mi"
          },
          "requests": {
            {% if cpu != 'null' %}
             "cpu": "{{ 30//cpu }}m",
            {% else %}
             "cpu": "30m",
            {% endif %}
            {% if memory != 'null' %}
            "memory": "{{ 30//memory }}Mi",
            {% else %}
            "memory": "30Mi"
            {% endif %}
          }
        },
        "terminationMessagePath": "/dev/termination-log",
        "terminationMessagePolicy": "File",
        "imagePullPolicy": "Always"
      }
    ],
  }
}