{
  "kind": "Cluster",
  "apiVersion": "platform.tkestack.io/v1",
  "spec": {
    "properties": {
      "oversoldRatio": {
        {% if cpu  != 'null' %}
          "cpu": {{ cpu }},
        {% endif %}
        {% if memory != 'null' %}
          "memory": {{ memory }}
        {% endif %}
      }
    }
  }
}