{{ summary }}, Pass {{ pass_num }} cases, {{ notrun_num }} cases not run, Failed {{ failed_num }} cases, Rerun {{ rerun_num }} cases, Skipped {{ skip_num }} cases
<table border="1">
<thead>
<tr>
<td>Case name</td>
<td>Case Flag</td>
<td>Case Detail</td>
<td>Case Time</td>
</tr>
</thead>
<tbody>
<tr>
{%- for case_detail in case_details %}
<tr>
<td>{{ case_detail['case_name'] }}</td>
<td style="color:
{%- if case_detail['case_flag'] == "Passed" and case_detail['case_time'] != "0.00"  %}green
{%- elif (case_detail['case_flag'] == "Passed" and case_detail['case_time'] == "0.00") or case_detail['case_flag'] == "Skipped" or case_detail['case_flag'] == "Rerun" %}orange
{%- else %}red
{%- endif %};">{{ case_detail['case_flag'] }}</td>
<td style="color:
{%- if case_detail['case_flag'] == "Passed" and case_detail['case_time'] != "0.00"  %}green
{%- elif (case_detail['case_flag'] == "Passed" and case_detail['case_time'] == "0.00") or case_detail['case_flag'] == "Skipped" or case_detail['case_flag'] == "Rerun" %}orange
{%- else %}red
{%- endif %};">{{ case_detail['case_detail'] }}</td>
<td style="color:
{%- if case_detail['case_flag'] == "Passed" and case_detail['case_time'] != "0.00"  %}green
{%- elif (case_detail['case_flag'] == "Passed" and case_detail['case_time'] == "0.00") or case_detail['case_flag'] == "Skipped" or case_detail['case_flag'] == "Rerun" %}orange
{%- else %}red
{%- endif %};">{{ case_detail['case_time'] }}</td>
</tr>
{%- endfor %}
</tr>
</tbody>
</table>
