{
  "results": {
    "kind": "EventList",
    "apiVersion": "audit.k8s.io/v1",
    "Items": [
      {
        "Stage": "ResponseComplete",
        "Verb": "{{ operation_type }}",
        "User": {
          "Username": "{{ user_name }}"
        },
        "ObjectRef": {
          "Resource": "{{ resource_type }}",
          {%- if namespace %}
          "Namespace": "{{ namespace }}",
          {%- endif %}
        },
        {%- if region_name %}
        "Cluster": "{{ region_name }}",
        {%- endif %}
        "ReferObject": "{{ resource_name }}"
      }
    ]
  }
}