kind: Job
apiVersion: batch/v1
metadata:
  namespace: {{ namespace }}
  labels:
    cronjob.{{ default_label }}/name: {{ cronjob_name }}
  ownerReferences:
  - apiVersion: batch/v1beta1
    kind: CronJob
    name: {{ cronjob_name }}
spec:
  parallelism: {{ parallelism | default(1) }}
  completions: {{ completions | default(1) }}
  activeDeadlineSeconds: {{ activeDeadlineSeconds | default(600) }}
  backoffLimit: {{ backoffLimit | default(6) }}
  template:
    spec:
      containers:
      - name: {{ cronjob_name }}
        image: '{{image | default("index.alauda.cn/alaudaorg/qaimages:helloworld") }}'
        env:
        - name: SUCCESS_PERCENT
          value: '{{ succes_percent | default(100) }}'
        - name: SLEEP_SECOND
          value: '{{ sleep_second | default(2) }}'
        resources:
          limits:
            cpu: 30m
            memory: 30M
        terminationMessagePolicy: File
      restartPolicy: Never
      terminationGracePeriodSeconds: {{ terminationGracePeriodSeconds | default(30) }}
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler