{
    "apiVersion": "batch/v1",
    "items": [
        {
            "apiVersion": "batch/v1",
            "kind": "Job",
            "metadata": {
                "annotations": {
                    "{{ default_label }}/creator": "{{ username }}"
                },
                "labels": {
                    "job_name": "{{ job_name }}"
                },
                "name": "{{ job_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/batch/v1/namespaces/{{ namespace }}/jobs/{{ job_name }}"
            },
            "spec": {
                "backoffLimit": {{ backoffLimit | default(6) }},
                "completions": {{ parallelism | default(1) }},
                "parallelism": {{ completions | default(1) }},
                "template": {
                    "metadata": {
                        "annotations": {
                            "{{ default_label }}/creator": "{{ username }}",
                            "sidecar.istio.io/inject": "false"
                        },
                        "creationTimestamp": null,
                        "labels": {
                            "job-name": "{{ job_name }}"
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "command": [
                                    "python",
                                    "/entrypoint.py"
                                ],
                                "env": [
                                    {
                                        "name": "SUCCESS_PERCENT",
                                        "value": "{{ succes_percent | default(100) }}"
                                    },
                                    {
                                        "name": "SLEEP_SECOND",
                                        "value": "{{ sleep_second | default(10) }}"
                                    }
                                ],
                                "image": "{{ image }}",
                                "imagePullPolicy": "IfNotPresent",
                                "name": "{{ container_name|default(image.split('/')[-1].split(':')[0]) }}",
                                "resources": {
                                    "limits": {
                                        "cpu": "{{ cpu_limits | default("30m") }}",
                                        "memory": "{{ memory_limits | default("30M") }}"
                                    }
                                },
                                "terminationMessagePath": "/dev/termination-log",
                                "terminationMessagePolicy": "File"
                            }
                        ],
                        "dnsPolicy": "ClusterFirst",
                        "restartPolicy": "Never",
                        "schedulerName": "default-scheduler",
                        "securityContext": {},
                        "terminationGracePeriodSeconds": {{ terminationGracePeriodSeconds | default(30) }}
                    }
                }
            },
            "status": {

            }
        }
    ],
    "kind": "JobList",
    "metadata": {
        "continue": ""
    }
}