{
    "kind": "Job",
    "apiVersion": "batch/v1",
    "metadata": {
        "name": "{{ job_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/batch/v1/namespaces/{{ namespace }}/jobs/{{ job_name }}",
        "labels": {
            "job_name": "{{ job_name }}",
            "{{ key }}": "{{ value }}"
        },
        "annotations": {
            "{{ default_label }}/creator": "{{ username }}"
        }
    },
    "spec": {
        "parallelism": 1,
        "completions": 1,
        "backoffLimit": 6,
        "selector": {
            "matchLabels": {
                "controller-uid": "{{ controller_uid }}"
            }
        },
        "template": {
            "metadata": {
                "creationTimestamp": null,
                "labels": {
                    "controller-uid": "{{ controller_uid }}",
                    "job-name": "{{ job_name }}"
                },
                "annotations": {
                    "{{ default_label }}/creator": "{{ username }}",
                    "sidecar.istio.io/inject": "false"
                }
            },
            "spec": {
                "containers": [
                    {
                        "name": "{{ container_name|default(image.split('/')[-1].split(':')[0]) }}",
                        "image": "{{ image }}",
                        "command": [
                            "python",
                            "/entrypoint.py"
                        ],
                        "env": [
                            {
                                "name": "SUCCESS_PERCENT",
                                "value": "{{ succes_percent | default(100) }}"
                            },
                            {
                                "name": "SLEEP_SECOND",
                                "value": "{{ sleep_second | default(10) }}"
                            }
                        ],
                        "resources": {
                            "limits": {
                                "cpu": "{{ cpu_limits | default("30m") }}",
                                "memory": "{{ memory_limits | default("30M") }}"
                            }
                        },
                        "terminationMessagePath": "/dev/termination-log",
                        "terminationMessagePolicy": "File",
                        "imagePullPolicy": "IfNotPresent"
                    }
                ],
                "restartPolicy": "Never",
                "terminationGracePeriodSeconds": {{ terminationGracePeriodSeconds | default(30) }},
                "dnsPolicy": "ClusterFirst",
                "securityContext": {},
                "schedulerName": "default-scheduler"
            }
        }
    },
    "status": {
        "succeeded": 1
    }
}