apiVersion: devops.alauda.io/v1alpha1
kind: CodeQualityBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  annotations:
    {{ default_label }}/description: {{ description }}
spec:
  secret:
    namespace: {{ secret_namespace|default("global-credentials") }}
    name: {{ secret_name }}
  codeQualityTool:
    name: {{ tool_name }}