apiVersion: devops.alauda.io/v1alpha1
kind: ProjectManagementBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  labels:
    projectManagement: {{ tool_name }}
  annotations:
    {{ default_label }}/description: {{ description }}
spec:
  secret:
    namespace: {{ secret_namespace|default("global-credentials") }}
    name: {{ secret_name }}
    {%- if secret_namespace == "" %}
    usernameKey: username
    apiTokenKey: password
    {%- endif %}
  ProjectManagement:
    name: {{ tool_name }}
  ProjectManagementProjectInfos:
    {%- if jira_id %}
    - id: "{{ jira_id }}"
      key: {{ jira_key }}
      name: {{ jira_name }}
    {%- else %}
    -
    {%- endif %}