{
	"metadata": {
		"annotations": {
			"{{ default_label }}/secretType": "kubernetes.io/basic-auth",
			"{{ default_label }}/toolType": "artifactRegistry",
			"{{ default_label }}/toolItemProject": ""
		}
	},
	"apiVersion": "devops.alauda.io/v1alpha1",
	"kind": "CreateProjectOptions",
	"secretname": "{{ secret_name }}",
	"namespace": "{{ secret_namespace|default("global-credentials") }}",
	"name": "{{ repo_name }}",
	"isRemote": "false",
	"data": {
		"artifactRegistryName": "{{ repo_name }}",
		"artifactType": "Maven2",
		"type": "hosted",
		"versionPolicy": "Release",
		"blobStore": "default"
	}
}