apiVersion: devops.alauda.io/v1alpha1
kind: JenkinsBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  annotations:
    {{ default_label }}/description: {{ description }}
spec:
  account:
    secret:
      namespace: {{ secret_namespace|default("global-credentials") }}
      name: {{ secret_name }}
  jenkins:
    name: {{ tool_name }}