apiVersion: devops.alauda.io/v1alpha1
kind: CodeRepoBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  labels:
    codeRepoService: {{ tool_name }}
  annotations:
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/secretType: kubernetes.io/basic-auth
spec:
  account:
    secret:
      namespace: {{ secret_namespace|default("global-credentials") }}
      name: {{ secret_name }}
  codeRepoService:
    name: {{ tool_name }}