metadata:
  name: {{ name }}
  annotations:
    {{ default_label }}/toolType: "artifactRegistryManager"
    {{ default_label }}/secretType: kubernetes.io/basic-auth
spec:
  secret:
    namespace: {{ secret_namespace|default("global-credentials") }}
    name: {{ secret_name }}
  http:
    host: {{ nexus_url }}
    accessUrl: {{ nexus_url }}
  type: nexus