apiVersion: devops.alauda.io/v1alpha1
kind: ImageRegistryBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  labels:
    imageRegistry: {{ tool_name }}
  annotations:
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/secretType: kubernetes.io/basic-auth
spec:
  secret:
    namespace: {{ secret_namespace|default("global-credentials") }}
    name: {{ secret_name }}
    {%- if secret_namespace == "" %}
    usernameKey: username
    apiTokenKey: password
    {%- endif %}
  imageRegistry:
    name: {{ tool_name }}