apiVersion: devops.alauda.io/v1alpha1
kind: ArtifactRegistryBinding
metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  annotations:
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/secretType: kubernetes.io/basic-auth
spec:
  secret:
    namespace: {{ secret_namespace|default("global-credentials") }}
    name: {{ secret_name }}
  artifactRegistry:
    name: {{ repo_name }}