{%- if kind %}
apiVersion: devops.alauda.io/v1alpha1
kind: {{ kind }}
{%- endif %}
metadata:
  name: {{ tool_name }}
spec:
  http:
    host: {{ host_url }}
    accessUrl: {{ accessUrl }}
  {%- if type %}
  type: {{ type }}
  public: {{ public_flag | default(false) }}
  {%- endif %}
  secret:
    name: {{ secret_name }}
    namespace: {{ secret_namespace }}
