metadata:
  name: {{ bind_name }}
  namespace: {{ namespace }}
  resourceVersion: '{{resourceVersion}}'
  labels:
    {{ default_label }}/project: {{ namespace }}
    codeRepoService: {{ tool_name }}
    codeRepoServiceType: Gitlab
  annotations:
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/secretType: kubernetes.io/basic-auth
    {{ default_label }}/toolAccessUrl: {{ gitlab_url }}
    {{ default_label }}/toolItemKind: CodeRepoBinding
    {{ default_label }}/toolItemType: Gitlab
  ownerReferences:
    - apiVersion: devops.alauda.io/v1alpha1
      kind: {{ kind }}
      name: {{ tool_name }}
      controller: true
      blockOwnerDeletion: true
spec:
  account:
    secret:
      namespace: {{ secret_namespace|default("global-credentials") }}
      name: {{ secret_name }}
    owners:
      - all: true
        name: {{ account }}
        repositories: [{{ repo_name|default() }}]
        type: {{ ower_type|default("User") }}
  codeRepoService:
    name: {{ tool_name }}