{
 "kind": "UserBinding",
 "apiVersion": "auth.alauda.io/v1",
 "metadata": {
  "name": "{{ name }}",
  "creationTimestamp": null,
  "labels": {
   "{{ default_label }}/cluster": "",
   "{{ default_label }}/namespace": "",
   "{{ default_label }}/project": "",
   "auth.{{ default_label }}/role.display-name": "{{ base58_name }}",
   "auth.{{ default_label }}/role.level": "{{ role_level }}",
   "auth.{{ default_label }}/role.name": "{{ role_name }}",
   "auth.{{ default_label }}/user.email": "{{ username }}"
  },
  "annotations": {
   "auth.{{ default_label }}/role.display-name": "{{ role_displayname }}",
   "auth.{{ default_label }}/user.email": "{{ email }}"
  }
 },
 "spec": {},
 "status": {}
}