{
 "metadata": {
  "name": "{{ base_email }}",
  "selfLink": "/apis/auth.alauda.io/v1/users/{{ base_email }}",
  "labels": {
   "auth.{{ default_label }}/user.email": "{{ base_email }}",
   "auth.{{ default_label }}/user.username": "{{ base58_name }}",
   "auth.{{ default_label }}/user.valid": "true"
  },
  "annotations": {
    "{{ default_label }}/display-name": "{{ username }}"
  }
 },
 "spec": {
  "email": "{{ email }}",
  "username": "{{ username }}",
  "groups": [
   "ungrouped"
  ],
  "valid": true,
  "is_admin": true
 },
 "status": {}
}
