{
  "apiVersion": "auth.alauda.io/v1",
  "kind": "UserBinding",
  "metadata": {
    "annotations": {
      "auth.{{ default_label }}/role.display-name": "{{ role_displayname }}",
      "auth.{{ default_label }}/user.email": "{{ email }}"
    },
    "labels": {
      "{{ default_label }}/cluster": "",
      "{{ default_label }}/namespace": "",
      "{{ default_label }}/project": "",
      "auth.{{ default_label }}/role.display-name": "{{ base58_name }}",
      "auth.{{ default_label }}/role.level": "{{ role_level }}",
      "auth.{{ default_label }}/role.name": "{{ role_name }}",
      "auth.{{ default_label }}/user.email": "{{ base_email }}"
    },
    "name": "{{ name }}",
    "selfLink": "/apis/auth.alauda.io/v1/userbindings/{{ name }}"
  },
  "spec": {},
  "status": {}
}