{
  "apiVersion": "auth.alauda.io/v1",
  "kind": "User",
  "metadata": {
    "annotations": {
      "{{ default_label }}/display-name": "{{ username }}"
    },
    "labels": {
      "auth.{{ default_label }}/user.email": "{{ base_email }}",
      "auth.{{ default_label }}/user.username": "{{ base58_name }}",
      "auth.{{ default_label }}/user.valid": "true"
    },
    "name": "{{ base_email }}",
    "selfLink": "/apis/auth.alauda.io/v1/users/{{ base_email }}"
  },
  "spec": {
    "email": "{{ email }}",
    "groups": [
      "ungrouped"
    ],
    "is_admin": false,
    "username": "{{ username }}",
    "valid": true
  }
}
