{
 "metadata": {
  "name": "{{ pipeline_name }}",
  "namespace": "{{ project_name }}"
 },
 "spec": {
  "jenkinsBinding": {
   "name": "{{ jenkins_bind_name }}"
  },
  "runPolicy": "{{ runPolicy }}"
 }
}