{
	"listMeta": {},
	"imagerepositories": [{
		"kind": "imagerepository",
		"metadata": {
			"name": "{{ image_repo_name }}",
			"namespace": "{{ namespace }}",
			"selfLink": "/apis/devops.alauda.io/v1alpha1/namespaces/{{ namespace }}/imagerepositories/{{ image_repo_name }}",
			"labels": {
				"{{ default_label }}/project": "{{ namespace }}",
				"imageRegistry": "{{ harbor_tool_name }}",
			},
			"annotations": {
				"imageRegistryEndpoint": "{{ harbor_url }}",
				"imageRegistryType": "Harbor",
				"secretNamespace": "{{ namespace }}"
			},
			"ownerReferences": [{
				"apiVersion": "devops.alauda.io/v1alpha1",
				"kind": "ImageRegistryBinding",
				"name": "{{ harbor_bind }}",
				"controller": true,
				"blockOwnerDeletion": true
			}]
		},
		"spec": {
			"imageRegistry": {
				"name": "{{ harbor_tool_name }}"
			},
			"imageRegistryBinding": {
				"name": "{{ harbor_bind }}"
			},
			"image": "{{ harbor_repo }}"
		},
		"status": {
        }
	}],
	"errors": []
}