{
	"listMeta": {
	},
	"coderepositories": [ {
		"kind": "coderepository",
		"metadata": {
			"name": "{{ code_repo_name }}",
			"namespace": "{{ namespace }}",
			"selfLink": "/apis/devops.alauda.io/v1alpha1/namespaces/{{ namespace }}/coderepositories/{{ code_repo_name }}",
			"labels": {
				"{{ default_label }}/project": "{{ namespace }}",
				"codeRepoService": "{{ gitlab_tool_name }}"
			},
			"annotations": {
				"secretNamespace": "{{ namespace }}"
			},
			"ownerReferences": [{
				"apiVersion": "devops.alauda.io/v1alpha1",
				"kind": "CodeRepoBinding",
				"name": "{{ gitlab_bind }}",
				"controller": true,
				"blockOwnerDeletion": true
			}]
		},
		"spec": {
			"codeRepoBinding": {
				"name": "{{ gitlab_bind }}"
			},
			"repository": {
				"codeRepoServiceType": "Gitlab",
				"name": "{{ name }}",
				"fullName": "root/{{ name }}",
				"description": "",
				"htmlURL": "{{ gitlab_url }}/{{ gitlab_user }}/{{ name }}",
				"cloneURL": "{{ gitlab_url }}/{{ gitlab_user }}/{{ name }}.git",
				"language": "",
				"owner": {
					"type": "User",
					"id": "1",
					"name": "root"
				},
				"private": true,
				"data": null
			}
		},
		"status": {
			"phase": "Ready",
		}
	}],
	"errors": []
}