{
 "metadata": {
  "namespace": "{{ project_name }}",
  "annotations": {
   "{{ default_label }}/pipelineConfig.name": "{{ pipeline_name }}"
  }
 },
 "spec": {
  "jenkinsBinding": {
   "name": "{{ jenkins_bind_name }}"
  },
  "pipelineConfig": {
   "name": "{{ pipeline_name }}"
  },
  "cause": {
   "type": "manual",
   "message": "Triggered using Alauda DevOps Console"
  }
 }
}