{
	"objectMeta": {
		"name": "{{ pipeline_name }}",
		"namespace": "{{ project_name }}"
	},
	"typeMeta": {
		"kind": "Pipelineconfig"
	},
	"spec": {
		"jenkinsBinding": {
			"name": "{{ jenkins_bind_name }}"
		},
		"runPolicy": "{{ runPolicy }}"
	}
}