metadata:
  annotations:
    {{ default_label }}/unite-quota-fed-clusters: ""
spec:
  clusters:
  {% if clusters %}
  {% for cluster in clusters %}
  - name: {{ cluster.name }}
    quota:
      limits.cpu: {{ cluster.cpu|default("200") }}
      limits.memory: {{ cluster.memory|default("200Gi") }}
      persistentvolumeclaims: {{ cluster.persistentvolumeclaims|default("200") }}
      pods: {{ cluster.pods|default("200") }}
      requests.cpu: {{ cluster.cpu|default("200") }}
      requests.memory: {{ cluster.memory|default("200Gi") }}
      requests.storage: {{ cluster.storage|default("200Gi") }}
  {% endfor %}
  {% else %}
    []
  {% endif %}
