{
    "apiVersion": "auth.alauda.io/v1",
    "kind": "Project",
    "metadata": {
        "annotations": {
            "{{ default_label }}/description": "{{ description }}",
            {% if fed_region %}
            "{{ default_label }}/unite-quota-fed-clusters": "{{ fed_region }}",
            {% endif %}
            "{{ default_label }}/display-name": "{{ display_name }}"
       },
        "labels": {
            "{{ default_label }}/project.level": "1",
            "{{ default_label }}/project.parent": ""
       },
        "name": "{{ project_name }}",
        "namespace": ""
   },
    "spec": {
        "clusters": [
           {%- for region in regions  %}
           {
                "name": "{{ region }}",
                {% if fed_region %}
                "type": "FedMember",
                {% endif %}
                "quota": {
                    "limits.cpu": "{{ cpu|default('200') }}",
                    "limits.memory": "{{ memory|default('200Gi') }}",
                    "persistentvolumeclaims": "{{ pv|default('200') }}",
                    "pods": "{{ pods|default('200') }}",
                    "requests.cpu": "{{ cpu|default('200') }}",
                    "requests.memory": "{{ memory|default('200Gi') }}",
                    "requests.storage": "{{ storage|default('200Gi') }}"
                }
           }{%- if not loop.last %},{%- endif %}
           {%- endfor %}
       ]
   }
}
