apiVersion: auth.alauda.io/v1
kind: ProjectQuota
metadata:
  annotations:
    {{ default_label }}/creator: admin
  labels:
    {{ default_label }}/cluster.name: {{ region_name }}
    {{ default_label }}/cluster.type: ""
    {{ default_label }}/project: {{ project_name }}
  name: {{ project_name }}
spec:
  hard:
    limits.cpu: 200
    limits.memory: 200Gi
    persistentvolumeclaims: 200
    pods: 200
    requests.cpu: 200
    requests.memory: 200Gi
    requests.storage: 200Gi
status:
  {% if assign %}
  hard:
    limits.cpu: {{ limits_cpu | default("100") }}
    limits.memory: {{ limits_memory | default("100Gi") }}
    persistentvolumeclaims: {{ pv | default("100") }}
    pods: {{ pods | default("100") }}
    requests.cpu: {{ requests_cpu | default("100") }}
    requests.memory: {{ requests_memory | default("100Gi") }}
    requests.storage: {{ requests_storage | default("100Gi") }}
  used:
    limits.cpu: 0
    limits.memory: 0
    persistentvolumeclaims: 0
    pods: 0
    requests.cpu: 0
    requests.memory: 0
    requests.storage: 0
  {% else %}
  {}
  {% endif %}