spec:
  clusters:
  {% if clusters %}
  {% for cluster in clusters %}
  - name: {{ cluster.name }}
    quota:
      limits.cpu: {{ cluster.cpu }}
      limits.memory: {{ cluster.memory }}
      persistentvolumeclaims: {{ cluster.persistentvolumeclaims }}
      pods: {{ cluster.pods }}
      requests.cpu: {{ cluster.cpu }}
      requests.memory: {{ cluster.memory }}
      requests.storage: {{ cluster.storage }}
  {% endfor %}
  {% else %}
    []
  {% endif %}
