{
    "metadata": {
        "annotations": {
            "{{ default_label }}/description": "{{ update_desc }}",
            "{{ default_label }}/display-name": "{{ update_display_name }}",
            "{{ default_label }}/creator": "{{ username }}"
       }
   }
}