{
  "spec": {
    "clusters": [
      {%- for region in regions  %}
      {
        "name": "{{ region }}",
        "quota": {}
      }{%- if not loop.last %},{%- endif %}
      {%- endfor %}
    ]
  }
}
