metadata:
  name: {{ email_sender_name }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
  namespace: {{ namespace }}
  labels:
    {{ default_label }}/server: {{ notification_server_name }}
    {{ default_label }}/type: email
data:
  password: {{ password }}
  username: {{ username }}
type: NotificationSender
