spec:
{%- if ResourceQuota == "True" %}
  hard:
    requests.cpu: '{{ requests_cpu | default("100") }}'
    limits.cpu: '{{ limits_cpu | default("100") }}'
    requests.memory: {{ requests_mem | default("100Gi") }}
    limits.memory: {{ limits_mem | default("100Gi") }}
    requests.storage: {{ requests_storage | default("100Gi") }}
    persistentvolumeclaims: '{{ pvc | default("100") }}'
    pods: '{{ pod | default("100") }}'
{%- else %}
  hard: {}
{%- endif %}
