spec:
    limits:
    - type: Container
      default:
        cpu: {{ limitRange_default_cpu | default("100m") }}
        memory: {{ limitRange_default_mem | default("100Mi") }}
      defaultRequest:
        cpu: {{ limitRange_request_cpu | default("100m") }}
        memory: {{ limitRange_request_mem | default("100Mi") }}
      max:
        cpu: '{{ max_cpu | default("1") }}'
        memory: {{ max_mem | default("1Gi") }}
