{
	"apiVersion": "networking.k8s.io/v1",
	"kind": "NetworkPolicy",
	"metadata": {
		"name": "{{ name }}",
		"namespace": "{{ namespace }}"
	},
	"spec": {
		"podSelector": {
		    {%- if podSelector_matchLabels %}
		    "matchLabels": {
				"role": "db"
			}
		    {%- endif %}
		},
		{%- if policyTypes %}
		"policyTypes": ["{{ policytypes }}"],
		{%- endif %}
		{%- if ingress %}
		"ingress": [{
			"from": [{
			    {%- if podSelector %}
				"podSelector": {
				    {%- if matchLabels %}
				    "matchLabels": {
						"app": "mail"
					}
					{%- endif %}
				},
				{%- endif %}
				{%- if namespaceSelector %}
		         "namespaceSelector": {
					 "matchLabels": {
						"env": "production"
					}
				},
				{%- endif %}
				{%- if ipBlock %}
				"ipBlock": {
					"cidr": "{{ cidr }}",
					"except": ["{{ except_1 }}", "{{ except_2 }}"]
				}
				{%- endif %}
			}]
		}],
		{%- endif %}
		{%- if egress %}
		"egress": [{
			"to": [{
			    {%- if podSelector %}
				"podSelector": {},
				{%- endif %}
				{%- if ipBlock %}
				"ipBlock": {
					"cidr": "{{ cidr }}",
					"except": ["{{ except_1 }}", "{{ except_2 }}"]
				}
				{%- endif %}
			}]
		}]
		{%- endif %}
	}
}




