{
	"kind": "NetworkPolicy",
	"apiVersion": "networking.k8s.io/v1",
	"metadata": {
		"name": "{{ network_name }}",
		"namespace": "{{ namespace }}"
	},
	"spec": {
		"podSelector": {
			{%- if matchLabels_role %}
			"matchLabels": {
				"role": "{{ role }}"
			}
			{%- endif %}
		},
		"ingress": [{
		    {%- if from_podSelector %}
			"from": [
				{
					"podSelector": {
					    {%- if matchLabels_role %}
						"matchLabels": {
							"role": "{{ podrole }}"
						}
						{%- endif %}
					}
				},
				{%- if from_ipBlock %}
				{
				  "ipBlock":{
                     "cidr": "{{ subnet_cidr }}"
				  }
				}
				{%- endif %}
			]
            {%- endif %}
		}]
	}
}