apiVersion: "v1"
kind: Secret
type: NotificationSender
metadata:
  labels:
    {{ default_label }}/type: email
    {{ default_label }}/default: 'false'
    {{ default_label }}/server: {{ notification_server_name }}
  namespace: {{ namespace }}
  name: {{ email_sender_name }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
data:
  password: {{ password }}
  username: {{ username }}