apiVersion: "aiops.alauda.io/v1beta1"
kind: NotificationReceiver
metadata:
  labels:
    {{ default_label }}/type: {{ type | default("email") }}
  annotations:
    {{ default_label }}/display-name: {{ display_name }}
  name: {{ name }}
  namespace: {{ namespace }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
spec:
  destination: {{ destination }}