apiVersion: aiops.alauda.io/v1beta1
kind: NotificationTemplate
metadata:
  annotations:
    {%- if description %}
    {{ default_label }}/description: {{ description }}
    {%- endif %}
    {{ default_label }}/display-name: {{ display_name }}
  labels:
    {{ default_label }}/type: {{ type | default("email") }}
  name: {{ name }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
spec:
  {%- if subject %}
  subject: {{ subject }}
  {%- endif %}
  content: {{ content | default("告警啦，告警啦")}}