apiVersion: "aiops.alauda.io/v1beta1"
kind: Notification
metadata:
  annotations:
    {%- if description %}
    {{ default_label }}/description: {{ description }}
    {%- endif %}
    {{ default_label }}/display-name: {{ display_name }}
  name: {{ name }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
  namespace: {{ namespace }}
spec:
  subscriptions:
  - method: {{ method | default("email") }}
    receivers:
    - namespace: {{ namespace }}
      name: {{ receivers }}
    {%- if sender %}
    sender: {{ sender }}
    {%- endif %}
    template: {{ template }}