apiVersion: "aiops.alauda.io/v1beta1"
kind: NotificationServer
metadata:
  labels:
    {{ default_label }}/type: email
  annotations:
    {%- if description %}
    {{ default_label }}/description: {{ description }}
    {%- endif %}
    {{ default_label }}/display-name: {{ display_name }}
  name: {{ notificationserver_name }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
spec:
  email:
    host: {{ host }}
    port: {{ port }}
    ssl: {{ ssl | default(false) }}
    insecureSkipVerify: {{ insecureSkipVerify | default(false) }}