[{
	"apiVersion": "alauda.io/v1",
	"kind": "ClusterAlaudaFeatureGate",
	"metadata": {
		"name": "{{ clusterfeaturename }}"
	},
	"spec": {
	    {%- if dependency %}
        "dependency":{
            "featureGates": [
                "{{ feature_b }}",
                "{{ feature_c }}"
            ],
            "type": "{{ type }}"
        },
	    {%- endif %}
		"description": "{{ description }}",
		"enabled": {{ enabled }},
		"stage": "{{ stage }}"
	}
}]