{
	"apiVersion":"alauda.io/v1",
	"kind":"AlaudaFeatureGate",
	"metadata": {
		"name": "{{ featurename }}",
		"namespace": "{{ namespace }}",
		{% if resourceVersion %}
        "resourceVersion": "{{ resourceVersion }}"
        {% endif %}
	},
	"spec": {
	    {%- if dependency %}
        "dependency":{
            "featureGates": [
                "{{ feature_b }}",
                "{{ feature_c }}"
            ],
            "type": "{{ type }}"
        },
	    {%- endif %}
		"description": "{{ description }}",
		"enabled": {{ enabled }},
		"stage": "{{ stage }}"
	}
}