{
  "apiVersion": "auth.alauda.io/v1",
  "kind": "Project",
  "metadata": {
    "annotations": {
      "{{ default_label }}/description": "{{ description }}",
      "{{ default_label }}/display-name": "{{ display_name }}"
    },
    "labels": {
      "{{ default_label }}/project.level": "1",
      "{{ default_label }}/project.parent": ""
    },
    "name": "{{ project_name }}",
    "selfLink": "/apis/auth.alauda.io/v1/projects/{{ project_name }}"
  },
  "spec": {
    "clusters": [
      {%- for region in regions  %}
      {
        "name": "{{ region }}",
        "quota": {}
      }{%- if not loop.last %},{%- endif %}
      {%- endfor %}
    ]
  }
}