{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "Project.auth.alauda.io \"{{ project_name }}\" is invalid:metadata.name: Invalid value: \"{{ project_name }}\": must be no more than 32 characters",
    "reason": "Invalid",
    "details": {
        "name": "{{ project_name }}",
        "group": "auth.alauda.io",
        "kind": "Project",
        "causes": [
            {
                "reason": "FieldValueInvalid",
                "message": "Invalid value: \"{{ project_name }}\": must be no more than 253 characters",
                "field": "metadata.name"
            }
        ]
    },
    "code": 422
}
