{
  "metadata": {
    "name": "{{ namespace }}",
    "selfLink": "/api/v1/namespaces/{{ namespace }}",
    "labels": {
      "{{ default_label }}/cluster": "{{ region_name }}",
      "{{ default_label }}/project": "{{ project_name }}"
    },
    "annotations": {
    }
  },
  "spec": {
    "finalizers": [
      "kubernetes"
    ]
  },
  "status": {
    "phase": "Active"
  }
}