apiVersion: auth.alauda.io/v1
kind: Project
metadata:
  annotations:
    {{ default_label }}/creator: {{ user }}
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/display-name: {{ display_name }}
  labels:
    {{ default_label }}/project: {{ project_name }}
    {{ default_label }}/project.level: "1"
    {{ default_label }}/project.parent: ""
  name: {{ project_name }}
  selfLink: /apis/auth.alauda.io/v1/projects/{{ project_name }}
spec:
  clusters:
  {% if clusters %}
  {% for cluster in clusters %}
  - name: {{ cluster.name }}
    quota:
      limits.cpu: {{ cluster.cpu|default("200") }}
      limits.memory: {{ cluster.memory|default("200Gi") }}
      persistentvolumeclaims: {{ cluster.persistentvolumeclaims|default("200") }}
      pods: {{ cluster.pods|default("200") }}
      requests.cpu: {{ cluster.cpu|default("200") }}
      requests.memory: {{ cluster.memory|default("200Gi") }}
      requests.storage: {{ cluster.storage|default("200Gi") }}
  {% endfor %}
  {% else %}
    []
  {% endif %}
status:
  phase: Active
