apiVersion: auth.alauda.io/v1
kind: ProjectQuota
metadata:
  generation: ""
  labels:
    {{ default_label }}/cluster.name: {{ region }}
    {{ default_label }}/cluster.type: ""
    {{ default_label }}/project: {{ project }}
  name: {{ project }}
  resourceVersion: ""
spec:
  hard:
    limits.cpu: {{ limits_cpu|default("200") }}
    limits.memory: {{ limits_memory|default("200Gi") }}
    persistentvolumeclaims: {{ pv|default("200") }}
    pods: {{ pods|default("200") }}
    requests.cpu: {{ requests_cpu|default("200") }}
    requests.memory: {{ requests_memory|default("200Gi") }}
    requests.storage: {{ storage|default("200Gi") }}
status: {}
