{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "admission webhook \"project-clusters.auth.{{ default_label }}\" denied the request: Cluster.clusterregistry.k8s.io \"{{ region_name }}\" not found",
    "reason": "NotFound",
    "details": {
        "name": "{{ region_name }}",
        "group": "clusterregistry.k8s.io",
        "kind": "Cluster"
    },
    "code": 404
}