metadata:
  name: TemplateSync
spec:
  source:
    git:
      uri: {{ template_url }}
      ref: {{ template_branch|default("master") }}
    secret:
      name: {{ secret_name }}
      namespace: {{ secret_namespace|default("global-credentials") }}
status:
  error: ""