{
  "kind": "Namespace",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ namespace_name }}",
    "selfLink": "/api/v1/namespaces/{{ namespace_name }}",
{%- if morelabel == "True" %}
    "labels":{
        "{{ default_label }}/cluster":"{{ cluster }}",
        "{{ default_label }}/project":"{{ project }}",
        "morelabel":"mylabel"
    },
{%- else %}
    "labels":{
        "{{ default_label }}/cluster":"{{ cluster }}",
        "{{ default_label }}/project":"{{ project }}"
    },
{%- endif %}
    "annotations": {
    }
  },
  "spec": {
    "finalizers": [
      "kubernetes"
    ]
  },
  "status": {
    "phase": "Terminating"
  }
}