{
        "apiVersion":"v1",
        "kind":"Namespace",
        "metadata":{
            "annotations":{
                "{{ default_label }}/display-name": "{{ display_name }}"
            },
{%- if morelabel == "True" %}
            "labels":{
                "{{ default_label }}/cluster":"{{ cluster }}",
                "{{ default_label }}/project":"{{ project }}",
                "morelabel":"mylabel"
            },
{%- else %}
            "labels":{
                "{{ default_label }}/cluster":"{{ cluster }}",
                "{{ default_label }}/project":"{{ project }}"
            },
{%- endif %}
            "name":"{{ namespace_name }}",
            "selfLink":"/api/v1/namespaces/{{ namespace_name }}"
        },
        "spec":{
            "finalizers":[
                "kubernetes"
            ]
        },
        "status":{
            "phase":"Active"
        }
}