{
 "namespace": {
  "apiVersion": "v1",
  "kind": "Namespace",
  "metadata": {
   "labels": {
    "{{ default_label }}/cluster": "{{ cluster }}",
    "{{ default_label }}/project": "{{ project }}"
   },
   "name": "{{ namespace_name }}",
   "selfLink": "/api/v1/namespaces/{{ namespace_name }}"
  },
  "spec": {
   "finalizers": [
    "kubernetes"
   ]
  },
  "status": {
   "phase": "Active"
  }
 }
{%- if ResourceQuota == "True" %}
,
 "resourcequota": {
  "apiVersion": "v1",
  "kind": "ResourceQuota",
  "metadata": {
   "name": "default",
   "namespace": "{{ namespace_name }}",
   "selfLink": "/api/v1/namespaces/{{ namespace_name }}/resourcequotas/default"
  },
  "spec": {
   "hard": {
    "limits.cpu": "{{ limits_cpu | default("100") }}",
    "limits.memory": "{{ limits_mem | default("100Gi") }}",
    "persistentvolumeclaims": "{{ pvc | default("100") }}",
    "pods": "{{ pod | default("100") }}",
    "requests.cpu": "{{ requests_cpu | default("100") }}",
    "requests.memory": "{{ requests_mem | default("100Gi") }}",
    "requests.storage": "{{ requests_storage | default("100Gi") }}"
   }
  },
  "status": {
   "hard": {
    "limits.cpu": "{{ limits_cpu | default("100") }}",
    "limits.memory": "{{ limits_mem | default("100Gi") }}",
    "persistentvolumeclaims": "{{ pvc | default("100") }}",
    "pods": "{{ pod | default("100") }}",
    "requests.cpu": "{{ requests_cpu | default("100") }}",
    "requests.memory": "{{ requests_mem | default("100Gi") }}",
    "requests.storage": "{{ requests_storage | default("100Gi") }}"
   },
   "used": {
    "limits.cpu": "0",
    "limits.memory": "0",
    "persistentvolumeclaims": "0",
    "pods": "0",
    "requests.cpu": "0",
    "requests.memory": "0",
    "requests.storage": "0"
   }
  }
 }
{%- endif  %}
{%- if LimitRange == "True" %}
,
 "limitrange":
{
  "apiVersion": "v1",
  "kind": "LimitRange",
  "metadata": {
   "name": "default",
   "namespace": "{{ namespace_name }}",
   "selfLink": "/api/v1/namespaces/{{ namespace_name }}/limitranges/default"
  },
  "spec": {
   "limits": [
    {
     "default": {
      "cpu": "{{ limitRange_default_cpu | default("100m") }}",
      "memory": "{{ limitRange_default_mem | default("100Mi") }}"
     },
     "defaultRequest": {
      "cpu": "{{ limitRange_request_cpu | default("100m") }}",
      "memory": "{{ limitRange_request_mem | default("100Mi") }}"
     },
     "max": {
      "cpu": "{{ max_cpu | default("1") }}",
      "memory": "{{ max_mem | default("1Gi") }}"
     },
     "type": "Container"
    }
   ]
  }
 }
{%- endif %}
}
