{
    "kind":"LimitRange",
    "apiVersion":"v1",
    "metadata":{
        "name":"default",
        "namespace":"{{ namespace_name }}",
        "selfLink":"/api/v1/namespaces/{{ namespace_name }}/limitranges/default"
    },
    "spec":{
        "limits":[
            {
                "type":"Container",
                "max":{
                    "cpu":"{{ max_cpu | default("1") }}",
                    "memory":"{{ max_mem | default("1Gi") }}"
                },
                "default":{
                    "cpu":"{{ limitRange_default_cpu | default("100m") }}",
                    "memory":"{{ limitRange_default_mem | default("100Mi") }}"
                },
                "defaultRequest":{
                    "cpu":"{{ limitRange_request_cpu | default("100m") }}",
                    "memory":"{{ limitRange_request_mem | default("100Mi") }}"
                }
            }
        ]
    }
}