{
  "kind": "ResourceQuota",
  "apiVersion": "v1",
  "metadata": {
    "name": "default",
    "namespace": "{{ namespace_name }}",
    "selfLink": "/api/v1/namespaces/{{ namespace_name }}/resourcequotas/default"
  },
  "spec": {
    "hard": {
      "limits.cpu": "{{ limits_cpu | default("100") }}",
      "limits.memory": "{{ limits_mem | default("100Gi") }}",
      "persistentvolumeclaims": "{{ pvc | default("100") }}",
      "pods": "{{ pod | default("100") }}",
      "requests.cpu": "{{ requests_cpu | default("100") }}",
      "requests.memory": "{{ requests_mem | default("100Gi") }}",
      "requests.storage": "{{ requests_storage | default("100Gi") }}"
    }
  },
  "status": {
    "hard": {
      "limits.cpu": "{{ limits_cpu | default("100") }}",
      "limits.memory": "{{ limits_mem | default("100Gi") }}",
      "persistentvolumeclaims": "{{ pvc | default("100") }}",
      "pods": "{{ pod | default("100") }}",
      "requests.cpu": "{{ requests_cpu | default("100") }}",
      "requests.memory": "{{ requests_mem | default("100Gi") }}",
      "requests.storage": "{{ requests_storage | default("100Gi") }}"
    },
    "used": {
      "limits.cpu": "0",
      "limits.memory": "0",
      "persistentvolumeclaims": "0",
      "pods": "0",
      "requests.cpu": "0",
      "requests.memory": "0",
      "requests.storage": "0"
    }
  }
}