{
    "kind": "StorageClass",
    "apiVersion": "storage.k8s.io/v1",
    "metadata":{
        "name": "{{ scs_name }}",
        "selfLink": "/apis/storage.k8s.io/v1/storageclasses/{{ scs_name }}",
        {% if annotations %}
        "annotations": {
            "storageclass.kubernetes.io/is-default-class": "false"
        }
        {% endif %}
    },
    "provisioner": "ceph.rook.io/block",
    {%- if parameters_clusterNamespace %}
    "parameters": {
        "clusterNamespace": "{{ clustername }}"
    },
     {% endif %}
    {%- if parameters_pool %}
    "parameters":{
        "pool": "{{ pool }}"
    },
     {%- endif %}
    "reclaimPolicy": "Delete",
    "volumeBindingMode": "Immediate"
}