{
    "apiVersion": "storage.k8s.io/v1",
    "items": [
        {
            "apiVersion": "storage.k8s.io/v1",
            "kind": "StorageClass",
            "metadata": {
                "annotations": {
                },
                "name": "{{ scs_name }}",
                "selfLink": "/apis/storage.k8s.io/v1/storageclasses/{{ scs_name }}"
            },
            "provisioner": "ceph.rook.io/block",
            "reclaimPolicy": "Delete",
            "volumeBindingMode": "Immediate"
        }
    ],
    "kind": "StorageClassList",
    "metadata": {
        "continue": ""
    }
}