{
    "kind": "StorageClass",
    "apiVersion": "storage.k8s.io/v1",
    "metadata":{
        "name": "{{ scs_name }}",
        "selfLink": "/apis/storage.k8s.io/v1/storageclasses/{{ scs_name }}",
        {% if annotations %}
        "annotations": {
            "storageclass.kubernetes.io/is-default-class": "true"
        }
        {% endif %}
    },
    "provisioner": "ceph.rook.io/block",
    "reclaimPolicy": "Delete",
    "volumeBindingMode": "Immediate"
}