apiVersion: kubeovn.io/v1
kind: Subnet
metadata:
  name: {{ subnet_name }}
  selfLink: /apis/kubeovn.io/v1/subnets/{{ subnet_name }}
spec:
  blockSize: 0
  cidrBlock: {{ calico_cidr }}
  default: false
  gateway: ""
  gatewayNode: ""
  gatewayType: distributed
  natOutgoing: {{ nat }}
  private: false
  protocol: Ipv4
  ipipMode: {{ ipipmode }}