{
  "spec": {
    "namespace": {
      "resource": {
        "apiVersion": "types.kubefed.io/v1beta1",
        "kind": "FederatedNamespace",
        "metadata": {
          {% if display_name %}
          "annotations": {
            "{{ default_label }}/display-name": "{{ display_name }}"
          },
          {% endif %}
          "labels": {
            "{{ default_label }}/project": "{{ project_name }}",
            "federation.{{ default_label }}/hostname": "{{ hostname }}",
            "federation.{{ default_label }}/name": "{{ fed_name }}",
            "federation.{{ default_label }}/override": "{{ override }}"
          },
          "name": "{{ name }}",
          "namespace": "{{ name }}",
          "selfLink": "/apis/types.kubefed.io/v1beta1/namespaces/{{ name }}/federatednamespaces/{{ name }}",
        },
        "spec": {
          "placement": {
            "clusterSelector": {

            }
          },
          "template": {
            "metadata": {
              "labels": {
                "{{ default_label }}/federated": "true",
                "{{ default_label }}/project": "{{ project_name }}"
              }
            }
          }
        }
      },
      "overrides": null
    },
    "resourcequota": {
      "resource": {
        "apiVersion": "types.kubefed.io/v1beta1",
        "kind": "FederatedResourceQuota",
        "metadata": {
          "name": "default",
          "namespace": "{{ name }}",
          "selfLink": "/apis/types.kubefed.io/v1beta1/namespaces/{{ name }}/federatedresourcequotas/default",
        },
        "spec": {
          {% if override == 'true' %}
          "overrides": [
            {% for rq_override in rq_overrides %}
            {
              "clusterName": "{{ rq_override['clustername'] }}",
              "clusterOverrides": [
                {
                  "path": "/spec/hard",
                  "value": {
                    "limits.cpu": "{{ rq_override['cpu'] }}",
                    "limits.memory": "{{ rq_override['memory'] }}",
                    "persistentvolumeclaims": "{{ rq_override['pvc'] }}",
                    "pods": "{{ rq_override['pod'] }}",
                    "requests.cpu": "{{ rq_override['cpu'] }}",
                    "requests.memory": "{{ rq_override['memory'] }}",
                    "requests.storage": "{{ rq_override['storage'] }}"
                  }
                }
              ]
            }{%- if not loop.last %},{%- endif %}
            {% endfor %}
          ],
          {% else %}
          "overrides": null,
          {% endif %}
          "placement": {
            "clusterSelector": {

            }
          },
          "template": {
            "spec": {
              "hard": {
                {% if override == 'true' %}
                {% for rq_override in rq_overrides %}
                {% if rq_override['clustername'] == hostname %}
                    "limits.cpu": "{{ rq_override['cpu'] }}",
                    "limits.memory": "{{ rq_override['memory'] }}",
                    "persistentvolumeclaims": "{{ rq_override['pvc'] }}",
                    "pods": "{{ rq_override['pod'] }}",
                    "requests.cpu": "{{ rq_override['cpu'] }}",
                    "requests.memory": "{{ rq_override['memory'] }}",
                    "requests.storage": "{{ rq_override['storage'] }}"
                {% endif %}
                {% endfor %}
                {% else %}
                    "requests.cpu": '{{ cpu | default("1") }}',
                    "limits.cpu": '{{ cpu | default("1") }}',
                    "requests.memory": {{ memory | default("1Gi") }},
                    "limits.memory": {{ memory | default("1Gi") }},
                    "requests.storage": {{ storage | default("1Gi") }},
                    "persistentvolumeclaims": '{{ pvc | default("1") }}',
                    "pods": '{{ pod | default("1") }}'
                {% endif %}
              }
            }
          }
        }
      }
    },
    "limitrange": {
      "resource": {
        "apiVersion": "types.kubefed.io/v1beta1",
        "kind": "FederatedLimitRange",
        "metadata": {
          "name": "default",
          "namespace": "{{ name }}",
          "selfLink": "/apis/types.kubefed.io/v1beta1/namespaces/{{ name }}/federatedlimitranges/default",
        },
        "spec": {
          {% if override == 'true' %}
          "overrides": [
            {% for lr_override in lr_overrides %}
            {
              "clusterName": "{{ lr_override['clustername'] }}",
              "clusterOverrides": [
                {
                  "path": "/spec/limits/0",
                  "value": {
                    "default": {
                      "cpu": "{{  lr_override['default_cpu'] | default("50m") }}",
                      "memory": "{{  lr_override['default_mem'] | default("50Mi") }}"
                    },
                    "max": {
                      "cpu": "{{ lr_override['max_cpu'] | default("100m") }}",
                      "memory": "{{ lr_override['max_mem'] | default("100Mi") }}"
                    },
                    "type": "Container"
                  }
                }
              ]
            }{%- if not loop.last %},{%- endif %}
            {% endfor %}
          ],
          {% else %}
          "overrides": null,
          {% endif %}
          "placement": {
            "clusterSelector": {

            }
          },
          "template": {
            "metadata": {
              "labels": {
                "{{ default_label }}/federated": "true"
              }
            },
            "spec": {
              "limits": [
                {% if override == 'true' %}
                {% for lr_override in lr_overrides %}
                {% if lr_override['clustername'] == hostname %}
                {
                  "default": {
                    "cpu": "{{ lr_override['default_cpu'] | default("50m") }}",
                    "memory": "{{ lr_override['default_mem'] | default("50Mi") }}"
                  },
                  "max": {
                    "cpu": "{{ lr_override['max_cpu'] | default("100m") }}",
                    "memory": "{{ lr_override['max_mem'] | default("100Mi") }}"
                  },
                  "type": "Container"
                }
                {% endif %}
                {% endfor %}
                {% else %}
                {
                  "default": {
                    "cpu": "{{ default_cpu | default("50m") }}",
                    "memory": "{{ default_mem | default("50Mi") }}"
                  },
                  "max": {
                    "cpu": "{{ max_cpu | default("100m") }}",
                    "memory": "{{ max_mem | default("100Mi") }}"
                  },
                  "type": "Container"
                }
                {% endif %}
              ]
            }
          }
        }
      }
    }
  }
}