{
  "apiVersion": "types.kubefed.io/v1beta1",
  "kind": "FederatedNamespace",
  "metadata": {
    "annotations": {
      "{{ default_label }}/display-name": "{{ display_name }}"
    },
    "finalizers": [
      "kubefed.io/sync-controller"
    ],
    "labels": {
      "{{ default_label }}/project": "{{ project_name }}",
      "federation.{{ default_label }}/hostname": "{{ hostname }}",
      "federation.{{ default_label }}/name": "{{ fed_name }}",
      "federation.{{ default_label }}/override": "{{ override }}"
    },
    "name": "{{ name }}",
    "namespace": "{{ name }}",
    "selfLink": "/apis/types.kubefed.io/v1beta1/namespaces/{{ name }}/federatednamespaces/{{ name }}",
  },
  "spec": {
    "placement": {
      "clusterSelector": {

      }
    },
    "template": {
      "metadata": {
        "labels": {
          "{{ default_label }}/federated": "true",
          "{{ default_label }}/project": "{{ project_name }}"
        }
      }
    }
  }
}
