{
    "kind":"LimitRange",
    "apiVersion":"v1",
    "metadata":{
        "name":"default",
        "namespace":"{{ name }}",
        "selfLink":"/api/v1/namespaces/{{ name }}/limitranges/default"
    },
    "spec":{
        "limits":[
            {
                "type":"Container",
                "max":{
                    "cpu":"{{ max_cpu | default("100m") }}",
                    "memory":"{{ max_mem | default("100Mi") }}"
                },
                "default":{
                    "cpu":"{{ default_cpu | default("50m") }}",
                    "memory":"{{ default_mem | default("50Mi") }}"
                },
                "defaultRequest":{
                    "cpu":"{{ default_cpu | default("50m") }}",
                    "memory":"{{ default_mem | default("50Mi") }}"
                }
            }
        ]
    }
}