{
  "kind": "ResourceQuota",
  "apiVersion": "v1",
  "metadata": {
    "name": "default",
    "namespace": "{{ name }}",
    "selfLink": "/api/v1/namespaces/{{ name }}/resourcequotas/default"
  },
  "spec": {
    "hard": {
      "limits.cpu": "{{ cpu | default('1') }}",
      "limits.memory": "{{ memory | default('1Gi') }}",
      "persistentvolumeclaims": "{{ pvc | default('1') }}",
      "pods": "{{ pod | default('1') }}",
      "requests.cpu": "{{ cpu | default('1') }}",
      "requests.memory": "{{ memory | default('1Gi') }}",
      "requests.storage": "{{ storage | default('1Gi') }}"
    }
  },

}