{
  "apiVersion": "app.k8s.io/v1beta1",
  "kind": "Application",
  "metadata": {
    "name": "{{ app_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applications/{{ app_name }}",
    "annotations": {
    {% if display_name %}
    "{{ default_label }}/display-name": "{{ display_name }}",
    {% endif %}
    }
  },
  "spec": {
    "assemblyPhase": "Succeeded",
    {% if deployment_name or service_name %}
    "componentKinds":
        [
          {% if deployment_name %}
          { "group": "apps", "kind": "Deployment" },
          {% endif %}
          {% if service_name %}
          { "group": "", "kind": "Service" },
          {% endif %}
        ],
    {% endif %}
    {% if deployment_name or service_name %}
    "componentTemplates": [
        {% if deployment_name %}
      {
        "apiVersion": "apps/v1",
        "kind": "Deployment",
        "metadata": {
          "name": "{{ deployment_name }}",
          "namespace": "{{ namespace }}",
          "labels": {
             "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
          }
        },
        "spec": {
          "replicas": {{ replicas|default(1) }},
          "revisionHistoryLimit": 10,
          "selector": {
            "matchLabels": {
              {% if podlabel %}
                  "podlabel": "podlabel",
                {% endif %}
              "service.{{ default_label }}/name": "deployment-{{ deployment_name }}",
              "project.{{ default_label }}/name": "{{ project_name }}",
              "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
            }
          },
            "strategy": {
            "type": "RollingUpdate"
          },
          "template": {
            "metadata": {
              "labels": {
                {% if podlabel %}
                "podlabel": "podlabel",
                {% endif %}
                "service.{{ default_label }}/name": "deployment-{{ deployment_name }}",
                "version": "v1",
                "app": "deployment-{{ deployment_name }}",
                "project.{{ default_label }}/name": "{{ project_name }}",
                "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
              },
              "annotations": {

              }
            },
            "spec": {
              "containers": [
                {
                  "name": "{{ deployment_name }}",
                  "image": "{{ image }}",
                  "resources": {
                    "limits": {
                      "cpu": "30m",
                      "memory": "30Mi"
                    }
                  },
                  "env": [
                    {% if env %}
                    {
                      "name": "env",
                      "value": "ee"
                    },
                    {% endif %}
                    {% if configmap_key %}
                    {
                      "name": "envfromconfigmap",
                      "valueFrom": {
                        "configMapKeyRef": {
                          "name": "{{ configmap_name }}",
                          "key": "{{ configmap_key }}"
                        }
                      }
                    },
                    {% endif %}
                    {% if secret_key %}
                    {
                      "name": "envfromsecret",
                      "valueFrom": {
                        "secretKeyRef": {
                          "name": "{{ secret_name }}",
                          "key": "{{ secret_key }}"
                        }
                      }
                    },
                    {% endif %}
                    {% if file_log_path %}
                    {
                      "name": "__FILE_LOG_PATH__",
                      "value": "{{ file_log_path }}"
                    },
                    {% endif %}
                    {% if exclude_log_path %}
                    {
                      "name": "__EXCLUDE_LOG_PATH__",
                      "value": "{{ exclude_log_path }}"
                    }
                    {% endif %}
                  ],
                  "envFrom": [
                    {% if configmap_name %}
                    {
                      "configMapRef": {
                        "name": "{{ configmap_name }}"
                      }
                    },
                    {% endif %}
                    {% if secret_name %}
                    {
                      "secretRef": {
                        "name": "{{ secret_name }}"
                      }
                    }
                    {% endif %}
                  ],
                  "command": [

                  ],
                  {% if livenessProbe %}
                  "livenessProbe": {
                    "initialDelaySeconds": 10,
                    "periodSeconds": 10,
                    "timeoutSeconds": 30,
                    "successThreshold": 1,
                    "failureThreshold": 5,
                    "httpGet": {
                      "path": "/",
                      "scheme": "HTTP",
                      "port": 80
                    }
                  },
                  {% endif %}
                  {% if readinessProbe %}
                  "readinessProbe": {
                    "initialDelaySeconds": 10,
                    "periodSeconds": 10,
                    "timeoutSeconds": 30,
                    "successThreshold": 1,
                    "failureThreshold": 5,
                    "exec": {
                      "command": [
                        "env"
                      ]
                    }
                  },
                  {% endif %}
                  "volumeMounts": [

                  ]
                }
              ],
              {% if affinity %}
              "affinity": {
                "podAffinity": {
                  "requiredDuringSchedulingIgnoredDuringExecution": [
                    {
                      "topologyKey": "kubernetes.io/hostname",
                      "labelSelector": {
                        "matchLabels": {
                          "app": "deployment-app-nginx",
                          "app.{{ default_label }}/name": "app.jnshi-ns",
                          "project.{{ default_label }}/name": "jnshi",
                          "service.{{ default_label }}/name": "deployment-app-nginx",
                          "version": "v1"
                        }
                      }
                    }
                  ]
                }
              },
              {% endif %}
              "volumes": [

              ],
            }
          },
        }
      },
      {% endif %}
      {% if service_name %}
      {
        "apiVersion": "v1",
        "kind": "Service",
        "metadata": {
          "name": "{{ service_name }}",
          "namespace": "{{ namespace }}"
        },
        "spec": {
          "type": "{{ type|default('ClusterIP') }}",
          "sessionAffinity": "{{ sessionAffinity|default(None) }}",
          "ports": [
            {
              "name": "tcp-80",
              "protocol": "TCP",
              "port": 80
            }
          ],
          "selector": {
            "service.{{ default_label }}/name": "deployment-{{ deployment_name }}",
            "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
          }
        }
      }
      {% endif %}
    ]
    {% endif %}
  }
}