{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Success",
  "details": {
    "name": "{{ deployment_name }}",
    "group": "autoscaling",
    "kind": "horizontalpodautoscalers",
  }
}