[{
  "apiVersion": "app.k8s.io/v1beta1",
  "kind": "Application",
  "metadata": {
    "name": "{{ app_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applications/{{ app_name }}",
    "annotations": {
    {% if display_name %}
    "{{ default_label }}/display-name": "{{ display_name }}",
    {% endif %}
    }
  },
  "spec": {
    "componentKinds":
        [
          {% if deployment_name %}
          { "group": "apps", "kind": "Deployment" },
          {% endif %}
          {% if service_name %}
          { "group": "", "kind": "Service" },
          {% endif %}
        ],
    "descriptor": {

    },
    "selector": {
      "matchLabels": {
        "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
      }
    }
  },
  "status": {
    "state": "Running",
  }
}
]