[
    {
      "apiVersion": "app.k8s.io/v1beta1",
      "kind": "ApplicationHistory",
      "metadata": {
        "labels": {
          "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
        },
        "name": "{{ app_name }}-1",
        "namespace": "{{ namespace }}",
        "ownerReferences": [
          {
            "apiVersion": "app.k8s.io/v1beta1",
            "blockOwnerDeletion": true,
            "controller": false,
            "kind": "Application",
            "name": "{{ app_name }}",
          }
        ],
        "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applicationhistories/{{ app_name }}-1",
      },
      "spec": {
        "resourceDiffs": {
          "create": [
            {
              "kind": "Deployment",
              "name": "{{ app_name }}-dep"
            },
            {
              "kind": "Application",
              "name": "{{ app_name }}"
            }
          ]
        },
        "revision": 1,
      },
      "status": {
        
      }
    },
    {
      "apiVersion": "app.k8s.io/v1beta1",
      "kind": "ApplicationHistory",
      "metadata": {
        "labels": {
          "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
        },
        "name": "{{ app_name }}-2",
        "namespace": "{{ namespace }}",
        "ownerReferences": [
          {
            "apiVersion": "app.k8s.io/v1beta1",
            "blockOwnerDeletion": true,
            "controller": false,
            "kind": "Application",
            "name": "{{ app_name }}",
          }
        ],
        "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applicationhistories/{{ app_name }}-2",
      },
      "spec": {
        "resourceDiffs": {
          "create": [
            {
              "kind": "Service",
              "name": "{{ service_name }}"
            }
          ],
          "update": [
            {
              "kind": "Deployment",
              "name": "{{ deployment_name }}"
            },
            {
              "kind": "Application",
              "name": "{{ app_name }}"
            }
          ]
        },
        "revision": 2,
      },
      "status": {
        
      }
    },
    {
      "apiVersion": "app.k8s.io/v1beta1",
      "kind": "ApplicationHistory",
      "metadata": {
        "annotations": {
          "app.{{ default_label }}/rollback-from": "1"
        },
        "labels": {
          "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
        },
        "name": "{{ app_name }}-3",
        "namespace": "{{ namespace }}",
        "ownerReferences": [
          {
            "apiVersion": "app.k8s.io/v1beta1",
            "blockOwnerDeletion": true,
            "controller": false,
            "kind": "Application",
            "name": "{{ app_name }}",
          }
        ],
        "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applicationhistories/{{ app_name }}-3",
      },
      "spec": {
        "resourceDiffs": {
          "delete": [
            {
              "kind": "Service",
              "name": "{{ service_name }}"
            }
          ],
          "update": [
            {
              "kind": "Deployment",
              "name": "{{ deployment_name }}"
            },
            {
              "kind": "Application",
              "name": "{{ app_name }}"
            }
          ]
        },
        "revision": 3,
        "user": "ares",
      },
      "status": {
        
      }
    }
  ]