{
  "kind": "HorizontalPodAutoscaler",
  "apiVersion": "autoscaling/v1",
  "metadata": {
    "name": "{{ deployment_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/autoscaling/v1/namespaces/{{ namespace }}/horizontalpodautoscalers/{{ deployment_name }}",
  },
  "spec": {
    "scaleTargetRef": {
      "kind": "Deployment",
      "name": "{{ deployment_name }}",
      "apiVersion": "extensions/v1beta1"
    },
    "minReplicas": {{ min }},
    "maxReplicas": {{ max }},
    "targetCPUUtilizationPercentage": {{ percent }}
  }
}