{
  "kind": "PodList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/namespaces/{{ namespace }}/pods",
  },
  "items": [
    {
      "metadata": {
        "name": "{{ pod_name }}",
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deployment_name }}",
          "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
          "project.{{ default_label }}/name": "{{ project_name }}",
          "service.{{ default_label }}/name": "deployment-{{ deployment_name }}",
          "version": "v1"
        },
      },
      "spec": {
        "containers": [
          {
            "name": "{{ deployment_name }}",
            "image": "{{ image }}",
            "resources": {
              "limits": {
                "cpu": "30m",
                "memory": "30Mi"
              },
            },
            "terminationMessagePath": "/dev/termination-log",
            "terminationMessagePolicy": "File",
            "imagePullPolicy": "IfNotPresent"
          }
        ],
        "restartPolicy": "Always",
        "terminationGracePeriodSeconds": 30,
        "dnsPolicy": "ClusterFirst",
        "serviceAccountName": "default",
        "serviceAccount": "default",
        "securityContext": {

        },
        "schedulerName": "default-scheduler",
        "tolerations": [
          {
            "key": "node.kubernetes.io/not-ready",
            "operator": "Exists",
            "effect": "NoExecute",
            "tolerationSeconds": 300
          },
          {
            "key": "node.kubernetes.io/unreachable",
            "operator": "Exists",
            "effect": "NoExecute",
            "tolerationSeconds": 300
          }
        ],
        "priority": 0,
        "enableServiceLinks": True
      },
      "status": {
        "phase": "Running",
      }
    }
  ]
}