[   {
      "apiVersion": "app.k8s.io/v1beta1",
      "kind": "Application",
      "metadata": {
        "annotations": {
        {% if display_name %}
        "{{ default_label }}/display-name": "{{ display_name }}",
        {% endif %}
        },
        "name": "{{ app_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/app.k8s.io/v1beta1/namespaces/{{ namespace }}/applications/{{ app_name }}",
      },
      "spec": {
        "assemblyPhase": "Succeeded",
        "componentKinds": [
          {% if deployment_name %}
          { "group": "apps", "kind": "Deployment" },
          {% endif %}
          {% if service_name %}
          { "group": "", "kind": "Service" },
          {% endif %}
        ],
        "descriptor": {

        },
        "selector": {
          "matchLabels": {
            "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}"
          }
        }
      },
    },
    {% if deployment_name %}
    {
      "apiVersion": "extensions/v1beta1",
      "kind": "Deployment",
      "metadata": {
        "name": "{{ deployment_name }}",
        "namespace": "{{ namespace }}",
        "ownerReferences": [
          {
            "apiVersion": "app.k8s.io/v1beta1",
            "blockOwnerDeletion": True,
            "controller": True,
            "kind": "Application",
            "name": "{{ app_name }}",
          }
        ],
        "selfLink": "/apis/extensions/v1beta1/namespaces/{{ namespace }}/deployments/{{ deployment_name }}",
      },
      "spec": {
        "replicas": {{ replicas }},
        "revisionHistoryLimit": 10,
        "selector": {
          "matchLabels": {
            "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
            "project.{{ default_label }}/name": "{{ project_name }}",
            "service.{{ default_label }}/name": "deployment-{{ deployment_name }}"
          }
        },
        "strategy": {
          "type": "RollingUpdate"
        },
        "template": {
          "metadata": {
            "labels": {
              "app": "deployment-{{ deployment_name }}",
              "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
              "project.{{ default_label }}/name": "{{ project_name }}",
              "service.{{ default_label }}/name": "deployment-{{ deployment_name }}",
              "version": "v1"
            }
          },
          "spec": {
            "containers": [
              {
                "image": "{{ image }}",
                "imagePullPolicy": "IfNotPresent",
                "name": "{{ deployment_name }}",
                "resources": {
                  "limits": {
                    "cpu": "30m",
                    "memory": "30Mi"
                  }
                },
                "terminationMessagePath": "/dev/termination-log",
                "terminationMessagePolicy": "File"
              }
            ],
            "dnsPolicy": "ClusterFirst",
            "restartPolicy": "Always",
            "schedulerName": "default-scheduler",
            "securityContext": {

            },
            "terminationGracePeriodSeconds": 30
          }
        }
      },
    },
    {% endif %}
    {% if service_name %}
    {
       "apiVersion": "v1",
       "kind": "Service",
       "metadata": {
            "labels": {
             "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
        },
        "name": "{{ service_name }}",
        "namespace": "{{ namespace }}",
        "ownerReferences": [
         {
          "apiVersion": "app.k8s.io/v1beta1",
          "blockOwnerDeletion": true,
          "controller": true,
          "kind": "Application",
          "name": "{{ app_name }}",
         }
        ],
        "selfLink": "/api/v1/namespaces/{{ namespace }}/services/{{ service_name }}",
       },
       "spec": {
        "ports": [
         {
          "name": "tcp-80",
          "port": 80,
          "protocol": "TCP",
         }
        ],
        "selector": {
         "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
         "service.{{ default_label }}/name": "deployment-{{ deployment_name }}"
        },
        "sessionAffinity": "{{ sessionAffinity|default(None) }}",
        "type": "{{ type|default('ClusterIP') }}"
       },
        }
    {% endif %}
]