kind: FederatedNamespace
apiVersion: types.kubefed.io/v1beta1
metadata:
  name: {{ name }}
  annotations:
    {{ default_label }}/display-name: '{{ display_name }}'
  labels:
    {{ default_label }}/project: {{ project_name }}
    federation.{{ default_label }}/name: {{ fed_name }}
    federation.{{ default_label }}/hostname: {{ hostname }}
    federation.{{ default_label }}/override: '{{ override }}'
spec:
  namespace:
    resource:
      kind: Namespace
      apiVersion: v1
      metadata:
        name: {{ name }}
        annotations:
          {{ default_label }}/display-name: '{{ display_name }}'
        labels:
          {{ default_label }}/project: {{ project_name }}
          federation.{{ default_label }}/name: {{ fed_name }}
          federation.{{ default_label }}/hostname: {{ hostname }}
          federation.{{ default_label }}/override: '{{ override }}'
  resourcequota:
    resource:
      kind: ResourceQuota
      apiVersion: v1
      metadata:
        name: default
        namespace: {{ name }}
      spec:
    {%- if override == "false" %}
        hard:
          requests.cpu: '{{ cpu | default("1") }}'
          limits.cpu: '{{ cpu | default("1") }}'
          requests.memory: {{ memory | default("1Gi") }}
          limits.memory: {{ memory | default("1Gi") }}
          requests.storage: {{ storage | default("1Gi") }}
          persistentvolumeclaims: '{{ pvc | default("1") }}'
          pods: '{{ pod | default("1") }}'
    {%- else %}
        hard: {}
    overrides:
    {% for rq_override in rq_overrides %}
    - clusterName: {{ rq_override['clustername'] }}
      clusterOverrides:
      - path: "/spec/hard"
        value:
          requests.cpu: '{{ rq_override['cpu'] | default("1") }}'
          limits.cpu: '{{ rq_override['cpu'] | default("1") }}'
          requests.memory: {{ rq_override['memory'] | default("1Gi") }}
          limits.memory: {{ rq_override['memory'] | default("1Gi") }}
          requests.storage: {{ rq_override['storage'] | default("1Gi") }}
          persistentvolumeclaims: '{{ rq_override['pvc'] | default("1") }}'
          pods: '{{ rq_override['pod'] | default("1") }}'
    {% endfor %}
    {%- endif %}
  limitrange:
    resource:
      kind: LimitRange
      apiVersion: v1
      metadata:
        name: default
        namespace: {{ name }}
      spec:
        limits:
        {%- if override == "false" %}
            - type: Container
              default:
                cpu: {{ default_cpu | default("50m") }}
                memory: {{ default_mem | default("50Mi") }}
              max:
                cpu: '{{ max_cpu | default("100m") }}'
                memory: {{ max_mem | default("100Mi") }}
        {%- else %}
            - {}
    overrides:
    {% for lr_override in lr_overrides %}
    - clusterName: {{ lr_override['clustername'] }}
      clusterOverrides:
      - path: "/spec/limits/0"
        value:
          type: Container
          default:
            cpu: {{ lr_override['default_cpu'] | default("50m") }}
            memory: {{ lr_override['default_mem'] | default("50Mi") }}
          max:
            cpu: '{{ lr_override['max_cpu'] | default("100m") }}'
            memory: {{ lr_override['max_mem'] | default("100Mi") }}
    {% endfor %}
          {%- endif %}