{
    "apiVersion": "apps.tkestack.io/v1",
    "kind": "TApp",
    "metadata": {
        "name": "{{ tapp_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/apps.tkestack.io/v1/namespaces/{{ namespace }}/tapps/{{ tapp_name }}",
        "labels": {
           "{{ key }}": "{{ value }}"
        }
    },
    "spec": {
        "forceDeletePod": {{ forcedeletepod | default(false)}},
        "replicas": {{ replicas | default(1)}},
        "selector": {
            "matchLabels": {
                "project.{{ default_label }}/name": "{{ project }}",
                "service.{{ default_label }}/name": "tapp-{{ tapp_name }}"
            }
        },
        "template": {
            "metadata": {
                "annotations": {},
                "labels": {
                    "project.{{ default_label }}/name": "{{ project }}",
                    "service.{{ default_label }}/name": "tapp-{{ tapp_name }}"
                }
            },
            "spec": {
                "containers": [
                    {
                        {%- if args %}
				        "args" :[
				           "{{ args_1 }}",
				           "{{ args_2 }}"
				        ],
				        {%- endif %}
                        {%- if command %}
				        "command" :[
				           "{{ command_1 }}"
				        ],
				        {%- endif %}
                        {%- if env %}
				        "env" :[{
				        "name": "{{ env_name }}",
				        "value": "{{ env_value }}"
				        }],
				        {%- endif %}
                        {%- if envFrom %}
				        "envFrom":[{
				              {%- if configMapRef %}
				              "configMapRef":{
				                 "name": "{{ configmap_name }}"
				              },
				              {%- endif %}
				              {%- if secretRef %}
				              "secretRef":{
				                 "name": "{{ secret_name }}"
				              }
				              {%- endif %}
				         }],
				        {%- endif %}
                        "image": "{{ image }}",
                        {%- if livenessProbe %}
                        "livenessProbe":{
                            "failureThreshold": {{ failurethreshold }},
                            "httpGet": {
                            "path": "{{ path }}",
                            "port": {{ port }},
                            "scheme": "{{ scheme }}"
                            },
                        "initialDelaySeconds": {{ initialdelayseconds }},
                        "periodSeconds": {{ periodseconds }},
                        "successThreshold": {{ successthreshold }},
                        "timeoutSeconds": {{ timeoutSeconds }}
                        },
                        {%- endif %}
                        "name": "helloworld",
                        {%- if ports %}
				        "ports":[{
				           "protocol":"{{ protocol }}",
				           "hostPort": {{ hostPort }},
				           "containerPort": {{ containerPort }}
				         }],
				        {%- endif %}
                        "resources": {
                            "limits": {
                                "cpu": "{{ cpu | default("50m") }}",
                                "memory": "{{ memory | default("50Mi") }}"
                            }
                        },
                        {%- if volumeMounts %}
					    "volumeMounts":[{
					    "mountPath": "{{ mountpath }}",
					    "name": "{{ volume_name }}",
					    "readOnly": {{ readonly | default(false) }}
					    }]
					    {%- endif %}
                    }
                ],
                "nodeSelector": {},
                {%- if hostNetwork %}
				"hostNetwork": {{ hostnetwork }},
				{%- endif %}
                {%- if volumes %}
				"volumes":[{
				    "name": "{{ volume_name }}",
				    "persistentVolumeClaim": {
                        "claimName": "{{ claimname }}"
				    }
				}]
				{%- endif %}
            }
        },
        "updateStrategy": {
            "maxUnavailable": {{ maxunavailable | default(1)}}
        }
    }
}