{
    "apiVersion": "apps.tkestack.io/v1",
    "kind": "TApp",
    "metadata": {
        "name": "{{ tapp_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/apps.tkestack.io/v1/namespaces/{{ namespace }}/tapps/{{ tapp_name }}"
    },
    "spec": {
        "replicas": {{ replicas | default(1)}},
        "selector": {
            "matchLabels": {
                "project.{{ default_label }}/name": "{{ project }}",
                "service.{{ default_label }}/name": "tapp-{{ tapp_name }}"
            }
        },
        "template": {
            "metadata": {
                "creationTimestamp": null,
                "labels": {
                    "project.{{ default_label }}/name": "{{ project }}",
                    "service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
                }
            },
            "spec": {
                "containers": [
                    {
                        "image": "{{ image }}",
                        "name": "helloworld",
                        "resources": {
                            "limits": {
                                "cpu": "{{ cpu | default("50m") }}",
                                "memory": "{{ memory | default("50Mi") }}"
                            }
                        }
                    }
                ]
            }
        },
        "templatePool": {
            "0": {
                "metadata": {
                    "labels": {
                        "project.{{ default_label }}/name": "{{ project }}",
                        "service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
                    }
                },
                "spec": {
                    "containers": [
                        {
                            "image": "{{ image }}",
                            "name": "helloworld",
                            "resources": {
                                "limits": {
                                    "cpu": "{{ cpu | default("50m") }}",
                                    "memory": "{{ memory | default("50Mi") }}"
                                }
                            }
                        }
                    ]
                }
            }
        },
        "templates": {
            "0": "0"
        },
        "updateStrategy": {
            "maxUnavailable": {{ maxunavailable | default(1)}}
        }
    },
    "status": {
        "appStatus": "Running",
        "scaleLabelSelector": "project.{{ default_label }}/name={{ project }},service.{{ default_label }}/name=tapp-{{ tapp_name }}"
    }
}