{
    "apiVersion": "apps.tkestack.io/v1",
    "items": [
        {
            "apiVersion": "apps.tkestack.io/v1",
            "kind": "TApp",
            "metadata": {
                "name": "{{ tapp_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/apps.tkestack.io/v1/namespaces/{{ namespace }}/tapps/{{ tapp_name }}"
            },
            "spec": {
                "replicas": {{ replicas | default(1)}},
                "selector": {
                    "matchLabels": {
                        "project.{{ default_label }}/name": "{{ project }}",
                        "service.{{ default_label }}/name": "tapp-{{ tapp_name }}"
                    }
                },
                "template": {
                    "metadata": {
                        "labels": {
                            "project.{{ default_label }}/name": "{{ project }}",
                            "service.{{ default_label }}/name": "tapp-{{ tapp_name }}"
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "image": "{{ image }}",
                                "name": "helloworld",
                                "resources": {
                                    "limits": {
                                        "cpu": "{{ cpu | default("50m") }}",
                                        "memory": "{{ memory | default("50Mi") }}"
                                    }
                                }
                            }
                        ]
                    }
                },
                "updateStrategy": {
                    "maxUnavailable": {{ maxunavailable | default(1)}}
                }
            },
            "status": {
                }
            }
    ],
    "kind": "TAppList",
    "metadata": {
        "continue": "",
        "selfLink": "/apis/apps.tkestack.io/v1/namespaces/{{ namespace }}/tapps/"
    }
}