{
  "info": {
    "podName": "{{ pod_name }}",
    "containerName": "{{ container_name }}",
    "initContainerName": "",
    "truncated": false
  },
  "selection": {
    "referencePoint": {
      'lineNum': -1
    }
  },
}