{
    "apiVersion": "apps.tkestack.io/v1",
    "items": [
        {
            "apiVersion": "apps.tkestack.io/v1",
            "kind": "TApp",
            "metadata": {
                "labels": {
                    "{{ key }}": "{{ value }}"
                },
                "name": "{{ tapp_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/apps.tkestack.io/v1/namespaces/{{ namespace }}/tapps/{{ tapp_name }}"
            },
            "spec": {
                "replicas": {{ replicas | default(1)}},
                "selector": {
                    "matchLabels": {
                        "service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
					    "project.{{ default_label }}/name": ""
                    }
                },
                "template": {
                    "metadata": {
                        "creationTimestamp": null,
                        "labels": {
                            "service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
					        "project.{{ default_label }}/name": ""
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "image": "{{ image }}",
                                "name": "helloworld",
                                "resources": {}
                            }
                        ]
                    }
                },
                "updateStrategy": {
                    "maxUnavailable": {{ maxunavailable | default(1)}}
                }
            },
            "status": {

            }
        }
    ],
    "kind": "TAppList",
    "metadata": {
        "continue": ""
    }
}