{
  "metadata": {
  "name": "{{ ctr_name }}",
  "namespace": "{{ namespace }}",
  "selfLink": "/apis/app.alauda.io/v1beta1/namespaces/{{ namespace }}/chartrepos/{{ ctr_name }}",
  "labels": {
   "{{ default_label }}/project": "{{ project_name }}"
  },
  "annotations": {
   "{{ default_label }}/display-name": "{{ description | default("description信息") }}"
  }
 },
 "spec": {
  "url": "{{ chartrepo_url }}",
  {%- if source %}
   "source": {
		"url": "{{ chart_url }}",
		"path": "{{ path }}"
   },
   {%- endif %}
  "type": "{{ type }}"
{%- if username  %}
  ,
  "secret": {
   "name": "{{ ctr_name }}"
  }
{%- endif  %}
 },
 "status": {
  "phase": "Pending"
 }
}