{
 "apiVersion": "app.alauda.io/v1alpha1",
 "kind": "ChartRepo",
 "metadata": {
  "name": "{{ ctr_name }}",
  "namespace": "{{ namespace }}",
  "selfLink": "/apis/app.alauda.io/v1alpha1/namespaces/{{ namespace }}/chartrepos/{{ ctr_name }}",
  "labels": {
   "{{ default_label }}/project": "{{ project_name }}"
  },
  "annotations": {
   "{{ default_label }}/display-name": "{{ description | default("description信息") }}"
  }
 },
 "spec": {
  "type": "{{ type }}",
  "url": "{{ chartrepo_url }}"
{%- if username  %}
  ,
  "secret": {
   "name": "{{ ctr_name }}"
  }
{%- endif  %}
 },
 "status": {
  "phase": "Synced"
 }
}