apiVersion: auth.alauda.io/v1
kind: User
metadata:
  name: {{ md5_name }}
spec:
  email: {{ email }}
  groups:
    - ungrouped
  username: {{ username }}
  account: {{ account }}
  password: {{ password }}