spec:
  {% if old_password %}
  old_password: {{ old_password }}
  {% endif %}
  {% if password %}
  password: {{ password }}
  {% endif %}
  {% if username %}
  username: {{ username }}
  {% endif %}