metadata:
  name: {{ secret_name }}
  annotations:
     devops.{{ default_label }}/global: {{ global_flag|default('"true"') }}
     {{ default_label }}/displayName: {{ display_name|default("display") }}
  {%- if tool_type %}
  labels:
      {{ default_label }}/toolType: {{ tool_type }}
      {{ default_label }}/toolTypeName: {{ tooltype_name }}
      {{ default_label }}/toolName: {{ tool_name }}
  {%- endif %}
  namespace: {{ k8s_namespace|default('""') }}
type: {{ secret_type }}
data:
{%- if secret_type == "devops.alauda.io/oauth2" %}
    clientID: {{ client_id }}
    clientSecret: {{ client_key }}
{% elif secret_type == "kubernetes.io/ssh-auth" %}
    ssh-privatekey: {{ ssh_privatevalue }}
{% elif secret_type == "kubernetes.io/basic-auth" %}
    password: {{ password }}
    username: {{ username }}
{% elif secret_type == "kubernetes.io/dockerconfigjson" %}
    .dockerconfigjson: {{ dockerconfigjson }}
{%- endif %}