apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ name }}
  namespace: {{ ns_name }}
{% if data %}
data:
  {%- for key,value in data.items() %}
  {{ key }}: {{ value }}
  {%- endfor %}
{% else %}
{% endif %}
