apiVersion: types.kubefed.io/v1beta1
kind: FederatedApplication
metadata:
  name: {{ app_name }}
  namespace: {{ ns_name }}
  {% if display_name %}
  annotations:
    {{ default_label }}/display-name: "{{ display_name }}"
  {% endif %}
  {% if resourceVersion %}
  resourceVersion: "{{ resourceVersion }}"
  {% endif %}
spec:
  template:
    kind: Application
    apiVersion: app.k8s.io/v1beta1
    metadata:
      name: {{ app_name }}
      namespace: {{ ns_name }}
      {% if upgrade %}
      labels:
        {{ default_label }}/federated: "true"
      {% endif %}
    spec:
      {% if resources == [] %}
      componentTemplates: null
      {% else %}
      assemblyPhase: Succeeded
      componentKinds:
      {%- for rs in resources %}
        {% if 'Service' in rs['resource'] %}
        - group: ''
          kind: Service
        {% elif 'Secret' in rs['resource'] %}
        - group: ''
          kind: Secret
        {% elif 'ConfigMap' in rs['resource'] %}
        - group: ''
          kind: ConfigMap
        {% elif 'StatefulSet' in rs['resource'] %}
        - group: apps
          kind: StatefulSet
        {% elif 'Deployment' in rs['resource'] %}
        - group: apps
          kind: Deployment
        {% endif %}
      {% endfor %}
      descriptor: {}
      selector:
        matchLabels:
          app.{{ default_label }}/name: {{ app_name }}.{{ ns_name }}
      componentTemplates:
      {%- for rs in resources %}
      - resource:
          {{ rs['resource'] | indent(10, false) }}
        {% if rs['overrides'] %}
        overrides:
          {% for resource_override in rs['overrides'] %}
          - clusterName: {{ resource_override['clustername'] }}
            clusterOverrides:
            {% for clusteroverride in resource_override['clusteroverrides'] %}
            - op: replace
              path: "{{ clusteroverride['path'] }}"
              value: {{ clusteroverride['value'] }}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {%- endfor %}
      {% endif %}
  {% if app_overrides %}
  overrides:
  {%- for app_override in app_overrides %}
  - clusterName: {{ app_override['clustername'] }}
    clusterOverrides:
    - op: {{ app_override['op'] }}
      path: /metadata/annotations
      value:
        {{ default_label }}/display-name: {{ app_override['value'] }}
  {% endfor %}
  {% else %}
  overrides: []
  {% endif %}
  placement:
    clusterSelector: {}
