apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}
  namespace: {{ ns_name }}
type: {% if "tls.crt" in data %}kubernetes.io/tls{% elif "ssh-privatekey" in data %}kubernetes.io/ssh-auth{% elif "password" in data %}kubernetes.io/basic-auth{% elif ".dockerconfigjson" in data %}kubernetes.io/dockerconfigjson{% else %}Opaque{% endif %}
data:
  {%- for k in data %}
  {{ k }}: {{ data[k] }}
  {%- endfor %}