apiVersion: apps/v1
kind: {{ kind }}
metadata:
  name: {{ name }}
  namespace: {{ ns_name }}
  labels:
    app: {{ app_name }}
    {%- for label in labels %}
    {{ label }}: {{ labels[label] }}
    {%- endfor %}
spec:
  replicas: {{ replicas| default('1') }}
  {%- if kind=="Deployment" %}
  strategy:
    rollingUpdate:
      maxSurge: {{ maxSurge | default("25%") }}
      maxUnavailable: {{ maxUnavailable | default("25%") }}
  {%- else %}
  updateStrategy:
    rollingUpdate:
      partition: 0
    type: RollingUpdate
  {%- endif %}
  selector:
    matchLabels:
      service.{{ default_label }}/name: {{ kind | lower}}-{{ name }}
      project.{{ default_label }}/name: {{ project }}
  template:
    metadata:
      labels:
        service.{{ default_label }}/name: {{ kind | lower}}-{{ name }}
        version: v1
        app: {{ kind | lower}}-{{ name }}
        project.{{ default_label }}/name: {{ project }}
        app.{{ default_label }}/name: {{ app_name }}.{{ ns_name }}
        {%- for label in labels %}
        {{ label }}: {{ labels[label] }}
        {%- endfor %}
    spec:
      {%- if affinity_match_labels %}
      affinity:
        # affinity: ''/'Anti'
        pod{{ affinity }}Affinity:
          # affinity_type: 'required' (hard)/'preferred' (soft)
          {{ affinity_type | default('required') }}DuringSchedulingIgnoredDuringExecution:
            {%- if affinity_type == 'preferred' %}
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    {%- for affinity_match_label in affinity_match_labels %}
                    {{ affinity_match_label }}: {{ affinity_match_labels[affinity_match_label] }}
                    {%- endfor %}
                topologyKey: kubernetes.io/hostname
              weight: {{ affinity_weight | default(1) }}
            {%- else %}
            - labelSelector:
                matchLabels:
                  {%- for affinity_match_label in affinity_match_labels %}
                  {{ affinity_match_label }}: {{ affinity_match_labels[affinity_match_label] }}
                  {%- endfor %}
              topologyKey: kubernetes.io/hostname
            {%- endif %}
      {%- endif %}
      containers:
      {%- for container in containers %}
      - {{ container | indent(8, false) }}
      {%- endfor %}
      {%- if nodeSelector %}
      nodeSelector:
        {%- for key in nodeSelector %}
        {{ key }}: "{{ nodeSelector[key] }}"
        {%- endfor %}
      {%- endif %}
      {%- if volumes %}
      volumes:
        {%- for volume in volumes %}
        - name: {{ volume["name"] }}
          {%- if "persistentVolumeClaim" in volume %}
          persistentVolumeClaim:
            claimName: '{{ volume["persistentVolumeClaim"]["claimName"] }}'
          {%- elif "hostPath" in volume %}
          hostPath:
            path: '{{ volume["hostPath"]["path"] }}'
          {%- elif "configMap" %}
          configMap:
            name: '{{ volume["configMap"]["name"] }}'
          {%- endif %}
        {%- endfor %}
      {%- endif %}
      {% if hostNetwork %}
      hostNetwork: {{ hostNetwork | default("false") }}
      {% endif %}

