{
    "apiVersion":"v1",
    "kind":"ChartRepoCreate",
    "metadata":{
        "name":"{{ ctr_name }}",
        "namespace":"{{ namespace }}"
    },
    "spec":{
        "chartRepo":{
            "apiVersion":"app.alauda.io/v1alpha1",
            "kind":"ChartRepo",
            "metadata":{
                "name":"{{ ctr_name }}",
                "namespace":"{{ namespace }}",
                "labels":{
                    "{{ default_label }}/project":"{{ project_name }}"
                },
                "annotations":{
                    "{{ default_label }}/display-name":"{{ description | default("description信息") }}"
                }
            },
            "spec":{
                "type": "{{ type }}",
                {%- if source %}
                "source": {
					"url": "{{ chart_url }}",
					"path": "{{ path }}"
				},
				{%- endif %}
                "url":"{{ chartrepo_url }}"
{%- if username %}
                ,
                "secret":{
                    "name":"{{ ctr_name }}"
                }
{%- endif %}
            }
        }
{%- if username %}
        ,
        "secret":{
            "apiVersion":"/v1",
            "kind":"Secret",
            "type":"Opaque",
            "metadata":{
                "name":"{{ ctr_name }}",
                "namespace":"{{ namespace }}"
            },
            "data":{
                "username":"{{ username }}",
                "password":"{{ password }}"
            }
        }
{%- endif %}
    }
}