{
    "apiVersion":"app.alauda.io/v1alpha1",
    "kind":"HelmRequest",
    "metadata":{
        "name":"{{ alb_name }}",
        "namespace":"{{ namespace }}",
        "resourceVersion":"{{ resourceVersion }}",
        "annotations":{

        }
    },
    "spec":{
        "chart":"{{ ctr_name }}/alauda-alb2",
        "clusterName":"{{ cluster_name }}",
        "namespace":"{{ namespace }}",
        "values":{
            "loadbalancerName":"{{ alb_name }}",
            "address":"127.0.0.1",
            "domains":[

            ],
            "nodeSelector":{

            },
            "loadbalancerType":"nginx",
            "replicas":"{{ replicas | default(1) }}",
            "global":{
                "namespace":"{{ namespace }}",
                "labelBaseDomain": "{{ default_label }}",
                "registry":{
                    "address":"{{ registry }}"
                },
                "images":{
                    "alb2":{
                        "repository":"claas/alb2"
                    }
                }
            },
            "resources":{
                "limits":{
                    "cpu":"512m",
                    "memory":"256Mi"
                },
                "requests":{
                    "cpu":"512m",
                    "memory":"256Mi"
                }
            },
            "project":"ALL_ALL"
        }
    }
}