apiVersion: tkestack.io/v1
kind: CronHPA
metadata:
  name: {{ cronhpa_name | default(workload_name) }}
  namespace: {{ ns_name }}
  {%- if ownerReferences %}
  ownerReferences:
    - apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
      blockOwnerDeletion: true
      controller: true
      kind: {{ kind | default("Deployment") }}
      name: {{ workload_name }}
  {%- endif %}
spec:
  scaleTargetRef:
    apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
    kind: {{ kind | default("Deployment") }}
    name: {{ workload_name }}
  {%- if cron_rules %}
  crons:
    {%- for rule in cron_rules %}
    - schedule: {{ rule["schedule"] }}
      targetReplicas: {{ rule["targetReplicas"] }}
    {%- endfor %}
  {%- else %}
  crons: []
  {%- endif %}