apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ hpa_name | default(workload_name) }}
  namespace: {{ ns_name }}
  {%- if ownerReferences %}
  ownerReferences:
    - apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
      blockOwnerDeletion: true
      controller: true
      kind: {{ kind | default("Deployment") }}
      name: {{ workload_name }}
  {%- endif %}
spec:
  maxReplicas: {{ maxReplicas | default(3) }}
  minReplicas: {{ minReplicas | default(1) }}
  scaleTargetRef:
    apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
    kind: {{ kind | default("Deployment") }}
    name: {{ workload_name }}
  targetCPUUtilizationPercentage: {{ cpu_use | default(10) }}