apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ hpa_name | default(workload_name) }}
  namespace: {{ ns_name }}
  {%- if ownerReferences %}
  ownerReferences:
    - apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
      blockOwnerDeletion: true
      controller: true
      kind: {{ kind | default("Deployment") }}
      name: {{ workload_name }}
  {%- endif %}
spec:
  maxReplicas: {{ maxReplicas | default(3) }}
  minReplicas: {{ minReplicas | default(1) }}
  metrics: {%- for item in metrics %}
    {%- if item["type"] == 'cpu' or item["type"] == 'memory' %}
    - type: Resource
      resource:
        name: {{ item["type"] }}
        target:
          type: Utilization
          averageUtilization: {{ item["value"] }}
    {%- else %}
    - type: Pods
      pods:
        metric:
          name: {{ item["type"] }}
        target:
          type: AverageValue
          averageValue: {{ item["value"] }}
    {%- endif %}
    {% endfor %}
  scaleTargetRef:
    apiVersion: {% if kind == "TApp" %}apps.tkestack.io/v1{% else %}apps/v1{% endif %}
    kind: {{ kind | default("Deployment") }}
    name: {{ workload_name }}
    