{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "reason": "Invalid",
    "details": {
        "name": "{{ name }}",
        "group": "auth.alauda.io",
        "kind": "RoleTemplate",
        "causes": [
            {
                "reason": "FieldValueInvalid",
                "message": "",
                "field": "metadata.name"
            }
        ]
    },
    "code": 422
}