apiVersion: auth.alauda.io/v1beta1
kind: RoleTemplate
metadata:
  annotations:
    {{ default_label }}/creator: {{ creator }}
    {{ default_label }}/description: {{ description }}
    {{ default_label }}/display-name: {{ display_name }}
  labels:
    auth.{{ default_label }}/roletemplate.level: {{ level|default("platform") }}
    auth.{{ default_label }}/roletemplate.official: "false"
    auth.{{ default_label }}/creator.email: {{ md5_email }}
  name: {{ role_name }}
spec:
  customRules: {% if customRules %}
    {% for custome in customRules %}
    - apiGroup: {{ custome.apiGroup }}
      resources:
        - {{ custome.resources }}
      verbs: {% if custome.verbs %}
        {% for foo in custome.verbs %}
        - {{ foo }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    []
  {% endif %}
  rules: {% if rules %}
    {% for rule in rules %}
    - module: {{ rule.module }}
      functionResourceRef: {{ rule.functionResourceRef }}
      verbs: {% if rule.verbs %}
        {% for foo in rule.verbs %}
        - {{ foo }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    []
  {% endif %}
