{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "{{ pod_name }}",
    "namespace": "{{ namespace }}"
  },
  "spec": {
    "containers": [
      {
        "image": "{{ image }}",
        "imagePullPolicy": "Always",
        "name": "{{ pod_name }}",
        "resources": {
          "limits": {
            "cpu": "30m",
            "memory": "30Mi"
          }
        }
      }
    ]
  }
}