objectMeta:
  name: {{ secret_name }}
  annotations:
     devops.{{ default_label }}/global: {{ global_flag|default('"true"') }}
     {{ default_label }}/displayName: {{ display_name|default("display") }}
  namespace: {{ k8s_namespace|default('""') }}
type: {{ secret_type }}
typeMeta:
  kind: Secret
keys:
{%- if secret_type == "devops.alauda.io/oauth2" %}
  - clientSecret
  - clientID
{% elif secret_type == "kubernetes.io/ssh-auth" %}
  - ssh-privatekey
{% elif secret_type == "kubernetes.io/basic-auth" %}
  - password
  - username
{% elif secret_type == "kubernetes.io/dockerconfigjson" %}
  - .dockerconfigjson
{%- endif %}