{
    "kind": "PodList",
    "apiVersion": "v1",
    "metadata": {
        "selfLink": "/api/v1/namespaces/{{ namespace }}/pods"
    },
    "items": [
        {
            "metadata": {
                "name": "{{ pod_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/api/v1/namespaces/{{ namespace }}/pods/{{ pod_name }}",
                "labels": {
                    "app": "{{ deployment_name }}"
                },
                "ownerReferences": [
                    {
                        "apiVersion": "apps/v1",
                        "kind": "ReplicaSet",
                        "controller": true,
                        "blockOwnerDeletion": true
                    }
                ]
            },
            "spec": {
                "containers": [
                    {
                        "name": "{{ deployment_name }}",
                        "image": "{{ image }}",
                        "resources": {
                            "limits": {
                                "cpu": "{{ cpu | default("50m") }}",
                                "memory": "{{ memory | default("50Mi") }}"
                            }
                        },
                        "terminationMessagePath": "/dev/termination-log",
                        "terminationMessagePolicy": "File",
                        "imagePullPolicy": "IfNotPresent"
                    }
                ],
                "restartPolicy": "Always",
                "terminationGracePeriodSeconds": 30,
                "dnsPolicy": "ClusterFirst",
                "serviceAccountName": "default",
                "serviceAccount": "default",
                "securityContext": {},
                "schedulerName": "default-scheduler",
                "tolerations": [
                    {
                        "key": "node.kubernetes.io/not-ready",
                        "operator": "Exists",
                        "effect": "NoExecute",
                        "tolerationSeconds": 300
                    },
                    {
                        "key": "node.kubernetes.io/unreachable",
                        "operator": "Exists",
                        "effect": "NoExecute",
                        "tolerationSeconds": 300
                    }
                ],
                "priority": 0,
                "enableServiceLinks": true
            },
            "status": {

            }
        }
    ]
}