{
    "apiVersion": "apps/v1",
    "items": [
        {
            "apiVersion": "apps/v1",
            "kind": "Deployment",
            "metadata": {
                "name": "{{ deployment_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ deployment_name }}"
            },
            "spec": {
                "replicas": {{ replicas | default(1)}},
                "selector": {
                    "matchLabels": {
                        "app": "{{ deployment_name }}"
                    }
                },
                "template": {
                    "metadata": {
                        "creationTimestamp": null,
                        "labels": {
                            "app": "{{ deployment_name }}"
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "name": "{{ deployment_name }}",
                                "image": "{{ image }}",
                                "resources": {
                                    "limits": {
							        "cpu": "{{ cpu | default("50m") }}",
							        "memory": "{{ memory | default("50Mi") }}"
                                    }
                                },
                                "terminationMessagePath": "/dev/termination-log",
                                "terminationMessagePolicy": "File",
                                "imagePullPolicy": "IfNotPresent"
                            }
                        ],
                        "restartPolicy": "Always",
                        "terminationGracePeriodSeconds": 30,
                        "dnsPolicy": "ClusterFirst",
                        "securityContext": {},
                        "schedulerName": "default-scheduler"
                    }
                },
                "strategy": {
                    "type": "RollingUpdate",
                    "rollingUpdate": {
				        "maxSurge": "{{ maxsurge | default("25%")}}",
				        "maxUnavailable": "{{ maxunavailable | default("25%")}}"
                    }
                }
            },
            "status": {
                "observedGeneration": 1,
                "replicas": 1,
                "updatedReplicas": 1,
                "readyReplicas": 1,
                "availableReplicas": 1,
                "conditions": [
                    {
                        "type": "Available",
                        "status": "True",
                        "reason": "MinimumReplicasAvailable",
                        "message": "Deployment has minimum availability."
                    }
                ]
            }
        }
    ]
}