apiVersion: alauda.io/v1
kind: Subnet
metadata:
  name: {{ subnet_name }}
  {% if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {% endif %}
  selfLink: /apis/{{ default_label }}/v1/subnets/{{ subnet_name }}
{% if calico_cidr %}
spec:
  cidr_block: {{ calico_cidr }}
    {% if block_size %}
  block_size: {{ block_size }}
    {% endif %}
    {% if ipip_mode %}
  ipip_mode: {{ ipip_mode }}
    {% endif %}
    {% if nat_outgoing %}
  nat_outgoing: '{{ nat_outgoing }}'
    {% endif %}
  subnet_name: {{ subnet_name }}
{% endif %}