{
	"apiVersion": "portal.alauda.io/v1alpha1",
	"items": [{
		"apiVersion": "portal.alauda.io/v1alpha1",
		"kind": "AlaudaProduct",
		"metadata": {
			"annotations": {
				"{{ default_label }}/display-name": "Container Platform"
			},
			"labels": {
				"chart": "alauda-container-platform"
			},
			"name": "console-acp",
			"selfLink": "/apis/portal.alauda.io/v1alpha1/alaudaproducts/console-acp"
		},
		"spec": {
			"homepage": "/console-acp/",
			"index": 0
		}
	}, {
		"apiVersion": "portal.alauda.io/v1alpha1",
		"kind": "AlaudaProduct",
		"metadata": {
			"annotations": {
				"{{ default_label }}/description": "基于服务网络技术，让繁重的微服务治理变得简单高效",
				"{{ default_label }}/display-name": "Service Mesh"
			},
			"labels": {
				"{{ default_label }}/product.deploy": "true",
				"{{ default_label }}/product.index": "4",
				"{{ default_label }}/product.provider": "alauda",
				"{{ default_label }}/product.sort": "default",
				"chart": "global-asm",
				"release": "global-asm"
			},
			"name": "console-asm"
		},
		"spec": {
			"homepage": "/console-asm/",
			"index": 4,
			"target": "_self"
		}
	}, {
		"apiVersion": "portal.alauda.io/v1alpha1",
		"kind": "AlaudaProduct",
		"metadata": {
			"annotations": {
				"{{ default_label }}/description": "简化应用全生命周期管理，提高 CI/CD 效率，缩短软件交付周期",
				"{{ default_label }}/display-name": "DevOps"
			},
			"labels": {
				"app": "alauda-devops",
				"release": "alauda-devops"
			},
			"name": "console-devops",
			"selfLink": "/apis/portal.alauda.io/v1alpha1/alaudaproducts/console-devops"
		},
		"spec": {
			"homepage": "/console-devops/",
			"index": 1,
			"target": "_self"
		}
	}, {
		"apiVersion": "portal.alauda.io/v1alpha1",
		"kind": "AlaudaProduct",
		"metadata": {
			"annotations": {
				"{{ default_label }}/description": "",
				"{{ default_label }}/display-name": "Manage Center"
			},
			"labels": {
				"release": "alauda-base"
			},
			"name": "console-platform",
			"selfLink": "/apis/portal.alauda.io/v1alpha1/alaudaproducts/console-platform"
		},
		"spec": {
			"hide": true,
			"homepage": "/console-platform/",
			"index": 100
		}
	}],
	"kind": "AlaudaProductList",
	"metadata": {
		"continue": ""
	}
}
