kind: SelfSubjectAccessReview
apiVersion: authorization.k8s.io/v1
spec:
  resourceAttributes: {verb: {{ action }}, group: {{ group }}, name: {{ resource_name }}}
status: {allowed: {{ allow_status }}}
