kind: SelfSubjectAccessReview
apiVersion: authorization.k8s.io/v1
spec:
  resourceAttributes:
    {%- if project_name %}
    project: {{ project_name }}
    {% endif %}
    {%- if cluster %}
    cluster: {{ cluster }}
    {% endif %}
    verb: {{ action }}
    resource: {{ k8s_resource }}
status:
  allowed: {{ allow_status }}