{
        "apiVersion": "v1",
        "kind": "PersistentVolumeClaim",
        "metadata": {
            {%- if metadata_labels %}
            "labels": {
            {%- for key in metadata_labels.keys() %}
              "{{ key }}": "{{ metadata_labels[key] }}"{% if not loop.last　%},{% endif %}
            {%- endfor %}
            },
            {%- endif %}
            {%- if metadata_annotations %}
            "annotations": {
            {%- for key in metadata_annotations.keys() %}
              "{{ key }}": "{{ metadata_annotations[key] }}"{% if not loop.last　%},{% endif %}
            {%- endfor %}
            },
            {%- endif %}
            "name": "{{ pvc_name }}",
            "namespace": "{{ namespace }}",
            "selfLink": "/api/v1/namespaces/{{ namespace }}/persistentvolumeclaims/{{ pvc_name }}"
        },
        "spec":{
            "accessModes": [
                "ReadWriteOnce"
            ],
            "resources": {
                "requests": {
                    "storage": "{{ storage | default("1Gi") }}"
                }
            },
            "storageClassName": "{{ storageclassname }}",
            "volumeMode": "Filesystem"
        }
}