{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "kind": "PersistentVolumeClaim",
            "metadata": {
                "annotations": {
                    "volume.beta.kubernetes.io/storage-provisioner": "ceph.com/cephfs"
                },
                "finalizers": [
                    "kubernetes.io/pvc-protection"
                ],
                "name": "{{ pvc_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/api/v1/namespaces/{{ namespace }}/persistentvolumeclaims/{{ pvc_name }}"
            },
            "spec": {
                "accessModes": [
                    "ReadWriteOnce"
                ],
                "dataSource": null,
                "resources": {
                    "requests": {
                        "storage": "{{ storage | default("1Gi") }}"
                    }
                },
                "storageClassName": "{{ storageclassname }}",
                "volumeMode": "Filesystem"
            },
            "status": {
                "accessModes": [
                    "ReadWriteOnce"
                ],
                "capacity": {
                    "storage": "{{ storage | default("1Gi") }}"
                }
            }
        }
    ],
    "kind": "PersistentVolumeClaimList",
    "metadata": {
        "continue": ""
    }
}