{
  "kind": "License",
  "apiVersion": "alauda.io/v1",
  "metadata": {
    "name": "{{ name }}",
  },
  "spec": {
    "products": [
      {% for product in products %}
      {
        "name": "{{ product }}"
      },
      {% endfor %}
    ],
    "type": "{{ type|default('Demo') }}",
    "enabled": True
  }
}