{
        "apiVersion": "v1",
        "kind": "PersistentVolume",
        "metadata": {
            {%- if metadata_labels %}
            "labels": {
            {%- for key in metadata_labels.keys() %}
              "{{ key }}": "{{ metadata_labels[key] }}"{% if not loop.last　%},{% endif %}
            {%- endfor %}
            },
            {%- endif %}
            {%- if metadata_annotations %}
            "annotations": {
            {%- for key in metadata_annotations.keys() %}
              "{{ key }}": "{{ metadata_annotations[key] }}"{% if not loop.last　%},{% endif %}
            {%- endfor %}
            },
            {%- endif %}
            "name": "{{ pv_name }}",
            "selfLink": "/api/v1/persistentvolumes/{{ pv_name }}"
        },
        "spec": {
            "accessModes": [
                "ReadWriteOnce"
            ],
            "capacity": {
                "storage": "{{ storage | default("1Gi") }}"
            },
            {% if nfs_server %}
            "nfs":{
                "server": "{{ nfs_server }}",
                "path": "{{ nfs_path }}"
            },
            {%  else  %}
            "hostPath": {
                "path": "{{ path | default("/temp/data") }}",
                "type": ""
             },
            {% endif %}
            "persistentVolumeReclaimPolicy": "Retain",
            "volumeMode": "Filesystem"
        }
 }
