{
	"kind": "PersistentVolumeList",
	"apiVersion": "v1",
	"metadata": {
	},
	"items": [{
		"metadata": {
			"name": "{{ pv_name }}",
			"selfLink": "/api/v1/persistentvolumes/{{ pv_name }}",
			"finalizers": ["kubernetes.io/pv-protection"]
		},
		"spec": {
			"capacity": {
				"storage": "1Gi"
			},
			"nfs": {
				"path": "{{ nfs_path }}",
				"server": "{{ nfs_server }}"
			},
			"accessModes": ["ReadWriteOnce"],
			"volumeMode": "Filesystem"
		}
	}]
}