{
	"spec": {
		"templates": {
			"0": "0"
		},
		"templatePool": {
			"0": {
				"metadata": {
					"creationTimestamp": null,
					"labels": {
						"project.{{ default_label }}/name": "{{ project }}",
						"service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
						"tapp_template_hash_key": "{{ template_hash_key }}",
						"tapp_uniq_hash_key": "{{ uniq_hash_key }}"
					}
				},
				"spec": {
					"containers": [{
						"image": "{{ image }}",
						"name": "helloworld",
						"resources": {
							"limits": {
								"cpu": "{{ cpu | default("50m") }}",
								"memory": "{{ memory | default("50Mi") }}"
							}
						}
					}]
				}
			}
		}
	}
}