{
	"apiVersion": "apps.tkestack.io/v1",
	"kind": "TApp",
	"metadata": {
		"name": "{{ tapp_name }}",
		"namespace": "{{ namespace }}",
		{%- if metadata_resourceVersion %}
		"resourceVersion": "{{ resourceversion }}",
		{%- endif %}
        "labels": {
           "{{ key }}": "{{ value }}"
        }
	},
	"spec": {
		"replicas": {{ replicas | default(1)}},
		"template": {
			"metadata": {
				"labels": {
				    "service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
					"project.{{ default_label }}/name": "{{ project }}"
				},
				"annotations": {}
			},
			"spec": {
				"containers": [{
					"name": "helloworld",
					"image": "{{ image }}",
					"resources": {
						"limits": {
							"cpu": "{{ cpu | default("50m") }}",
							"memory": "{{ memory | default("50Mi") }}"
						}
					},
					{%- if volumeMounts %}
					"volumeMounts":[{
					    "mountPath": "{{ mountpath }}",
					    "name": "{{ volume_name }}",
					    "readOnly": {{ readonly | default(false) }}
					}],
					{%- endif %}
					{%- if env %}
				    "env" :[{
				        "name": "{{ env_name }}",
				        "value": "{{ env_value }}"
				    }],
				    {%- endif %}
					{%- if envFrom %}
				    "envFrom":[{
				          {%- if configMapRef %}
				          "configMapRef":{
				             "name": "{{ configmap_name }}"
				          },
				          {%- endif %}
				          {%- if secretRef %}
				          "secretRef":{
				             "name": "{{ secret_name }}"
				          }
				          {%- endif %}
				    }],
				    {%- endif %}
					{%- if args %}
				    "args" :[
				       "{{ args_1 }}",
				       "{{ args_2 }}"
				    ],
				    {%- endif %}
					{%- if command %}
				    "command" :[
				       "{{ command_1 }}"
				    ],
				    {%- endif %}
					{%- if ports %}
				    "ports":[{
				         "protocol":"{{ protocol }}",
				         "hostPort": {{ hostPort }},
				         "containerPort": {{ containerPort }}
				    }],
				    {%- endif %}
					{%- if livenessProbe %}
                    "livenessProbe":{
                        "failureThreshold": {{ failurethreshold }},
                        "httpGet": {
                           "path": "{{ path }}",
                           "port": {{ port }},
                           "scheme": "{{ scheme }}"
                        },
                        "initialDelaySeconds": {{ initialdelayseconds }},
                        "periodSeconds": {{ periodseconds }},
                        "successThreshold": {{ successthreshold }},
                        "timeoutSeconds": {{ timeoutSeconds }}
                    },
                    {%- endif %}
				}],
				"nodeSelector": {},
				{%- if hostNetwork %}
				"hostNetwork": {{ hostnetwork }},
				{%- endif %}
				{%- if volumes %}
				"volumes":[{
				    "name": "{{ volume_name }}",
				    "persistentVolumeClaim": {
                        "claimName": "{{ claimname }}"
				    }
				}]
				{%- endif %}
			}
		},
		"forceDeletePod": {{ forcedeletepod | default(false)}},
		"updateStrategy": {
			"maxUnavailable": {{ maxunavailable | default(1)}}
		},
		"selector": {
			"matchLabels": {
				"service.{{ default_label }}/name": "tapp-{{ tapp_name }}",
				"project.{{ default_label }}/name": "{{ project }}"
			}
		}
	}
}