{
	"spec": {
		"template": {
			"spec": {
				"containers": [{
					"image": "{{ image }}",
					"name": "helloworld",
					"resources": {
						"limits": {
							"cpu": "{{ cpu | default("50m") }}",
							"memory": "{{ memory | default("50Mi") }}"
						}
					}
				}]
			}
		}
	}
}