metadata:
  name: {{ idp_name }}
  namespace: {{ namespace }}
  selfLink: /apis/dex.coreos.com/v1/namespaces/{{ namespace }}/connectors/{{ idp_name }}
  annotations:
    {{ default_label }}/description: {{ description or "''" }}
kind: Connector
apiVersion: dex.coreos.com/v1
type: {{ type }}
name: {{ idp_display_name }}
id: {{ idp_name }}
config:{% if type == 'ldap' %}
  host: {{ ldap_host }}
  insecureNoSSL: true
  insecureSkipVerify: false
  startTLS: false
  rootCA: ''
  clientCert: ''
  clientKey: ''
  rootCAData: {{ cadata or ''}}
  bindDN: {{ ldap_admin }}
  bindPW: {{ ldap_password }}
  usernamePrompt: ''
  userSearch: {baseDN: {{ basedn or "'dc=alauda,dc=com'" }},
    filter: {{ filter or '(&(objectClass=inetOrgPerson)(|(mail=*.*)(mail=*.io)))' }},
    username: {{ username or 'mail' }},
    scope: {{ scope or "''" }},
    idAttr: {{ idattr or 'uid' }},
    emailAttr: {{ emailattr or 'mail' }},
    nameAttr: {{ nameattr or 'cn' }},
    emailSuffix: ''}{% if group_search %}
  groupSearch: {baseDN: {{ group_basedn or "'dc=alauda,dc=com'" }},
    filter: {{ group_filter or '(objectClass=posixGroup)' }},
    scope: {{ group_filter or "''" }},
    userAttr: {{ group_userattr or "cn" }},
    groupAttr: {{ groupattr or "memberUid" }},
    nameAttr: {{ group_nameattr or "cn" }}}
    {% endif %}{% elif type == 'oidc' %}
  issuer: '{{ issuer_url }}'
  clientID: {{ clientid or "dex"}}
  clientSecret: {{ clientsecret or "1a52ee75-9c63-47e6-afc4-513d6d44e59e"}}
  redirectURI: '{{ redirecturi }}'
  basicAuthUnsupported:
  scopes:
  hostedDomains:
  insecureSkipEmailVerified: false
  getUserInfo: false
  userIDKey: ''
  userNameKey: ''{% endif %}
