metadata:
  name: {{ md5_name }}
  selfLink: /apis/auth.alauda.io/v1/users/{{ md5_name }}
  labels:
    auth.{{ default_label }}/user.connector_id: local
    auth.{{ default_label }}/user.connector_type: local
    auth.{{ default_label }}/user.email: {{ md5_name }}
    auth.{{ default_label }}/user.username: ""
    auth.{{ default_label }}/user.valid: true
  annotations:
    {{ default_label }}/display-name: {{ username }}
spec:
  connector_type: local
  connector_name: local
  email: {{ email }}
  username: {{ username }}
  groups:
    - ungrouped
  valid: true
  is_admin: false
  account: {{ account }}
status: {}