{
  "apiVersion": "autoscaling/v1",
  "kind": "HorizontalPodAutoscaler",
  "spec": {
    "maxReplicas": {{ max|default(2) }},
    "minReplicas": {{ min|default(1) }},
    "targetCPUUtilizationPercentage": {{ percent|default(10) }},
    "scaleTargetRef": {
      "apiVersion": "extensions/v1beta1",
      "kind": "Deployment",
      "name": "{{ deployment_name }}"
    }
  },
  "metadata": {
    "name": "{{ deployment_name }}",
    "namespace": "{{ namespace }}"
  }
}