{
  "kind": "Deployment",
  "apiVersion": "apps/v1",
  "metadata": {
    "name": "{{ deployment_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ deployment_name }}"
  },
  "spec": {
    "replicas": {{ replicas | default(1) }},
    "selector": {
      "matchLabels": {
        "app": "{{ deployment_name }}"
      }
    },
    "template": {
      "metadata": {
        "labels": {
          "app": "{{ deployment_name }}"
        }
      },
      "spec": {
        "containers": [
          {
            "name": "{{ deployment_name }}",
            "image": "{{ image| default("index.alauda.cn/alaudaorg/qaimages:helloworld") }}",
            "resources": {
              "limits": {
                "cpu": "30m",
                "memory": "30Mi"
              }
            },
            "terminationMessagePath": "/dev/termination-log",
            "terminationMessagePolicy": "File",
            "imagePullPolicy": "Always"
          }
        ],
        "restartPolicy": "Always",
        "terminationGracePeriodSeconds": 30,
        "dnsPolicy": "ClusterFirst",
        "securityContext": {

        },
        "schedulerName": "default-scheduler"
      }
    },
    "strategy": {
      "type": "RollingUpdate",
      "rollingUpdate": {
        "maxUnavailable": "25%",
        "maxSurge": "25%"
      }
    },
    "revisionHistoryLimit": 10,
    "progressDeadlineSeconds": 600
  }
}