{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Success",
  "details": {
    "name": "{{ feature_name }}",
    "group": "infrastructure.alauda.io",
    "kind": "features",
  }
}