apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: {{ app_name }}
  namespace: {{ ns_name }}
  annotations: {}
spec:
  componentTemplates:{% if resources == [] %} []
    {% else %}
  {%- for resource in resources %}
  - {{ resource | indent(4, false)}}
  {%- endfor %}
  {% endif %}