name: {{ container_name|default(image.split('/')[-1].split(':')[0]) }}
image: {{ image }}
resources:
  limits:
    cpu: {{ cpu_limits|default('30m') }}
    memory: {{ memory_limits|default('30Mi') }}
    {%- for custom_limit in custom_limits %}
    {{ custom_limit }}: {{ custom_limits[custom_limit] }}
    {%- endfor %}
  requests:
    cpu: {{ cpu_limits|default('30m') }}
    memory: {{ memory_limits|default('30Mi') }}
    {%- for custom_limit in custom_limits %}
    {{ custom_limit }}: {{ custom_limits[custom_limit] }}
    {%- endfor %}
{%- if envs %}
env:
{%- for env in envs %}
{%- if "value" in env %}
- name: {{ env["name"] }}
  value: {{ env.get("value") }}
{%- elif "valueFrom" in env %}
- name: {{ env["name"] }}
  valueFrom:
  # secretKeyRef or configMapKeyRef
    {%- set valuefrom = env.get("valueFrom").keys()|list|first %}
    {{ valuefrom }}:
      name: {{ env.get("valueFrom").get(valuefrom).get("name") }}
      key: {{ env.get("valueFrom").get(valuefrom).get("key") }}
{%- endif %}
{%- endfor %}
{%- else %}
env: []
{%- endif %}
{%- if envFroms %}
envFrom:
{%- for envFrom in envFroms %}
#configMapRef or secretRef
- {{ envFrom.keys()|list|first }}:
    name: {{ envFrom[envFrom.keys()|list|first]["name"] }}
{%- endfor %}
{%- else %}
envFrom: []
{%- endif %}
{%- if args %}
args:
{%- for arg in args %}
  - {{ arg }}
{%- endfor %}
{%- else %}
args: []
{%- endif %}
{%- if commands %}
command:
{%- for command in commands %}
  - {{ command }}
{%- endfor %}
{%- else %}
command: []
{%- endif %}
{%- if volumeMounts %}
volumeMounts:
  {%- for volumeMount in volumeMounts %}
  - name: {{ volumeMount["name"] }}
    mountPath: "{{ volumeMount['mountPath'] }}"
  {%- endfor %}
{%- else %}
volumeMounts: []
{%- endif %}
# liveness_protocol: tcpSocket/httpGet/exec
{%- if liveness_protocol %}
livenessProbe:
  {%- if liveness_protocol == "tcpSocket" %}
  tcpSocket:
    port: {{ liveness_port | default(80) }}
  {%- elif liveness_protocol == "httpGet" %}
  httpGet:
    # liveness_http_headers {"key": "value","key1": "value1",...}
    {%- if liveness_http_headers %}
    httpHeaders:
      {%- for header in liveness_http_headers %}
      - name: {{ header }}
        value: {{ liveness_http_headers[header] }}
      {%- endfor %}
    {%- endif  %}
    path: {{ liveness_http_path | default("/") }}
    port: {{ liveness_port | default(80) }}
    # HTTP/HTTPS
    scheme: {{ liveness_http_type | default("HTTP") }}
  {%- else %}
  exec:
    # liveness_exec_commands: ['ls','/']
    command: {{ liveness_exec_commands | default(['']) }}
  {%- endif %}
  failureThreshold: 5
  initialDelaySeconds: 10
  periodSeconds: 3
  successThreshold: 1
  timeoutSeconds: 30
{%- endif %}
# readiness_protocol: tcpSocket/httpGet/exec
{%- if readiness_protocol %}
readinessProbe:
  {%- if readiness_protocol == "tcpSocket" %}
  tcpSocket:
    port: {{ readiness_port | default(80) }}
  {%- elif readiness_protocol == "httpGet" %}
  httpGet:
    # readiness_http_headers {"key": "value","key1": "value1",...}
    {%- if readiness_http_headers %}
    httpHeaders:
      {%- for header in readiness_http_headers %}
      - name: {{ header }}
        value: {{ readiness_http_headers[header] }}
      {%- endfor %}
    {%- endif  %}
    path: {{ readiness_http_path | default("/") }}
    port: {{ readiness_port | default(80) }}
    # HTTP/HTTPS
    scheme: {{ readiness_http_type | default("HTTP") }}
  {%- else %}
  exec:
    # readiness_exec_commands: ['ls','/']
    command: {{ readiness_exec_commands | default(['']) }}
  {%- endif %}
  failureThreshold: 5
  initialDelaySeconds: 10
  periodSeconds: 3
  successThreshold: 1
  timeoutSeconds: 30
{%- endif %}