apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ ingress_name }}
  namespace: {{ ns_name }}
  annotations:
    kubernetes.io/ingress.class: ''
spec:
  tls: []
  rules:
  - host: '{{ host }}'
    http:
      paths:
      - path: {{ url_path }}
        backend:
          serviceName: {{ service_name }}
          servicePort: {{ service_port }}