apiVersion: "/v1"
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ ns_name }}
spec:
  #NodePort or ClusterIP
  type: {{ service_type|default('ClusterIP') }}
  #ClientIP or None
  sessionAffinity: '{{ sessionAffinity | default("None") }}'
  ports:
  {%- for port in ports %}
  - name: {% if port.get("protocol") %}{{ port.get("protocol")|lower }}{% else %}tcp{% endif %}-{% if port.get("port") %}{{ port.get("port") }}{% else %}80{%endif%}
    protocol: {% if port.get("protocol") %}{{ port.get("protocol") }}{% else %}TCP{% endif %}
    port: {% if port.get("port") %}{{ port.get("port") }}{% else %}80{%endif%}
    targetPort: {% if port.get("targetPort") %}{{ port.get("targetPort") }}{% else %}80{% endif %}
  {%- endfor %}
  selector:
    # deployment/daemonset/statefulset
    service.{{ default_label }}/name: {{ deploy_kind | default('deployment') | lower }}-{{ deploy_name }}
    app.{{ default_label }}/name: {{ app_name }}.{{ ns_name }}
  {% if headless %}
  clusterIP: None
  {% endif %}
