metadata:
  annotations:
    {{ default_label }}/description: {{ description or "''" }}
  name: {{ idp_name }}{% if type == 'ldap' %}
config:
  host: {{ ldap_host }}
  startTLS: {{ tls or 'false' }}{% if tls %}
  rootCAData: {{ cadata }}{% else %}
  insecureNoSSL: true
  insecureSkipVerify: true{% endif %}
  bindDN: {{ ldap_admin }}
  bindPW: {{ ldap_password }}
  userSearch: {baseDN: {{ basedn or "'dc=alauda,dc=com'" }},
    username: {{ username or 'mail' }},
    filter: {{ filter or '(&(objectClass=inetOrgPerson)(|(mail=*.*)(mail=*.io)))' }},
    scope: {{ scope or "''" }},
    idAttr: {{ idattr or 'uid' }},
    emailAttr: {{ emailattr or 'mail' }},
    nameAttr: {{ nameattr or 'cn' }}}{% if group_search %}
  groupSearch: {baseDN: {{ group_basedn or "'dc=alauda,dc=com'" }},
        filter: {{ group_filter or '(objectClass=posixGroup)' }},
        scope: {{ group_filter or "''" }},
        userAttr: {{ group_userattr or "cn" }},
        groupAttr: {{ groupattr or "memberUid" }},
        nameAttr: {{ group_nameattr or "cn" }}}{% endif %}{% elif type == 'oidc' %}
config: {issuer: '{{ issuer_url }}',
    clientID: {{ clientid or "dex"}},
    clientSecret: {{ clientsecret or "1a52ee75-9c63-47e6-afc4-513d6d44e59e"}},
    redirectURI: '{{ redirecturi }}'}{% endif %}
idpValidation: {username: {{ verify_username }}, password: "{{ verify_password }}"}
id: {{ idp_name }}
name: {{ idp_display_name|default("idaptest") }}
type: {{ type }}
