{
    "kind": "ClusterAlaudaFeatureGate",
    "apiVersion": "alauda.io/v1",
    "metadata": {
        "name": "{{ clusterfeaturename }}",
        "selfLink": "/apis/alauda.io/v1/clusteralaudafeaturegates/{{ clusterfeaturename }}",
    },
    "spec": {
        {%- if dependency %}
        "dependency":{
            "featureGates": [
                "{{ feature_b }}",
                "{{ feature_c }}"
            ],
            "type": "{{ type }}"
        },
	    {%- endif %}
        "description": "{{ description }}",
        "stage": "{{ stage }}",
        "dependency": {},
        "enabled": {{ enabled }}
    }
}