{
    "kind": "AlaudaFeatureGate",
    "apiVersion": "alauda.io/v1",
    "metadata": {
        "name": "{{ featurename }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/alauda.io/v1/namespaces/{{ namespace }}/alaudafeaturegates/{{ featurename }}",
    },
    "spec": {
        {%- if dependency %}
        "dependency":{
            "featureGates": [
                "{{ feature_b }}",
                "{{ feature_c }}"
            ],
            "type": "{{ type }}"
        },
	    {%- endif %}
        "description": "{{ description }}",
        "stage": "{{ stage }}",
        "dependency": {},
        "enabled": {{ enabled }}
    }
}