{
  "kind": "ConfigMapList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/namespaces/kube-public/configmaps",
  },
  "items": [
    {% if region_name == 'ovn' %}
    {
      "metadata": {
        "name": "cni-kube-ovn",
        "namespace": "kube-public",
        "selfLink": "/api/v1/namespaces/kube-public/configmaps/cni-kube-ovn",
      }
    }
    {% endif %}
  ]
}