{
  "apiVersion": "kubeovn.io/v1",
  "kind": "Subnet",
  "metadata": {
    "name": "{{ subnet_name }}",
    "selfLink": "/apis/kubeovn.io/v1/subnets/{{ subnet_name }}",
  },
  "spec": {
    "cidrBlock": "{{ cidr }}",
    "default": false,
    "gatewayNode": "{{ gateway_node|default() }}",
    "gatewayType": "{{ gateway_type|default('distributed') }}",
    "natOutgoing": {{ nat|default(true) }},
    "private": {{ private|default(false) }},
    {% if namespaces %}
    "namespaces": {{ namespaces }},
    {% endif %}
    {% if exclude_ips %}
    "excludeIps": {{ exclude_ips }},
    {% endif %}
  }
}