{
  "apiVersion": "kubeovn.io/v1",
  "kind": "Subnet",
  "metadata": {
    "name": "{{ subnet_name }}",
    "selfLink": "/apis/kubeovn.io/v1/subnets/{{ subnet_name }}",
  },
  "spec": {
    "cidrBlock": "{{ cidr }}",
    "default": false,
{#    {% if exclude_ips %}#}
{#    "excludeIps": {{ exclude_ips }},#}
{#    {% else %}#}
{#    "excludeIps": [#}
{#      "{{ cidr|replace('0/16','1')|replace('0/24','1') }}"#}
{#    ],#}
{#    {% endif %}#}
    {% if namespaces %}
    "namespaces": {{ namespaces }},
    {% endif %}
    {% if allow_subnets %}
    "allowSubnets": {{ allow_subnets }},
    {% endif %}
{#    "gateway": "{{ cidr|replace('0/16','1')|replace('0/24','1')  }}",#}
    "gatewayNode": "{{ gateway_node|default() }}",
    "gatewayType": "{{ gateway_type|default(distributed) }}",
    "natOutgoing": {{ nat|default(true) }},
    "private": {{ private|default(false) }},
    "protocol": "IPv4"
  },
  "status": {
    "usingIPs": {{ used|default(0) }},
    "conditions": [
       {
         "type": "Ready"
       }
    ]
  }
}