{
  "apiVersion": "clusterregistry.k8s.io/v1alpha1",
  "kind": "Cluster",
  "metadata": {
    "name": "{{ name }}",
    "namespace": "{{ ns }}",
    "selfLink": "/apis/clusterregistry.k8s.io/v1alpha1/namespaces/{{ ns }}/clusters/{{ name }}",
    "annotations": {
      "alauda.io/display-name": "{{ name }}"
     }
  },
  "spec": {
    "authInfo": {
      "controller": {
        "kind": "Secret",
        "namespace": "{{ ns }}",
        "name": "{{ secret_name }}"
      }
    },
    "kubernetesApiEndpoints": {
      "serverEndpoints": [{
        "serverAddress": "{{ k8s_addr }}"
      }]
    }
  }
}