{
  "apiVersion": "clusterregistry.k8s.io/v1alpha1",
  "kind": "Cluster",
  "metadata": {
    "annotations": {
      "{{ default_label }}/display-name": "{{ display_name }}"
    },
    "name": "{{ cluster_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/clusterregistry.k8s.io/v1alpha1/namespaces/{{ namespace }}/clusters/{{ cluster_name }}",
  },
  "spec": {
    "authInfo": {
      "controller": {
        "kind": "Secret",
        "namespace": "{{ namespace }}"
      }
    },
    "kubernetesApiEndpoints": {
      "serverEndpoints": [
        {{ serverEndpoints }}
      ]
    }
  },
  "status": {
    "conditions": [
      {
        "status": "False",
        "type": "NotAccessible"
      },
      {
        "status": "False",
        "type": "ComponentNotHealthy"
      },
      {
        "status": "False",
        "type": "NodeNotReady"
      }
    ],
    "version": "{{ version|default("v1.13.4") }}"
  }
}
