{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Success",
  "details": {
    "name": "{{ name }}",
    {%- if kind == "clusters" %}
    "group": "clusterregistry.k8s.io",
    {%- endif  %}
    "kind": "{{ kind }}",
  }
}
