{
  "kind": "NodeList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/nodes",
  },
  "items":[
    {%- for node_info in node_infos %}
    {
      "metadata": {
        "name": "{{ node_info["node_name"] }}",
        "selfLink": "/api/v1/nodes/{{ node_info["node_name"] }}",
        "labels": {
          "kubernetes.io/hostname": "{{ node_info["node_name"] }}",
          {%- if node_info["node_type"] %}
          "node-role.kubernetes.io/{{ node_info["node_type"] }}": ""
          {%- endif %}
        },
        "annotations": {}
      },
      "spec": {
      },
      "status": {
        "capacity": {{ node_info["capacity"] }},
        "allocatable": {{ node_info["allocatable"] }},
        "conditions": [
          {
            "type": "MemoryPressure",
            "status": "False",
            "reason": "KubeletHasSufficientMemory",
            "message": "kubelet has sufficient memory available"
          },
          {
            "type": "DiskPressure",
            "status": "False",
            "reason": "KubeletHasNoDiskPressure",
            "message": "kubelet has no disk pressure"
          },
          {
            "type": "PIDPressure",
            "status": "False",
            "reason": "KubeletHasSufficientPID",
            "message": "kubelet has sufficient PID available"
          },
          {
            "type": "Ready",
            "status": "True",
            "reason": "KubeletReady",
            "message": "kubelet is posting ready status"
          }
        ],
        "addresses": [
          {
            "type": "InternalIP",
            "address": "{{ node_info["node_ip"] }}"
          },
          {
            "type": "Hostname",
            "address": "{{ node_info["node_name"] }}"
          }
        ],
        "daemonEndpoints": {
          "kubeletEndpoint": {
            "Port": 10250
          }
        }
      }
    },
    {%- endfor %}
  ]
}