{
  "kind": "Node",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ node_name }}",
    "selfLink": "/api/v1/nodes/{{ node_name }}",
    "labels": {
      {%- for key, value in labels.items() %}
      "{{ key }}": "{{ value }}",
      {%- endfor  %}
    }
  },
  "spec": {
    {%- if unschedulable %}
    "unschedulable": True,
    {%- endif %}
  },
  "status": {
    "capacity": {{ capacity }},
    "allocatable": {{ allocatable }},
    "conditions": [
      {
        "type": "MemoryPressure",
        "status": "False",
        "reason": "KubeletHasSufficientMemory",
        "message": "kubelet has sufficient memory available"
      },
      {
        "type": "DiskPressure",
        "status": "False",
        "reason": "KubeletHasNoDiskPressure",
        "message": "kubelet has no disk pressure"
      },
      {
        "type": "PIDPressure",
        "status": "False",
        "reason": "KubeletHasSufficientPID",
        "message": "kubelet has sufficient PID available"
      },
      {
        "type": "Ready",
        "status": "True",
        "reason": "KubeletReady",
        "message": "kubelet is posting ready status"
      }
    ],
    "addresses": [
      {
        "type": "InternalIP",
        "address": "{{ node_ip }}"
      },
      {
        "type": "Hostname",
        "address": "{{ node_name }}"
      }
    ],
    "daemonEndpoints": {
      "kubeletEndpoint": {
        "Port": 10250
      }
    },
    "nodeInfo": {
      "operatingSystem": "linux",
      "architecture": "amd64"
    },
  }
}