{
  "apiVersion": "infrastructure.alauda.io/v1alpha1",
  "items": [{
    "apiVersion": "infrastructure.alauda.io/v1alpha1",
    "kind": "Feature",
    "metadata": {
      "labels": {
        "instanceType": "prometheus",
        "type": "monitoring"
      },
      "name": "prometheus",
      "selfLink": "/apis/infrastructure.alauda.io/v1alpha1/features/prometheus",
    },
    "spec": {
      "accessInfo": {
        "grafanaAdminPassword": "admin",
        "grafanaAdminUser": "admin",
        "name": "kube-prometheus",
        "namespace": "{{ namespace }}",
        "prometheusTimeout": 10,
      },
      "instanceType": "prometheus",
      "type": "monitoring",
      "version": "1.0"
    }
  }],
  "kind": "FeatureList",
  "metadata": {
    "continue": "",
    "selfLink": "/apis/infrastructure.alauda.io/v1alpha1/features"
  }
}