{
  "apiVersion": "crd.alauda.io/v1",
  "kind": "Rule",
  "metadata": {
    "name": "{{ rule_name }}",
    "namespace": "{{ alb_namespace }}",
    {% if resourceVersion %}
    "resourceVersion": "{{ resourceVersion }}",
    {% endif %}
    "labels": {
      "alb2.{{ default_label }}/name": "{{ alb_name }}",
      "alb2.{{ default_label }}/frontend": "{{ frontend_name }}"
    },
  },
  "spec": {
    "priority": 10000,
    {% if host %}
    "domain": "{{ host }}",
    {% endif %}
    {% if url %}
    "url": "{{ url }}",
    {% endif %}
    "dsl": "(AND {% if host %}(IN HOST {{ host }}){% endif %} {% if url %}({{ url_type|default('STARTS_WITH') }} URL {{ url }}){% endif %} {% if ip %}({{ ip|default('EQ SRC_IP 1.1.1.1') }}){% endif %} {% if header %}({{ header|default('EQ HEADER h h') }}){% endif %} {% if cookie %}({{ cookie|default('EQ COOKIE c c') }}){% endif %} {% if param %}({{ param|default('EQ PARAM p p') }}){% endif %})",
    "description": "{{ description|default() }}",
    {% if secret_name %}
    "certificate_name": "{{ namespace }}_{{ secret_name }}",
    {% endif %}
    "serviceGroup": {
      "session_affinity_policy": "{{ policy|default() }}",
      "session_affinity_attribute": "{{ attribute|default() }}",
      "services": [
        {% if service_name %}
        {
          "name": "{{ service_name }}",
          "namespace": "{{ namespace }}",
          "port": {{ port|default(80) }},
          "weight": 100
        },
        {% endif %}
        {% if service_name2 %}
        {
          "name": "{{ service_name2 }}",
          "namespace": "{{ namespace }}",
          "port": 80,
          "weight": 100
        },
        {% endif %}
        {% if service_name3 %}
        {
          "name": "{{ service_name3 }}",
          "namespace": "{{ namespace }}",
          "port": 80,
          "weight": 100
        },
        {% endif %}
      ]
    },
    "rewrite_target": "{{ rewrite|default('/') }}",
    "backendProtocol": "{{ backend_protocol|default('HTTP') }}",
    "enableCORS": {{ enable_cors|default('false') }},
    "redirectURL": "{{ redirect_url|default() }}",
    {% if redirect_code %}
    "redirectCode": {{ redirect_code }},
    {% endif %}
  }
}