{
  "apiVersion": "app.alauda.io/v1alpha1",
  "kind": "HelmRequest",
  "metadata": {
    "finalizers": [
      "captain.{{ default_label }}"
    ],
    "name": "{{ cluster_name }}-{{ alb_name }}",
    "namespace": "{{ namespace }}"
  },
  "spec": {
    "clusterName": "{{ cluster_name }}",
    "chart": "stable/alauda-alb2",
    "namespace": "{{ namespace }}",
    "values": {
      "loadbalancerName": "{{ alb_name }}",
      "address": "{{ address }}",
      "replicas": {{ replicas }},
      "nodeSelector": {{ nodeSelector }},
      "global":{
        "namespace": "{{ namespace }}",
      },
      "project": "{{ project_name }}"
    },
    "valuesFrom":[{"configMapKeyRef":{"name":"sentry-cm","key":"global.config","optional":true}}]
  }
}