apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ alarm_name }}
  namespace: {{ ns_name }}
  annotations:
    {{ default_label }}/description: {{ description }}
    {%- if test_notifications %}
    alert.{{ default_label }}/notifications: '[{% for item in test_notifications %}{"name":"{{item["name"]}}","namespace":"{{item["namespace"]}}"}{% if not loop.last %},{% endif %}{% endfor %}]'
    {%- endif %}
  labels:
    alert.{{ default_label }}/application: {{ application | default("''") }}
    alert.{{ default_label }}/cluster: {{ cluster_name }}
    alert.{{ default_label }}/kind: {{ kind | default("Cluster")}}
    alert.{{ default_label }}/name: {{ resource_name }}
    alert.{{ default_label }}/namespace: {{ ns_name }}
    alert.{{ default_label }}/project: {{ project | default("''") }}
    alert.{{ default_label }}/owner: System
    prometheus: kube-prometheus
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
spec:
  groups:
  - name: general
    rules:
    {%- for item in rules %}
    - alert: {{ item["rule_name"] }}
      annotations:
        alert_current_value: ""
      {%- if item["test_annotations"] %}
      {%- for key in item["test_annotations"].keys() %}
        {{ key }}: {{ item["test_annotations"][key] }}
      {%- endfor %}
      {%- endif %}
      expr: {{ item["expr"] }}
      for: '{{ item["wait"] | default(60) }}s'
      labels:
      {%- if item["test_labels"] %}
      {%- for key in item["test_labels"].keys() %}
        {{ key }}: {{ item["test_labels"][key] }}
      {%- endfor %}
      {%- endif %}
        severity: {{ item["severity"] | default("Medium") }}
        alert_involved_object_kind: {{ item["kind"] | default("Cluster")}}
        alert_involved_object_name: {{ item["resource_name"] }}
        alert_involved_object_namespace: {{ item["ns_name"] }}
        alert_cluster: {{ item["cluster_name"] }}
        alert_project: {{ item["project"] | default("''")}}
        alert_indicator: {{ item["metric_name"] }}
        alert_indicator_aggregate_range: '{{ item["_range"] | default("0") }}'
        alert_indicator_aggregate_function: {{ item["function"] | default("''")}}
        alert_indicator_comparison: '{{ item["comparison"] | default(">")}}'
        alert_indicator_threshold: '{{ item["threshold"] }}'
        alert_indicator_query: {{ item["query"] }}
        alert_indicator_unit: {{ item["unit"] | default("'%'") }}
        alert_name: {{ item["rule_name"] }}
        application: {{ item["application"] | default("''") }}
    {% endfor %}