apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
  {%- if metadata_labels %}
  labels:
  {%- for key in metadata_labels.keys() %}
    {{ key }}: {{ metadata_labels[key] }}
  {%- endfor %}
  {%- endif %}
  {%- if metadata_annotations %}
  annotations:
  {%- for key in metadata_annotations.keys() %}
    {{ key }}: {{ metadata_annotations[key] }}
  {%- endfor %}
  {%- endif %}
spec:
  persistentVolumeReclaimPolicy: Retain
  accessModes:
   - ReadWriteOnce
  capacity:
    storage: {{ storage | default("1Gi") }}
  {% if nfs_server %}
  nfs:
    server: {{ nfs_server }}
    path: {{ nfs_path }}
  {%  else  %}
  hostPath:
    path: {{ path | default("/temp/data") }}
  {% endif %}
