{
	"metadata": {
		"name": {{ bind_name }},
		"namespace": {{ namespace }},
		"labels": {
			"{{ default_label }}/project": {{ namespace }},
			"imageRegistry": {{ tool_name }},
			"imageRegistryType": "Docker"
		},
		"annotations": {
			"{{ default_label }}/description": {{ description }},
			"{{ default_label }}/toolAccessUrl": "{{ host_url }}",
			"{{ default_label }}/toolItemKind": "ImageRegistryBinding",
			"{{ default_label }}/toolItemType": "Docker"
		},
		"ownerReferences": [{
			"apiVersion": "devops.alauda.io/v1alpha1",
			"kind": "ImageRegistry",
			"name": {{ tool_name }},
			"controller": true,
			"blockOwnerDeletion": true
		}]
	},
	"spec": {
		"imageRegistry": {
			"name": {{ tool_name }}
		},
        "secret": {
			"name": "{{ secret_name }}",
			"namespace": "{{ secret_namespace|default("global-credentials") }}"
		},
		"repoInfo": {
			"repositories": {{ repos|default(null) }}
		}
	}
}