{
	"metadata": {
		"name": {{ bind_name }},
		"namespace": {{ namespace }},
		"labels": {
			"{{ default_label }}/project": {{ namespace }},
			"projectManagement": "{{ tool_name }}"
		},
		"annotations": {
			"{{ default_label }}/description": {{ description }},
			"{{ default_label }}/toolAccessUrl": "{{ host_url }}",
			"{{ default_label }}/toolItemKind": "ProjectManagementBinding",
			"{{ default_label }}/toolItemType": "Jira"
		},
		"ownerReferences": [{
			"apiVersion": "devops.alauda.io/v1alpha1",
			"kind": "ProjectManagement",
			"name": {{ tool_name }},
			"controller": true,
			"blockOwnerDeletion": true
		}]
	},
	"spec": {
		"projectManagement": {
			"name": {{ tool_name }}
		},
		"secret": {
          "name": "{{ secret_name }}",
          "namespace": "{{ secret_namespace }}"
        },
        "projectManagementProjectInfos": [
          {%- if jira_id %}
          {
            "id": "{{ jira_id }}",
            "name": "{{ jira_name }}",
            "key": "{{ jira_key }}"
          }
          {%- endif %}
        ]
	}
}