{
	"metadata": {
		"name": "{{ bind_name }}",
		"namespace": "{{ namespace }}",
		"labels": {
			"{{ default_label }}/project": "{{ namespace }}",
			"codeRepoService": "{{ tool_name }}",
			"codeRepoServicePublic": "false",
			"codeRepoServiceType": "Gitlab"
		},
		"annotations": {
			"{{ default_label }}/description": "{{ description }}",
			"{{ default_label }}/secretType": "kubernetes.io/basic-auth",
			"{{ default_label }}/toolItemKind": "CodeRepoBinding",
			"{{ default_label }}/toolItemType": "Gitlab"
		},
		"ownerReferences": [{
			"apiVersion": "devops.alauda.io/v1alpha1",
			"kind": "CodeRepoService",
			"name": "{{ tool_name }}",
			"controller": true,
			"blockOwnerDeletion": true
		}]
	},
	"spec": {
		"codeRepoService": {
			"name": "{{ tool_name }}"
		},
		"account": {
			"owners": null
		}
	}
}