{
	"metadata": {
		"name": "{{ bind_name }}",
		"namespace": "{{ namespace }}",
		"labels": {
			"{{ default_label }}/project": "{{ namespace }}",
			"imageRegistry": "{{ tool_name }}",
			"imageRegistryType": "Harbor"
		},
		"annotations": {
			"{{ default_label }}/description": "{{ description }}",
			"{{ default_label }}/secretType": "kubernetes.io/basic-auth",
			"{{ default_label }}/toolItemKind": "ImageRegistryBinding",
			"{{ default_label }}/toolItemType": "Harbor"
		},
		"ownerReferences": [{
			"apiVersion": "devops.alauda.io/v1alpha1",
			"kind": "ImageRegistry",
			"name": "{{ tool_name }}",
			"controller": true,
			"blockOwnerDeletion": true
		}]
	},
	"spec": {
		"imageRegistry": {
			"name": "{{ tool_name }}"
		},
		"repoInfo": {
			"repositories": {{ repos|default(null) }}
		}
	}
}