{
	"metadata": {
		"name": {{ tool_name }},
		"labels": {
			"{{ default_label }}/subscription": "false",
			"{{ default_label }}/toolItemPublic": "false",
			{%- if tool_kind %}
			"{{ default_label }}/toolItemKind": "{{ tool_kind }}",
			{%- endif %}
			"{{ default_label }}/toolItemType": "{{ type }}",
			"{{ default_label }}/toolType": "{{ tool_type }}"
		},
		"annotations": {
			"{{ default_label }}/createAppUrl": "{{ host_url }}",
			"{{ default_label }}/subscription": "false",
			{%- if tool_kind %}
			"{{ default_label }}/toolItemKind": "{{ tool_kind }}",
			{%- endif %}
			"{{ default_label }}/toolItemPublic": "false",
			"{{ default_label }}/toolItemType": "{{ type }}",
			"{{ default_label }}/toolType": "{{ tool_type }}"
		}
	},
	"spec": {
		"http": {
			"host": "{{ host_url }}",
			"accessUrl": "{{ accessUrl }}"
		},
		"secret": {
		    {%- if secret_name %}
		    "name": "{{ secret_name }}",
		    "namespace": "{{ secret_namespace }}"
		    {%- endif %}
		},
		{%- if public_flag %}
		"public": {{ public_flag }},
		{%- endif %}
		{%- if type != "Jenkins" %}
		"type": "{{ type }}"
		{%- endif %}
	}
}