{
 "metadata": {
  "name": "{{ bind_name }}",
  "namespace": "{{ namespace }}",
  "labels": {
   "{{ default_label }}/project": "{{ namespace }}"
  },
  "annotations": {
   "{{ default_label }}/description": "{{ description }}",
   "{{ default_label }}/secretType": "kubernetes.io/basic-auth",
   "{{ default_label }}/toolAccessUrl": "{{ host_url }}",
   "{{ default_label }}/toolItemKind": "JenkinsBinding",
   "{{ default_label }}/toolItemType": "Jenkins"
  },
  "ownerReferences": [
   {
    "apiVersion": "devops.alauda.io/v1alpha1",
    "kind": "Jenkins",
    "name": "{{ tool_name }}",
    "controller": true,
    "blockOwnerDeletion": true
   }
  ]
 },
 "spec": {
  "jenkins": {
   "name": "{{ tool_name }}"
  },
  "account": {
   "secret": {
    "name": "{{ secret_name }}",
    "namespace": "{{ secret_namespace|default("global-credentials") }}"
   }
  }
 }
}