{
	"metadata": {
		"name": "{{ bind_name }}",
		"namespace": "{{ namespace }}",
		"labels": {
			"{{ default_label }}/project": "{{ namespace }}",
			"codeQualityTool": "{{ tool_name }}",
			"codeQualityToolType": "Sonarqube"
		},
		"annotations": {
			"{{ default_label }}/description": "{{ description }}",
			"{{ default_label }}/secretType": "kubernetes.io/basic-auth",
			"{{ default_label }}/toolAccessUrl": "{{ host_url }}",
			"{{ default_label }}/toolItemKind": "CodeQualityBinding",
			"{{ default_label }}/toolItemType": "Sonarqube"
		},
		"ownerReferences": [{
			"apiVersion": "devops.alauda.io/v1alpha1",
			"kind": "CodeQualityTool",
			"name": "{{ tool_name }}",
			"controller": true,
			"blockOwnerDeletion": true
		}]
	},
	"spec": {
		"codeQualityTool": {
			"name": "{{ tool_name }}"
		},
		"secret": {
			"name": "{{ secret_name }}",
			"namespace": "{{ secret_namespace|default("global-credentials") }}"
		},
		"codeRepository": {
			"all": false
		},
		"pattern": {
			"prefix": null
		}
	}
}