{
	"type": "",
	"owners": [{
        "type": "User",
		"name": "{{ gitlab_user }}",
		"htmlURL": "{{ gitlab_url }}/{{ gitlab_user }}",
        "repositories":[{
			"codeRepoServiceType": "Gitlab",
			"name": "{{ repo_name }}",
			"fullName": "{{ gitlab_user }}/{{ repo_name }}",
			"description": "",
			"htmlURL": "{{ gitlab_url }}/{{ gitlab_user }}/{{ repo_name }}",
			"cloneURL": "{{ gitlab_url }}/{{ gitlab_user }}/{{ repo_name }}.git",
			"language": "",
			"owner": {
				"type": "User",
				"id": "1",
				"name": "{{ gitlab_user }}"
			},
			"private": true,
			"data": null
		}]
	}]
}