apiVersion: authorization.k8s.io/v1
kind: SelfSubjectAccessReview
spec:
  resourceAttributes: { verb: {{ action }}, group: {{ group }}, resource: {{ k8s_resource }}, name: {{ resource_name }}, namespace: {{ resource_namespace }} }