- group_name: general
  project: {{ project | default("''")}}
  name: {{ alarm_name }}
  metric:
    queries:
    - {%- if aggregator %}
      aggregator: {{ aggregator }}
      {%- endif %}
      {%- if _range %}
      range: {{ _range }}
      {%- endif %}
      labels:
      {%- for query_label in query_labels %}
        - {name: {{ query_label.name}}, value: {{ query_label.value }}}
      {%- endfor %}
  compare: {{ compare | default("'>'") }}
  threshold: {{ threshold }}
  wait: {{ wait | default(60) }}
  {%- if test_labels %}
  labels:
  {%- for key in test_labels.keys() %}
    {{ key }}: {{ test_labels[key] }}
  {%- endfor %}
  {%- endif %}
  {%- if test_annotations %}
  annotations:
  {%- for key in test_annotations.keys() %}
    {{ key }}: {{ test_annotations[key] }}
  {%- endfor %}
  {%- endif %}