apiVersion: "aiops.alauda.io/v1beta1"
kind: AlertTemplate
metadata:
  name: {{ alarm_template_name }}
  annotations:
    {{ default_label }}/description: {{ description}}
    {%- if test_notifications %}
    alert.{{ default_label }}/notifications: '[{% for item in test_notifications %}{"name":"{{item["name"]}}","namespace":"{{item["namespace"]}}"}{% if not loop.last %},{% endif %}{% endfor %}]'
    {%- endif %}
  labels:
    {{ default_label }}/kind: {{ kind }}
  {%- if resourceVersion %}
  resourceVersion: '{{ resourceVersion }}'
  {%- endif %}
spec:
  templates:
  {%- for item in rules %}
  - metric:
      queries:
      - {%- if item["function"] %}
         function: {{ item["function"] | default("''") }}
        {%- endif %}
        {%- if item["_range"] %}
         range: {{ item["_range"] | default("0") }}
        {%- endif %}
         labels:
        {%- for query_label in item["query_labels"] %}
            - {name: {{ query_label.name}}, value: {{ query_label.value }}}
        {%- endfor %}
    compare: '{{ item["comparison"] | default(">")}}'
    wait: {{ item["wait"] | default(60) }}
    threshold: {{ item["threshold"] }}
    name: {{ item["rule_name"] }}
    labels:
    {%- if item["test_labels"] %}
    {%- for key in item["test_labels"].keys() %}
        {{ key }}: {{ item["test_labels"][key] }}
    {%- endfor %}
    {%- endif %}
        severity: {{ item["severity"] | default("Medium") }}
    {%- if item["test_annotations"] %}
    annotations:
    {%- for key in item["test_annotations"].keys() %}
        {{ key }}: {{ item["test_annotations"][key] }}
    {%- endfor %}
    {%- endif %}
    {%- if item["query"] %}
    query: {{ item["query"] }}
    {%- endif %}
  {% endfor %}