{
    "kind": "StatefulSet",
    "apiVersion": "apps/v1",
    "metadata": {
        "name": "{{ statefulset_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/statefulsets/{{ statefulset_name }}",
		 {%- if metadata_labels %}
		"labels": {
			  "app": "{{ statefulset_name }}",
			  {%- for key in metadata_labels.keys() %}
              "{{ key }}": "{{ metadata_labels[key] }}"{% if not loop.last　%},{% endif %}
              {%- endfor %}
		}
		 {%- endif %}
    },
    "spec": {
        "replicas": {{ replicas | default(1)}},
        "selector": {
            "matchLabels": {
                "app": "{{ statefulset_name }}"
            }
        },
        "template": {
            "metadata": {
                "creationTimestamp": null,
                "labels": {
                    "app": "{{ statefulset_name }}"
                },
                 "annotations": {
                    "{{ default_label }}/creator": "{{ username }}"
                }
            },
            "spec": {
                {%- if volumes %}
				"volumes":[{
				    "name": "{{ volume_name }}",
				    "persistentVolumeClaim": {
                        "claimName": "{{ claimname }}"
				    }
				}],
				{%- endif %}
                "containers": [
                    {
                        "name": "{{ statefulset_name }}",
                        "image": "{{ image }}",
                        {%- if args %}
				        "args" :[
				           "{{ args_1 }}",
				           "{{ args_2 }}"
				        ],
				        {%- endif %}
				        {%- if command %}
				        "command" :[
				           "{{ command_1 }}"
				        ],
				        {%- endif %}
				        {%- if envFrom %}
				        "envFrom":[{
				              {%- if configMapRef %}
				              "configMapRef":{
				                 "name": "{{ configmap_name }}"
				              },
				              {%- endif %}
				              {%- if secretRef %}
				              "secretRef":{
				                 "name": "{{ secret_name }}"
				              }
				              {%- endif %}
				         }],
				        {%- endif %}
				        {%- if env %}
				        "env" :[{
				            "name": "{{ env_name }}",
				            "value":"{{ env_value }}"
				        }],
				        {%- endif %}
				        {%- if ports %}
				        "ports":[{
				             "protocol":"{{ protocol }}",
				             "hostPort": {{ hostPort }},
				             "containerPort": {{ containerPort }}
				         }],
				         {%- endif %}
                        "resources": {
                            "limits": {
							"cpu": "{{ cpu | default("50m") }}",
							"memory": "{{ memory | default("50Mi") }}"
                            }
                        },
                        {%- if volumeMounts %}
					    "volumeMounts":[{
					            "mountPath": "{{ mountpath }}",
					            "name": "{{ volume_name }}"
					    }],
					    {%- endif %}
                        {%- if livenessProbe %}
                        "livenessProbe":{
                            "failureThreshold": {{ failurethreshold }},
                            "httpGet": {
                            "path": "{{ path }}",
                            "port": {{ port }},
                            "scheme": "{{ scheme }}"
                            },
                        "initialDelaySeconds": {{ initialdelayseconds }},
                        "periodSeconds": {{ periodseconds }},
                        "successThreshold": {{ successthreshold }},
                        "timeoutSeconds": {{ timeoutSeconds }}
                        },
                        {%- endif %}
                        "terminationMessagePath": "/dev/termination-log",
                        "terminationMessagePolicy": "File",
                        "imagePullPolicy": "IfNotPresent"
                    }
                ],
                "restartPolicy": "Always",
                "terminationGracePeriodSeconds": 30,
                "dnsPolicy": "ClusterFirst",
                {%- if hostNetwork %}
				"hostNetwork": {{ hostnetwork }},
				{%- endif %}
                "securityContext": {},
                {% if affinity %}
                "affinity": {
                  "{{ affinity_type }}": {
                    "requiredDuringSchedulingIgnoredDuringExecution": [
                     {
                        "topologyKey": "kubernetes.io/hostname",
                        "labelSelector": {
                           "matchLabels": {
                             "app": "{{ deployment_name_affinify_base }}"
                        }
                      }
                    }
                  ]
                }
              },
              {% endif %}
                "schedulerName": "default-scheduler"
            }
        },
        "updateStrategy": {
            "type": "RollingUpdate",
            "rollingUpdate": {
				"partition": {{ partition | default(0)}}
            }
        }
    },
    "status": {}
}