{
    "kind": "Pod",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ pod_name }}",
        "namespace": "{{ namespace }}",
        "selfLink": "/api/v1/namespaces/{{ namespace }}/pods/{{ pod_name }}",
        "labels": {
            "app": "{{ statefulset_name }}",
        },
        "ownerReferences": [
            {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "controller": true,
                "blockOwnerDeletion": true
            }
        ]
    },
    "spec": {
        "containers": [
            {
                "name": "{{ statefulset_name }}",
                "image": "{{ image }}",
                "resources": {
                    "limits": {
                        "cpu": "{{ cpu | default("50m") }}",
                        "memory": "{{ memory | default("50Mi") }}"
                    }
                },
                "terminationMessagePath": "/dev/termination-log",
                "terminationMessagePolicy": "File",
                "imagePullPolicy": "IfNotPresent"
            }
        ],
        "restartPolicy": "Always",
        "terminationGracePeriodSeconds": 30,
        "dnsPolicy": "ClusterFirst",
        "serviceAccountName": "default",
        "serviceAccount": "default",
        "securityContext": {},
        "schedulerName": "default-scheduler",
        "priority": 0,
        "enableServiceLinks": true
    },
    "status": {
    }
}