{
    "kind": "StatefulSetList",
    "apiVersion": "apps/v1",
    "metadata": {
        "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/statefulsets"
    },
    "items": [
        {
            "metadata": {
                "name": "{{ statefulset_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/statefulsets/{{ statefulset_name }}"
            },
            "spec": {
                "replicas": {{ replicas | default(1)}},
                "selector": {
                    "matchLabels": {
                        "app": "{{ statefulset_name }}"
                    }
                },
                "template": {
                    "metadata": {
                        "creationTimestamp": null,
                        "labels": {
                            "app": "{{ statefulset_name }}"
                        }
                    },
                    "spec": {
                        "containers": [
                            {
                                "name": "{{ statefulset_name }}",
                                "image": "{{ image }}",
                                "resources": {
                                    "limits": {
                                        "cpu": "{{ cpu | default("50m") }}",
                                        "memory": "{{ memory | default("50Mi") }}"
                                    }
                                },
                                "terminationMessagePath": "/dev/termination-log",
                                "terminationMessagePolicy": "File",
                                "imagePullPolicy": "IfNotPresent"
                            }
                        ],
                        "restartPolicy": "Always",
                        "terminationGracePeriodSeconds": 30,
                        "dnsPolicy": "ClusterFirst",
                        "securityContext": {},
                        "schedulerName": "default-scheduler"
                    }
                },
                "updateStrategy": {
                    "type": "RollingUpdate",
                    "rollingUpdate": {
                        "partition": {{ partition | default(0)}}
                    }
                }
            },
            "status": {}
        }
    ]
}