objectMeta:
  annotations:
    {{ default_label }}/displayName: {{ display_name }}
  name: {{ pipeline_name }}
  namespace: {{ project_name }}
  labels:
    app: ""
    pipeline.kind: multi-branch
spec:
  runPolicy: {{ runpolicy|default("Serial") }}
  jenkinsBinding:
    name: {{ jenkins_bind_name }}
  source: {{ source }}
  strategy:
    jenkins:
      jenkinsfile: {{ jenkinsfile|default("") }}
      jenkinsfilePath: {{ jenkinsfilePath|default("Jenkinsfile") }}
      multiBranch:
        behaviours:
          discoverBranches: all
          discoverPRFromForks: all
          discoverPRFromOrigin: all
          discoverTags: true
          filterExpression: {{ filterExpression|default("master|PR-.*|MR-.*") }}
          forksTrust: all
        orhpaned:
          days: 1
          max: 50
  triggers:
    - cron:
        enabled: {{ cron|default("true") }}
        rule: "{{ rule|default("H/2 * * * *") }}"
        schedule: null
      type: "cron"
kind: "Pipelineconfig"