objectMeta:
  annotations:
    {{ default_label }}/displayName: {{ display_name }}
  name: {{ pipeline_name }}
  namespace: {{ project_name }}
  labels:
    app: ""
spec:
  runPolicy: {{ runpolicy|default("Serial") }}
  jenkinsBinding:
    name: {{ jenkins_bind_name }}
  strategy:
    jenkins:
      jenkinsfile: {{ jenkinsfile }}
      jenkinsfilePath: {{ jenkinsfilePath|default("Jenkinsfile") }}
  template:
    pipelineTemplateRef:
      kind: ClusterPipelineTemplate
      name: {{ pipeline_template_name }}
    values: {{ values }}
  triggers:
    - codeChange:
        enabled: {{ codeChange|default("false") }}
        periodicCheck: "{{ periodicCheck }}"
      type: "codeChange"
    - cron:
        enabled: {{ cron|default("false") }}
        rule: "{{ rule }}"
        schedule: null
      type: "cron"
typeMeta:
  kind: "Pipelineconfig"