objectMeta:
  annotations:
    {{ default_label }}/displayName: {{ display_name }}
  name: {{ pipeline_name }}
  namespace: {{ project_name }}
  labels:
    app: ""
spec:
  runPolicy: {{ runpolicy|default("Serial") }}
  jenkinsBinding:
    name: {{ jenkins_bind_name }}
  {%- if source %}
  source: {{ source }}
  {%- endif %}
  strategy:
    jenkins:
      jenkinsfile: {{ jenkinsfile|default("") }}
      jenkinsfilePath: {{ jenkinsfilePath|default("Jenkinsfile") }}
  triggers:
    - codeChange:
        enabled: {{ codeChange|default("false") }}
        periodicCheck: "{{ periodicCheck }}"
      type: "codeChange"
    - cron:
        enabled: {{ cron|default("false") }}
        rule: "{{ rule }}"
        schedule:
          weeks: ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
          times: ["00:00"]
      type: "cron"
typeMeta:
  kind: "Pipelineconfig"