{
 "metadata": {
  "name": "{{ deploy_name }}",
  "namespace": "{{ namespace }}",
  "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ deploy_name }}",
  "labels": {
   "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
   {%- for key, value in labels.items()  %}
   "{{ key }}": "{{ value }}",
   {%- endfor  %}
   "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
  },
  "annotations": {
   "deployment.kubernetes.io/revision": "1"
  }
 },
 "spec": {
  "replicas": 1,
  "selector": {
   "matchLabels": {
    "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
    {%- for key, value in labels.items()  %}
    "{{ key }}": "{{ value }}",
    {%- endfor  %}
    "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
   }
  },
  "template": {
   "metadata": {
    "labels": {
     "app": "deployment-{{ deploy_name }}",
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "key": "value",
     "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
     "version": "v1"
    },
    "annotations": {
     "sidecar.istio.io/inject": "false"
    }
   },
   "spec": {
    "volumes": [
     {
      "name": "volume-0",
      "configMap": {
       "name": "{{ cm_name }}",
       "defaultMode": 420
      }
     },
     {
      "name": "volume-1",
      "persistentVolumeClaim": {
       "claimName": "{{ pvc_name }}"
      }
     }
    ],
    "containers": [
     {
      "name": "{{ container_name }}",
      "image": "{{ image }}",
      "command": [
       "/run.sh"
      ],
      "args": [
       "sh"
      ],
      "envFrom": [
       {
        "secretRef": {
         "name": "{{ secret_name }}"
        }
       },
       {
        "configMapRef": {
         "name": "{{ cm_name }}"
        }
       }
      ],
      "env": [
       {%- for key, value in envs.items()  %}
        {
        "name": "{{ key }}",
        "value": "{{ value }}"
        }{%- if not loop.last %},{%- endif %}
        {%- endfor  %}
      ],
      "resources": {
       "limits": {
        "cpu": "50m",
        "memory": "50Mi"
       },
       "requests": {
        "cpu": "50m",
        "memory": "50Mi"
       }
      },
      "volumeMounts": [
       {
        "name": "volume-0",
        "mountPath": "/tmp"
       },
       {
        "name": "volume-1",
        "mountPath": "/tmp22"
       }
      ],
      "terminationMessagePath": "/dev/termination-log",
      "terminationMessagePolicy": "File",
      "imagePullPolicy": "IfNotPresent"
     }
    ],
    "restartPolicy": "Always",
    "terminationGracePeriodSeconds": 30,
    "dnsPolicy": "ClusterFirst",
    "securityContext": {},
    "imagePullSecrets": [
     {
      "name": "{{ devops_secret }}"
     }
    ],
    "schedulerName": "default-scheduler"
   }
  },
  "strategy": {
   "type": "RollingUpdate",
   "rollingUpdate": {
    "maxUnavailable": "25%",
    "maxSurge": "25%"
   }
  },
  "revisionHistoryLimit": 10,
  "progressDeadlineSeconds": 600
 }
}