{
	"objectMeta": {
		"name": "{{ pvc_name }}",
		"namespace": "{{ namespace }}",
		"annotations": {
			"{{ default_label }}/displayName": "{{ pvc_name}}"
		},
	},
	"typeMeta": {
		"kind": "PersistentVolumeClaim"
	},
	"appName": "",
	"volume": "",
	"capacity": null,
	"accessModes": [
		"{{ type }}"
	],
	"storageClass": "{{ scs_name }}"
}