{
 "objectMeta": {
  "name": "{{ secret_name }}",
  "namespace": "{{ namespace }}",
  "annotations": {
   "{{ default_label }}/displayName": "{{ secret_name }}"
  },
 },
 "typeMeta": {
  "kind": "Secret"
 },
 "type": "Opaque",
 "keys": {{ key }},
 "appName": ""
}