{
 "objectMeta": {
  "name": "{{ cm_name }}",
  "namespace": "{{ namespace }}",
  "annotations": {
   "{{ default_label }}/displayName": "{{ cm_name }}"
  },
 },
 "typeMeta": {
  "kind": "ConfigMap"
 },
 "appName": "{{ appname|default()}}",
 "data": {{ data }}
}