{
  "result": {
    "items": [
      {
        "action": "Create",
        "error": None
      },
      {%- if networkInfo %}
      {
        "action": "Create",
        "error": None
      },
      {
        "action": "Create",
        "error": None
      },
      {
        "action": "Create",
        "error": None
      },
      {%- endif %}
      {%- for deployment in deployments %}
      {
        "action": "Create",
        "error": None
      },
      {%- endfor %}
      {%- if networkInfo %}
      {
        "action": "Create",
        "error": None
      }
      {%- endif %}
    ]
  }
}