[
  {
    "group": "apps",
    "version": "v1",
    "kind": "Deployment",
    "name": "{{ deploy_name }}",
    "action": "Delete",
    "error": None
  },
  {
    "group": "app.k8s.io",
    "version": "v1beta1",
    "kind": "Application",
    "name": "{{ app_name }}",
    "action": "Delete",
    "error": None
  }
]