{
  "objectMeta": {
    "name": "{{ app_name }}",
    "namespace": "{{ namespace }}",
  },
  "description": "{{ app_name }}",
  "deployments": [
    {
      "objectMeta": {
        "name": "{{ app_name }}",
        "namespace": "{{ namespace }}",
        "labels": {
          "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
          "service.{{ default_label }}/name": "deployment-{{ app_name }}"
        },
        "annotations": {
        },
      },
      "injectSidecar": "false",
      "typeMeta": {
        "kind": "Deployment"
      },
      "podInfo": {
        "warnings": [],
        "pods": [
          {
            "status": "Running",
            "warnings": []
          }
        ],
        "current": {{ pod_num }},
        "desired": {{ pod_num }}
      },
      "status": "Succeeded",
      "visitAddresses": {
        "internal": [],
        "external": [],
        "nodeport": []
      },
      "containers": [
        {
          "name": "{{ app_name }}",
          "image": "{{ image }}",
          "resources": {
            "limits": {
              "cpu": "50m",
              "memory": "50Mi"
            },
            "requests": {
              "cpu": "50m",
              "memory": "50Mi"
            }
          },
          "terminationMessagePath": "/dev/termination-log",
          "terminationMessagePolicy": "File",
          "imagePullPolicy": "IfNotPresent"
        }
      ],
      "volumeInfos": [
        None
      ],
      "updateStrategy": {
        "type": "RollingUpdate",
        "rollingUpdate": {
          "maxUnavailable": "25%",
          "maxSurge": "25%"
        }
      },
      "networkInfo": {
        "externalNetworkInfos": [],
        "internalNetworkInfos": [],
        "externalNodePortInfos": []
      },
      "data": {
        "kind": "Deployment",
        "apiVersion": "apps/v1",
        "metadata": {
          "name": "{{ app_name }}",
          "namespace": "{{ namespace }}",
          "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ app_name }}",
          "labels": {
            "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
            "service.{{ default_label }}/name": "deployment-{{ app_name }}"
          },
          "annotations": {
          }
        },
        "spec": {
          "replicas": {{ pod_num }},
          "selector": {
            "matchLabels": {
              "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
              "service.{{ default_label }}/name": "deployment-{{ app_name }}"
            }
          },
          "template": {
            "metadata": {
              "creationTimestamp": None,
              "labels": {
                "app": "deployment-{{ app_name }}",
                "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
                "service.{{ default_label }}/name": "deployment-{{ app_name }}",
                "version": "v1"
              },
              "annotations": {
                "sidecar.istio.io/inject": "false",
              }
            },
            "spec": {
              "containers": [
                {
                  "name": "{{ app_name }}",
                  "image": "{{ image }}",
                  "resources": {
                    "limits": {
                      "cpu": "50m",
                      "memory": "50Mi"
                    },
                    "requests": {
                      "cpu": "50m",
                      "memory": "50Mi"
                    }
                  },
                  "terminationMessagePath": "/dev/termination-log",
                  "terminationMessagePolicy": "File",
                  "imagePullPolicy": "IfNotPresent"
                }
              ],
              "restartPolicy": "Always",
              "terminationGracePeriodSeconds": 30,
              "dnsPolicy": "ClusterFirst",
              "securityContext": {},
              "schedulerName": "default-scheduler"
            }
          },
          "strategy": {
            "type": "RollingUpdate",
            "rollingUpdate": {
              "maxUnavailable": "25%",
              "maxSurge": "25%"
            }
          },
          "revisionHistoryLimit": 10,
          "progressDeadlineSeconds": 600
        }
      },
      "imagePullSecrets": None,
      "horizontalPodAutoscalerList": [],
      "errors": []
    }
  ],
  "daemonsets": [],
  "statefulsets": [],
  "pipelines": [],
  "others": []
}