{
 "resources": [
  {
   "apiVersion": "apps/v1",
   "kind": "Deployment",
   "metadata": {
    "annotations": {
    },
    "labels": {
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "key": "value",
     "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
    },
    "name": "{{ deploy_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ deploy_name }}",
   },
   "spec": {
    "progressDeadlineSeconds": 600,
    "replicas": 1,
    "revisionHistoryLimit": 10,
    "selector": {
     "matchLabels": {
      "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
      "key": "value",
      "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
     }
    },
    "strategy": {
     "rollingUpdate": {
      "maxSurge": "25%",
      "maxUnavailable": "25%"
     },
     "type": "RollingUpdate"
    },
    "template": {
     "metadata": {
      "annotations": {
       "sidecar.istio.io/inject": "false"
      },
      "creationTimestamp": null,
      "labels": {
       "app": "deployment-{{ deploy_name }}",
       "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
       "key": "value",
       "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
       "version": "v1"
      }
     },
     "spec": {
      "containers": [
       {
        "args": [
         "sh"
        ],
        "command": [
         "/run.sh"
        ],
        "envFrom": [
           {%- if secret_name %}
           {
            "secretRef": {
             "name": "{{ secret_name }}"
            }
           },
           {%- endif %}
           {
            "configMapRef": {
             "name": "{{ cm_name }}"
            }
           }
          ],
          "env": [
           {%- for key, value in envs.items()  %}
            {
            "name": "{{ key }}",
            "value": "{{ value }}"
            }{%- if not loop.last %},{%- endif %}
            {%- endfor  %}
          ],
        "image": "{{ image }}",
        "imagePullPolicy": "IfNotPresent",
        "name": "{{ container_name }}",
        "resources": {
         "limits": {
          "cpu": "50m",
          "memory": "50Mi"
         },
         "requests": {
          "cpu": "50m",
          "memory": "50Mi"
         }
        },
        "terminationMessagePath": "/dev/termination-log",
        "terminationMessagePolicy": "File",
        "volumeMounts": [
         {
          "mountPath": "/tmp",
          "name": "volume-0"
         }
        ]
       }
      ],
      "dnsPolicy": "ClusterFirst",
      "imagePullSecrets": [
       {
        "name": "{{ devops_secret }}"
       }
      ],
      "restartPolicy": "Always",
      "schedulerName": "default-scheduler",
      "securityContext": {},
      "terminationGracePeriodSeconds": 30,
      "volumes": [
       {
        "configMap": {
         "defaultMode": 420,
         "name": "{{ cm_name }}"
        },
        "name": "volume-0"
       }
      ]
     }
    }
   },
  },
  {
   "apiVersion": "v1",
   "kind": "Service",
   "metadata": {
    "labels": {
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "sidecar.istio.io/inject": "false"
    },
    "namespace": "{{ namespace }}",
   },
   "spec": {
    "externalTrafficPolicy": "Cluster",
    "ports": [
     {
      "port": 80,
      "protocol": "TCP",
      "targetPort": 80
     }
    ],
    "selector": {
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "key": "value",
     "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
    },
    "sessionAffinity": "None",
    "type": "NodePort"
   },
   "status": {
    "loadBalancer": {}
   }
  },
  {
   "apiVersion": "v1",
   "kind": "Service",
   "metadata": {
    "labels": {
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "sidecar.istio.io/inject": "false"
    },
    "name": "test",
    "namespace": "{{ namespace }}",
    "selfLink": "/api/v1/namespaces/{{ namespace }}/services/test",
   },
   "spec": {
    "ports": [
     {
      "name": "tcp-test",
      "port": 80,
      "protocol": "TCP",
      "targetPort": 80
     }
    ],
    "selector": {
     "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
     "key": "value",
     "service.{{ default_label }}/name": "deployment-{{ deploy_name }}"
    },
    "sessionAffinity": "None",
    "type": "ClusterIP"
   },
   "status": {
    "loadBalancer": {}
   }
  }
 ],
 "errors": null
}