{
  "listMeta": {
  },
  "status": {
    "running": 0,
    "pending": 0,
    "failed": 0,
    "succeeded": 0
  },
  "replicaSets": [
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "1",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "2",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "3",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "4",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "5",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },

    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "6",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    },
    {
      "objectMeta": {
        "namespace": "{{ namespace }}",
        "labels": {
          "app": "deployment-{{ deploy_name }}",
          "app.{{ default_label }}/name": "{{ deploy_name }}.{{ namespace }}",
          "key": "value",
          "service.{{ default_label }}/name": "deployment-{{ deploy_name }}",
          "version": "v1"
        },
      },
      "typeMeta": {
        "kind": "ReplicaSet"
      },
      "revision": "7",
      "containerImages": [
        "{{ image }}"
      ],
      "initContainerImages": None
    }
  ],
  "errors": []
}