{
	"listMeta": {
		"totalItems": 1
	},
	"items": [{
		"objectMeta": {
			"name": "{{ pvc_name }}",
			"namespace": "{{ namespace }}",
            "annotations": {
               "{{ default_label }}/displayName": "{{ pvc_name }}"
            }
		},
		"typeMeta": {
			"kind": "PersistentVolumeClaim"
		},
		"appName": "",
		"capacity": {
			"storage": "1Gi"
		},
		"accessModes": [
			"{{ type }}"
		],
		"storageClass": "{{ scs_name }}"
	}],
	"errors": []
}