{
 "listMeta": {
  "totalItems": 1
 },
 "{{ items }}": [{
   "objectMeta": {
    "name": "{{ cm_name }}",
    "namespace": "{{ namespace }}",
    "annotations": {
     "{{ default_label }}/displayName": "{{ cm_name }}"
    },
   },
   "typeMeta": {
    "kind": "{{ kind }}"
   },
   {%- if kind == "Secret" %}
   "type": "Opaque",
   {%- endif %}
   "appName": "{{ appname|default()}}",
   "keys": {{ key }}
 }],
 "errors": []
}
