{
  "application": {
    "resources": [
      {
        "apiVersion": "apps/v1",
        "kind": "Deployment",
        "metadata": {
          "labels": {
            "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
            "service.{{ default_label }}/name": "deployment-{{ app_name }}"
          },
          "name": "{{ app_name }}",
          "namespace": "{{ namespace }}",
          "selfLink": "/apis/apps/v1/namespaces/{{ namespace }}/deployments/{{ app_name }}",
        },
        "spec": {
          "progressDeadlineSeconds": 600,
          "replicas": {{ pod_num }},
          "revisionHistoryLimit": 10,
          "selector": {
            "matchLabels": {
              "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
              "service.{{ default_label }}/name": "deployment-{{ app_name }}"
            }
          },
          "strategy": {
            "rollingUpdate": {
              "maxSurge": "25%",
              "maxUnavailable": "25%"
            },
            "type": "RollingUpdate"
          },
          "template": {
            "metadata": {
              "annotations": {
                "sidecar.istio.io/inject": "false",
              },
              "labels": {
                "app": "deployment-{{ app_name }}",
                "app.{{ default_label }}/name": "{{ app_name }}.{{ namespace }}",
                "service.{{ default_label }}/name": "deployment-{{ app_name }}",
                "version": "v1"
              }
            },
            "spec": {
              "containers": [
                {
                  "image": "{{ image }}",
                  "imagePullPolicy": "IfNotPresent",
                  "name": "{{ app_name }}",
                  "resources": {
                    "limits": {
                      "cpu": "50m",
                      "memory": "50Mi"
                    },
                    "requests": {
                      "cpu": "50m",
                      "memory": "50Mi"
                    }
                  },
                  "terminationMessagePath": "/dev/termination-log",
                  "terminationMessagePolicy": "File"
                }
              ],
              "dnsPolicy": "ClusterFirst",
              "restartPolicy": "Always",
              "schedulerName": "default-scheduler",
              "securityContext": {},
              "terminationGracePeriodSeconds": 30
            }
          }
        }
      }
    ]
  },
  "result": {
    "items": [
      {
        "group": "apps",
        "version": "v1",
        "kind": "Deployment",
        "name": "{{ app_name }}",
        "action": "{{ action|default("Update") }}",
        "error": None
      },
      {
        "group": "app.k8s.io",
        "version": "v1beta1",
        "kind": "Application",
        "name": "{{ app_name }}",
        "action": "{{ action|default("Update") }}",
        "error": None
      }
    ]
  }
}