{
	"apiVersion": "apps/v1",
	"kind": "DaemonSet",
	"metadata": {
		 {%- if metadata_labels %}
		"labels": {
			  "app": "{{ daemonset_name }}",
			  {%- for key in metadata_labels.keys() %}
              "{{ key }}": "{{ metadata_labels[key] }}"{% if not loop.last　%},{% endif %}
              {%- endfor %}
		},
		 {%- endif %}
		"name": "{{ daemonset_name }}",
		"namespace": "{{ namespace }}"
	},
	"spec": {
		"selector": {
			"matchLabels": {
				"app": "{{ daemonset_name }}"
			}
		},
		"updateStrategy":{
			"rollingUpdate":{
				"maxUnavailable": {{ maxunavailable | default(10)}}
			},
			"type":"RollingUpdate"
		},
		"template": {
			"metadata": {
				"labels": {
					"app": "{{ daemonset_name }}"
				},
				"annotations": {
                    "{{ default_label }}/creator": "{{ username }}"
                }
			},
			"spec": {
				"containers": [{
				    {%- if args %}
				    "args" :[
				       "{{ args_1 }}",
				       "{{ args_2 }}"
				    ],
				    {%- endif %}
				    {%- if command %}
				    "command" :[
				       "{{ command_1 }}"
				    ],
				    {%- endif %}
				    {%- if env %}
				    "env" :[{
				        "name": "{{ env_name }}",
				        "value":"{{ env_value }}"
				    },
				    {
                        "name": "{{ file_log_name }}",
				        "value": "{{ file_log_value }}"
				    },
				    {
				        "name": "{{ exclude_log_name }}",
				        "value": "{{ exclude_log_value }}"
				    }
				    ],
				    {%- endif %}
				    {%- if envFrom %}
				    "envFrom":[{
				          {%- if configMapRef %}
				          "configMapRef":{
				             "name": "{{ configmap_name }}"
				          },
				          {%- endif %}
				          {%- if secretRef %}
				          "secretRef":{
				             "name": "{{ secret_name }}"
				          }
				          {%- endif %}
				    }],
				    {%- endif %}
				    {%- if ports %}
				    "ports":[{
				         "protocol":"{{ protocol }}",
				         "hostPort": {{ hostPort }},
				         "containerPort": {{ containerPort }}
				    }],
				    {%- endif %}
					"image": "{{ image }}",
					"name": "{{ daemonset_name }}",
					{%- if livenessProbe %}
                    "livenessProbe":{
                        "failureThreshold": {{ failurethreshold }},
                        "httpGet": {
                           "path": "{{ path }}",
                           "port": {{ port }},
                           "scheme": "{{ scheme }}"
                        },
                        "initialDelaySeconds": {{ initialdelayseconds }},
                        "periodSeconds": {{ periodseconds }},
                        "successThreshold": {{ successthreshold }},
                        "timeoutSeconds": {{ timeoutSeconds }}
                    },
                    {%- endif %}
					"resources": {
						"limits": {
							"cpu": "{{ cpu | default("50m") }}",
							"memory": "{{ memory | default("50Mi") }}"
						}
					},
					{%- if volumeMounts %}
					"volumeMounts":[{
					    "mountPath": "{{ mountpath }}",
					    "name": "{{ volume_name }}"
					}]
					{%- endif %}
				}],
				{%- if hostNetwork %}
				"hostNetwork": {{ hostnetwork }},
				{%- endif %}
				{%- if volumes %}
				"volumes":[{
				    "name": "{{ volume_name }}",
				    "persistentVolumeClaim": {
                        "claimName": "{{ claimname }}"
				    }
				}],
				{%- endif %}
				{% if affinity %}
                "affinity": {
                  "{{ affinity_type }}": {
                    "requiredDuringSchedulingIgnoredDuringExecution": [
                     {
                        "topologyKey": "kubernetes.io/hostname",
                        "labelSelector": {
                           "matchLabels": {
                             "app": "{{ deployment_name_affinify_base }}"
                        }
                      }
                    }
                  ]
                }
              }
              {% endif %}
			}
		}
	}
}