kind: CronJob
apiVersion: batch/v1beta1
metadata:
  name: {{ cronjob_name }}
  namespace: {{ namespace }}
  selfLink: /apis/batch/v1beta1/namespaces/{{ namespace }}/cronjobs/{{ cronjob_name }}
spec:
  failedJobsHistoryLimit: {{ failedJobsHistoryLimit  | default(3) }}
  successfulJobsHistoryLimit: {{ successfulJobsHistoryLimit | default(3) }}
#  startingDeadlineSeconds: {{ startingDeadlineSeconds | default(1200) }}
  concurrencyPolicy: {{ concurrencyPolicy | default("Allow") }}
  suspend: {{ suspend | default("true") }}
  schedule: '{{ schedule | default("1 1 30 2 *") }}'
  jobTemplate:
    metadata:
      labels:
        cronjob.{{ default_label }}/name: {{ cronjob_name }}
      creationTimestamp: null
    spec:
      activeDeadlineSeconds: {{ activeDeadlineSeconds | default(600) }}
      backoffLimit: {{ backoffLimit | default(6) }}
      parallelism: {{ parallelism | default(1) }}
      completions: {{ completions | default(1) }}
      template:
        metadata:
          labels:
            project.{{ default_label }}/name: {{ project | default(namespace.split('-')[0]) }}
            cronjob.{{ default_label }}/name: {{ cronjob_name }}
          creationTimestamp: null
          annotations:
            sidecar.istio.io/inject: 'false'
            {{ default_label }}.io/creator: {{ username }}
        spec:
          dnsPolicy: ClusterFirst
          securityContext: {}
          schedulerName: default-scheduler
          terminationGracePeriodSeconds: {{ terminationGracePeriodSeconds | default(30) }}
          restartPolicy: {{ restartPolicy | default('Never') }}
          affinity: {}
          containers:
            - terminationMessagePath: /dev/termination-log
              name: {{ container_name |default(cronjob_name) }}
              image: '{{image | default("index.alauda.cn/alaudaorg/qaimages:helloworld") }}'
              terminationMessagePolicy: File
              command:
                - python
                - /entrypoint.py
              env:
                - name: SUCCESS_PERCENT
                  value: '{{ succes_percent | default(100) }}'
                - name: SLEEP_SECOND
                  value: '{{ sleep_second | default(2) }}'
              imagePullPolicy: Always
              resources:
                limits:
                  cpu: {{ cpu_limits | default('30m') }}
                  memory: {{ memory_limits | default('30M') }}