[{
    "apiVersion": "batch/v1",
    "kind": "Job",
    "metadata": {
        "labels": {
            "job_name": "{{ job_name }}"
        },
        "name": "{{ job_name }}",
        "namespace": "{{ namespace }}"
    },
    "spec": {
        "backoffLimit": {{ backoffLimit | default(6) }},
        "completions": {{ completions | default(1) }},
        "parallelism": {{ parallelism | default(1) }},
        "template": {
            "metadata": {
                "annotations": {
                    "sidecar.istio.io/inject": "false",
                    "{{ default_label }}/creator": "{{ username }}"
                },
                "creationTimestamp": null
            },
            "spec": {
                "containers": [{
                    "env": [{
                        "name": "SUCCESS_PERCENT",
                        "value": "{{ succes_percent | default(100) }}"
                    }, {
                        "name": "SLEEP_SECOND",
                        "value": "{{ sleep_second | default(10) }}"
                    }],
                    "image": "{{ image }}",
                    "command": ["python", "/entrypoint.py"],
                    "imagePullPolicy": "IfNotPresent",
                    "name": "{{ container_name|default(image.split('/')[-1].split(':')[0]) }}",
                    "resources": {
                        "limits": {
                            "cpu": "{{ cpu_limits | default("30m") }}",
                            "memory": "{{ memory_limits | default("30M") }}"
                        }
                    },
                    "terminationMessagePath": "/dev/termination-log",
                    "terminationMessagePolicy": "File",
                    "volumeMounts": []
                }],
                "dnsPolicy": "ClusterFirst",
                "restartPolicy": "Never",
                "schedulerName": "default-scheduler",
                "securityContext": {},
                "terminationGracePeriodSeconds": {{ terminationGracePeriodSeconds | default(30) }}
            }
        }
    }
}]