apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ scs_name }}
  {% if annotations %}
  annotations:
   {% for anno in annotations %}
   {{ anno }}: '{{ annotations[anno] }}'
   {% endfor %}
  {% else %}
  annotations: {}
  {% endif %}
provisioner: ceph.rook.io/block
{%- if parameters_clusterNamespace %}
parameters:
  clusterNamespace: {{ clustername }}
{%- endif %}
{%- if parameters_pool %}
parameters:
  pool: {{ pool }}
{%- endif %}