start: {{ start }}
end: {{ end }}
step: 60
queries:
- {%- if aggregator %}
  aggregator: {{ aggregator }}
  {%- endif %}
  id: '{{ id }}'
  labels:
  {%- for query_label in query_labels %}
      - {name: {{ query_label.name}}, value: {{ query_label.value }}}
  {%- endfor %}
  {%- if group_by %}
  group_by: {{ group_by }}
  {%- endif %}